2025/05/zBetYSiChWKEOyqk.json
{
  "active": false,
  "connections": {
    "Telegram2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-12T16:50:11.513Z",
  "id": "zBetYSiChWKEOyqk",
  "isArchived": false,
  "meta": null,
  "name": "Whitelabel PM",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=Datos registrados: \n\n{{ $json.toJsonString() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ec48fcef-9384-4543-a65f-bcb0c1ce3759",
      "name": "Telegram send the text",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2540,
        440
      ],
      "typeVersion": 1.2,
      "webhookId": "c6674bde-cd06-4989-b782-3d639a821545",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        500
      ],
      "id": "bd7b213f-4fd4-4057-a486-daadfdfd8182",
      "name": "Telegram2",
      "webhookId": "82e2e760-7d7e-4588-9ab9-5abb13635da7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "languaje",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        500
      ],
      "id": "95faa6b9-534c-464c-b6c1-1e96a71b1625",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "Resumen",
              "value": "={{$json.message.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        260
      ],
      "id": "677762bb-576f-40e8-9a20-2f145247858e",
      "name": "Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "Resumen",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        500
      ],
      "id": "97ca5ba0-eefc-43f5-ba9c-f558726d5603",
      "name": "audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1e01eafc-43d7-4cdb-9189-14031e8d2f92"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5001f27a-a966-4b1b-8c38-cda40143f5f5",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        280
      ],
      "id": "1234f6a9-0be3-4682-bec9-8b5864ac8421",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        260
      ],
      "id": "77490f68-d720-469d-a572-5dee08f4db69",
      "name": "Telegram",
      "webhookId": "8a25d0c5-7e8a-4147-8ea1-8da16d666d52",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "adas",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1060,
        260
      ],
      "id": "e4409f70-dec9-4536-b9df-49d9497d98e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "eas"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1180,
        660
      ],
      "id": "1ea30be9-c7ee-4c34-bed4-e7deb781b735",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1060,
        500
      ],
      "id": "5399c111-9825-42e5-b6ec-ae5a17443f35",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        -100
      ],
      "id": "19645100-1d15-4aa5-92d9-33fa7255b70b",
      "name": "Telegram Trigger",
      "webhookId": "5790148d-ca31-4d34-85fb-36e19ae9a72f",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f826ec1-c249-4090-a347-7e61aee52c8c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        260
      ],
      "id": "d52fafc8-11b9-45f6-a892-94f6db365b03",
      "name": "Webhook",
      "webhookId": "2f826ec1-c249-4090-a347-7e61aee52c8c"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-12T16:50:28.626Z",
  "versionId": "3f252366-8d6b-495f-9bcf-e6b1f471b58a"
}