Automation/2025/09/3DqsWMifQWcp4UFZ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Split Out2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Get Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Pedido1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobrantes1": {
      "main": [
        [
          {
            "node": "items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read stock data1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "items1": {
      "main": [
        [
          {
            "node": "Read stock data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Actualizar Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmados1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update": {
      "main": [
        [
          {
            "node": "Get Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Solicitud": {
      "main": [
        [
          {
            "node": "update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pedidos": {
      "main": [
        [
          {
            "node": "Update Status Pedido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Confirmados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update solicitud": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T17:16:41.892Z",
  "id": "3DqsWMifQWcp4UFZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2.2. Procesar Pedido Completo",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "confirmados",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        312
      ],
      "id": "1d75915c-32a3-4586-8518-ad8b1e2a6863",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 581820534,
          "mode": "list",
          "cachedResultName": "Solicitud a Proveedor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=581820534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "STATUS": "={{ $json.STATUS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NUM_PEDIDO",
              "displayName": "NUM_PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PROVEEDOR_ID",
              "displayName": "PROVEEDOR_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FINCA",
              "displayName": "FINCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_PRODUCTO",
              "displayName": "ID_PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRODUCTO",
              "displayName": "PRODUCTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CANT_PALETS",
              "displayName": "CANT_PALETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CANT_CAJAS",
              "displayName": "CANT_CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PALET",
              "displayName": "PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAJAS",
              "displayName": "CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ENTREGA",
              "displayName": "ENTREGA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comentarios",
              "displayName": "comentarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        992,
        216
      ],
      "id": "c01bef7e-8de7-45a9-990a-8f09009e95f3",
      "name": "Update solicitud",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        1296
      ],
      "id": "6a630bd5-a229-4266-8573-0864861ab879",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 88857449,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=88857449"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "STATUS": "={{ $json.STATUS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NUM_PEDIDO",
              "displayName": "NUM_PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIF_CLIENTE",
              "displayName": "CIF_CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE_CLIENTE",
              "displayName": "NOMBRE_CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRODUCTOS",
              "displayName": "PRODUCTOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PALET",
              "displayName": "PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CANT_PALETS",
              "displayName": "CANT_PALETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAJAS",
              "displayName": "CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CANT_CAJAS",
              "displayName": "CANT_CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        816,
        1232
      ],
      "id": "986cec07-ae57-4144-96fe-9c9d4401e62e",
      "name": "Update Status Pedido1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "# PEDIDOS CONFIRMADOS",
        "height": 720,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -96
      ],
      "id": "5252dc23-6c42-4878-9817-a160a9cf2149",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da2d074f-3bbb-47af-9b55-2928a63324c1",
              "leftValue": "={{ $json.sobrantes }}",
              "rightValue": "={{ $json.confirmados }}",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        912
      ],
      "id": "3af02686-74da-4f72-bc42-fbd22306a614",
      "name": "Sobrantes1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181798758,
          "mode": "list",
          "cachedResultName": "STOCK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=181798758"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PRODUCTOS",
              "lookupValue": "={{ $json.PRODUCTO }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        912
      ],
      "id": "511669f1-4c44-4797-9ce3-9b6386da3e6f",
      "name": "Read stock data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "sobrantes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        912
      ],
      "id": "01c2fc5d-fee7-48d4-950d-e4aa1db8a7ba",
      "name": "items1"
    },
    {
      "parameters": {
        "jsCode": "const existentes = $input.all(); // Datos del stock \nconst nuevos = $items(\"items1\"); // Lo que viene de \"items\"\n\nconst resultados = [];\n\nfor (const nuevo of nuevos) {\n  const prod = nuevo.json[\"PRODUCTO\"];\n  const palet = nuevo.json[\"PALET\"];\n  const cantPalets = parseInt(nuevo.json[\"CANT_PALETS\"] || 0);\n  const cajas = nuevo.json[\"CAJAS\"];\n  const cantCajas = parseInt(nuevo.json[\"CANT_CAJAS\"] || 0);\n\n  // Buscar si ya existe ese producto + palet en la hoja\n  const existente = existentes.find(e =>\n    e.json[\"PRODUCTOS\"] === prod &&\n    e.json[\"PALET\"] === palet\n  );\n\n  if (existente) {\n    const totalPalets = parseInt(existente.json[\"CANT_PALETS\"] || 0) + cantPalets;\n    const totalCajas = parseInt(existente.json[\"CANT_CAJAS\"] || 0) ;\n\n    resultados.push({\n      json: {\n        mode: 'update',\n        rowIndex: existente.json[\"row_number\"],\n        data: {\n          \"PRODUCTOS\": prod,\n          \"PALET\": palet,\n          \"CANT_PALETS\": totalPalets,\n          \"CAJAS\": cajas,\n          \"CANT_CAJAS\": totalCajas\n        }\n      }\n    });\n  } else {\n    resultados.push({\n      json: {\n        mode: 'append',\n        data: {\n          \"PRODUCTOS\": prod,\n          \"PALET\": palet,\n          \"CANT_PALETS\": cantPalets,\n          \"CAJAS\": cajas,\n          \"CANT_CAJAS\": cantCajas\n        }\n      }\n    });\n  }\n}\n\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        912
      ],
      "id": "c249ea9c-f4c4-4caf-a71b-0df2497172f9",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54c5b6a3-0c78-429e-bc2b-29fd283c992d",
              "leftValue": "={{$json[\"mode\"] === \"update\"}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        912
      ],
      "id": "23d5814e-3327-4de2-b96d-cacefa102921",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181798758,
          "mode": "list",
          "cachedResultName": "STOCK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=181798758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PALET": "={{ $json.data.PALET }}",
            "PRODUCTOS": "={{ $json.data.PRODUCTOS }}",
            "CAJAS": "={{ $json.data.CAJAS }}",
            "CANT_CAJAS": "={{ $json.data.CANT_CAJAS }}",
            "CANT_PALET": "={{ $json.data.CANT_PALETS }}",
            "FECHA": "={{ $now.format('yyyy/MM/dd') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRODUCTOS",
              "displayName": "PRODUCTOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PALET",
              "displayName": "PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CANT_PALET",
              "displayName": "CANT_PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAJAS",
              "displayName": "CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CANT_CAJAS",
              "displayName": "CANT_CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REPORTE",
              "displayName": "REPORTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1264,
        1008
      ],
      "id": "247795ec-94d0-4a3c-a154-767de31721fb",
      "name": "Add Stock1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "# SOBRANTES EN UN PEDIDO",
        "height": 340,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        816
      ],
      "id": "1826dc98-848e-49da-8f92-cc2360b7b21b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da2d074f-3bbb-47af-9b55-2928a63324c1",
              "leftValue": "={{ $json.confirmados }}",
              "rightValue": "={{ $json.confirmados }}",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        312
      ],
      "id": "4294b175-09f6-4cea-9667-6fe0071a6404",
      "name": "Confirmados1"
    },
    {
      "parameters": {
        "jsCode": "// Traer el pedido del nodo Loop Over Items5\nconst pedido = $('Loop Over Items5').first().json;\n\n// Las solicitudes vienen como input normal de este nodo\nconst solicitudes = $input.all().map(item => item.json);\n\n// Si no hay solicitudes, no se actualiza nada\nif (solicitudes.length === 0) {\n  return [];\n}\n\n// Verificar si hay alguna en estado 'Solicitado'\nconst haySolicitado = solicitudes.some(s => s.STATUS === 'Solicitado');\n\n// Si no hay ningún 'Solicitado', se pasa el pedido (de Loop Over Items5)\nif (!haySolicitado) {\n  return [{ json: pedido }];\n} else {\n  return []; // Si hay al menos un 'Solicitado', no se actualiza\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1232
      ],
      "id": "d348272a-98e0-48f9-9155-82519490b350",
      "name": "update"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 581820534,
          "mode": "list",
          "cachedResultName": "Solicitud a Proveedor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=581820534"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "NUM_PEDIDO",
              "lookupValue": "={{ $json.NUM_PEDIDO }}"
            },
            {
              "lookupColumn": "PRODUCTOS",
              "lookupValue": "={{ $json.PRODUCTO }}"
            },
            {
              "lookupColumn": "PALET",
              "lookupValue": "={{ $json.PALET }}"
            },
            {
              "lookupColumn": "CAJAS",
              "lookupValue": "={{ $json.CAJAS }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        144,
        1296
      ],
      "id": "f98119ae-e23f-4c2d-90a7-3960cbd287aa",
      "name": "Get Solicitud",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 88857449,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=88857449"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "NUM_PEDIDO",
              "lookupValue": "={{ $json.NUM_PEDIDO }}"
            },
            {
              "lookupColumn": "PRODUCTOS",
              "lookupValue": "={{ $json.PRODUCTO }}"
            },
            {
              "lookupColumn": "PALET",
              "lookupValue": "={{ $json.PALET }}"
            },
            {
              "lookupColumn": "CAJAS",
              "lookupValue": "={{ $json.CAJAS }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        1232
      ],
      "id": "2a032114-1704-4943-9eb9-bbc0fe15aeef",
      "name": "Get Pedidos",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        312
      ],
      "id": "3b0e7581-5519-4d29-b1dc-50eee4290ab7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181798758,
          "mode": "list",
          "cachedResultName": "STOCK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=181798758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PALET": "={{ $json.data.PALET }}",
            "PRODUCTOS": "={{ $json.data.PRODUCTOS }}",
            "CAJAS": "={{ $json.data.CAJAS }}",
            "CANT_CAJAS": "={{ $json.data.CANT_CAJAS }}",
            "row_number": "={{ $json.rowIndex }}",
            "CANT_PALET": "={{ $json.data.CANT_PALETS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRODUCTOS",
              "displayName": "PRODUCTOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PALET",
              "displayName": "PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CANT_PALET",
              "displayName": "CANT_PALET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAJAS",
              "displayName": "CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CANT_CAJAS",
              "displayName": "CANT_CAJAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REPORTE",
              "displayName": "REPORTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1264,
        816
      ],
      "id": "8f600856-134f-4fb8-8c43-125bba3d189f",
      "name": "Actualizar Stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=663372310202428",
        "recipientPhoneNumber": "=+{{ $json[\"Nº DE TELÉFONO\"] }}",
        "textBody": "={{ $('When Executed by Another Workflow').item.json[\"Mensaje para el proveedor\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        768,
        456
      ],
      "id": "79dd2830-f3d8-40ee-9a01-4fcfc945feab",
      "name": "Send message",
      "webhookId": "94a098c2-d9e3-4b8d-9efe-7804aaa5f0ab",
      "credentials": {
        "whatsAppApi": {
          "id": "5UFcul7y3FYz9Hxd",
          "name": "Estarter"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1996169798,
          "mode": "list",
          "cachedResultName": "Proveedores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=1996169798"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PROVEEDOR_ID",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.PROVEEDOR_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        456
      ],
      "id": "9feeaa40-93e9-4fd9-8460-73cd6bacdf7d",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        216
      ],
      "id": "5326a17b-24ea-4453-a20a-7b1e0f35ba1e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        144
      ],
      "id": "ace8b727-d5f3-4647-80e2-b17ba2660145",
      "name": "Wait",
      "webhookId": "4870dbe1-6b6d-4cf4-80ad-b437a273f05d"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "pedido_completo": true,
          "PROVEEDOR_ID": "2581",
          "faltantes": [],
          "sobrantes": [],
          "confirmados": [
            {
              "row_number": 6,
              "NUM_PEDIDO": "PED-3707",
              "FECHA": "09/09/2025",
              "PROVEEDOR_ID": "2581",
              "PRODUCTO": "PIMIENTO CALIFORNIA AMARILLO I/180/220 GR",
              "CANT_PALETS": 6,
              "CANT_CAJAS": 55,
              "PALET": "MADERA LEMPS 60X40X12 ETIQUETAS",
              "CAJAS": "BANDEJA GENERICA 60X40X18 ETIQUETA",
              "STATUS": "Confirmado"
            },
            {
              "row_number": 7,
              "NUM_PEDIDO": "PED-3707",
              "FECHA": "09/09/2025",
              "PROVEEDOR_ID": "2581",
              "PRODUCTO": "PIMIENTO CALIFORNIA ROJO I/160/180 GR",
              "CANT_PALETS": 1,
              "CANT_CAJAS": 55,
              "PALET": "MADERA 50X30X15 ETIQUETAS",
              "CAJAS": "BANDEJA GENERICA 60X40X18 ETIQUETA",
              "STATUS": "Confirmado"
            },
            {
              "row_number": 8,
              "NUM_PEDIDO": "PED-3707",
              "FECHA": "09/09/2025",
              "PROVEEDOR_ID": "2581",
              "PRODUCTO": "PIMIENTO CALIFORNIA VERDE I/20 PIEZAS",
              "CANT_PALETS": 6,
              "CANT_CAJAS": 55,
              "PALET": "BOX AZARBE",
              "CAJAS": "BANDEJA GENERICA 60X40X18 ETIQUETA",
              "STATUS": "Confirmado"
            },
            {
              "row_number": 9,
              "NUM_PEDIDO": "PED-3707",
              "FECHA": "09/09/2025",
              "PROVEEDOR_ID": "2581",
              "PRODUCTO": "PIMIENTO CALIFORNIA NARANJA I/20 PIEZAS",
              "CANT_PALETS": 6,
              "CANT_CAJAS": 55,
              "PALET": "BOX AZARBE",
              "CAJAS": "BANDEJA GENERICA 60X40X18 ETIQUETA",
              "STATUS": "Confirmado"
            }
          ],
          "comentarios_adicionales": "Todos los productos han sido confirmados por el encargado según el pedido original.",
          "Mensaje para el proveedor": "Estimado proveedor, el pedido ha sido completamente confirmado. Agradecemos su gestión."
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-30T20:19:28.997Z",
      "createdAt": "2025-11-30T20:19:28.997Z",
      "role": "workflow:owner",
      "workflowId": "3DqsWMifQWcp4UFZ",
      "projectId": "Io87W9y1OT3XcmCD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-09T17:14:55.367Z",
      "createdAt": "2025-09-09T17:14:55.367Z",
      "id": "d6o8G5WjfSQCxJdK",
      "name": "Whatsapp"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T05:05:15.869Z",
  "versionId": "4d75ab2c-90b1-4347-86ef-2b82c2752046"
}