Automation/2025/09/46qWYsdfHGvR7cKv.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent with Langfuse": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-09-22T23:10:50.302Z",
  "id": "46qWYsdfHGvR7cKv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Odoo",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "e97a88a4-c2e5-4c93-b6f7-95a3bbdc1514",
      "name": "Telegram Trigger",
      "webhookId": "2adc012d-38a4-4e46-a28a-4b2d289cc0d0",
      "credentials": {
        "telegramApi": {
          "id": "LgIJqq0407oZiVXB",
          "name": "reskilling test"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "langfuseMetadata": {
          "sessionId": "=SiD {{ $('Telegram Trigger').item.json.message.chat.id }}",
          "userId": "=UiD  {{ $('Telegram Trigger').item.json.message.chat.username }}"
        },
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "n8n-nodes-ai-agent-langfuse.agentWithLangfuse",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "be2cf707-f609-488f-8052-0a0fb0905d6e",
      "name": "AI Agent with Langfuse",
      "credentials": {
        "langfuseApi": {
          "id": "w2iYCn7gO1uaxvIg",
          "name": "Langfuse account"
        }
      }
    },
    {
      "parameters": {
        "promptName": "joker",
        "label": "latest",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "47fa34cf-545a-4f87-a6f2-8bc0fa378c88",
      "name": "Get a prompt",
      "credentials": {
        "langfuseApi": {
          "id": "w2iYCn7gO1uaxvIg",
          "name": "Langfuse account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        240
      ],
      "id": "10df5cef-b7f9-40c2-94c2-f57d7ba5ab20",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kuAijbcGhZkbdIR2",
          "name": "whitelabel mony"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "9f793eaa-ec51-4efb-8b94-e7385debaf1f",
      "name": "Send a text message",
      "webhookId": "a4d5ca40-13d4-4080-95e6-254702c98eee",
      "credentials": {
        "telegramApi": {
          "id": "iDWZwExyaEtemxqA",
          "name": "Workant"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -256
      ],
      "id": "64e5b563-d83e-4e13-b3fe-54277d376d41",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -16,
        288
      ],
      "id": "fae2127d-37f4-400d-8d83-5422984fd39c",
      "name": "Get many opportunities",
      "credentials": {
        "odooApi": {
          "id": "TLimMooAV1rLHwPf",
          "name": "Odoo account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 208179799,
          "message": {
            "message_id": 12,
            "from": {
              "id": 176878701,
              "is_bot": false,
              "first_name": "Andres",
              "last_name": "Corral",
              "username": "AndresCorralCOL",
              "language_code": "es"
            },
            "chat": {
              "id": 176878701,
              "first_name": "Andres",
              "last_name": "Corral",
              "username": "AndresCorralCOL",
              "type": "private"
            },
            "date": 1758582805,
            "text": "un mecanico arreglando un avion"
          }
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-22T23:10:50.302Z",
      "createdAt": "2025-09-22T23:10:50.302Z",
      "role": "workflow:owner",
      "workflowId": "46qWYsdfHGvR7cKv",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T16:26:07.004Z",
  "versionId": "c5032b0d-dcda-4267-a69e-ba03bba0093a"
}