Automation/2025/09/a1kD0gEWfCPcrmsW.json
{
  "active": false,
  "connections": {
    "Data": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get suplier": {
      "main": [
        [
          {
            "node": "audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quoteMessage": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "InitData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio": {
      "main": [
        [
          {
            "node": "InitData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get suplier1": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "quoteMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "type message Whatsap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Get suplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type message Whatsap": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get suplier1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get suplier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirection": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Get Resumen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Get Resumen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InitData": {
      "main": [
        [
          {
            "node": "Redirection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get Resumen": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get Resumen1": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completo?": {
      "main": [
        [
          {
            "node": "Pedido Completo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedido Incompleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedido Completo": {
      "main": [
        []
      ]
    },
    "Get solicitud": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T17:16:18.816Z",
  "id": "a1kD0gEWfCPcrmsW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2.1. recibir confirmacion",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762bc065-3bfd-4dd4-984b-9655acc99631",
              "name": "Message",
              "value": "={{ $('InitData').item.json.Message }}",
              "type": "string"
            },
            {
              "id": "464d2010-cc03-471f-9373-8ae771bdd7c8",
              "name": "quotedMessage.conversation",
              "value": "={{ $json.MENSAJE_RESUMEN }}",
              "type": "string"
            },
            {
              "id": "6c980848-43f4-49e7-b159-6b54f8a22149",
              "name": "Nº DE TELÉFONO",
              "value": "={{ $('InitData').item.json[\"Nº DE TELÉFONO\"] }}",
              "type": "string"
            },
            {
              "id": "6bb12cd5-d419-4618-a3af-86bed40d25a2",
              "name": "PROVEEDOR_ID",
              "value": "={{ $('InitData').item.json.PROVEEDOR_ID }}",
              "type": "number"
            },
            {
              "id": "fb039b84-777b-4b0e-ba05-b794521ce090",
              "name": "FINCA",
              "value": "={{ $('InitData').item.json.FINCA }}",
              "type": "string"
            },
            {
              "id": "750d6acb-efbd-48a6-89f9-f5e0ac68e612",
              "name": "FECHA",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "70ce485c-53b6-4e68-87e9-c46b197233cc",
              "name": "fecha mañana",
              "value": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        320
      ],
      "id": "577d4556-293e-4510-aa3c-018c4ace766c",
      "name": "Data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1996169798,
          "mode": "list",
          "cachedResultName": "Proveedores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=1996169798"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nº DE TELÉFONO",
              "lookupValue": "={{ $('Start').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1968,
        32
      ],
      "id": "4006ec85-32e3-423b-aa35-29142eac2143",
      "name": "Get suplier",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensaje = $json[\"quotedMessage\"].conversation;\n\n// Extraer fecha del pedido\nconst fechaRegex = /\\((\\d{2}\\/\\d{2}\\/\\d{4})\\)/;\nconst fechaMatch = mensaje.match(fechaRegex);\nconst fechaPedido = fechaMatch ? fechaMatch[1] : null;\n\n// Extraer bloques de pedidos\nconst pedidos = [];\nconst bloquesPedidos = mensaje.split(/➡️ \\*?pedido N°: ([\\w-]+)\\*?/i);\n\nfor (let i = 1; i < bloquesPedidos.length; i += 2) {\n    const numeroPedido = bloquesPedidos[i].trim();\n    const contenido = bloquesPedidos[i + 1];\n  \n\n    const productos = contenido\n        .split(/\\r?\\n/)\n        .filter(linea => linea.trim().startsWith('-'))\n        .map(linea => {\n            const itemMatch = linea.match(/^- (\\d+) x (\\d+) - ([^-]+) - ([^-]+) - (.+)$/);\n          // con decimales: (\\d+(?:\\.\\d+)?) x (\\d+(?:\\.\\d+)?)\n            if (itemMatch) {\n                return {\n                    NUM_PEDIDO: numeroPedido,\n                    PRODUCTO: itemMatch[3].trim(),\n                    CANT_PALETS: parseInt(itemMatch[1]),\n                    CANT_CAJAS: parseInt(itemMatch[2]),\n                    PALET: itemMatch[4].trim(),\n                    CAJAS: itemMatch[5].trim(),\n                };\n            }\n            return null;\n        })\n        .filter(Boolean); // Elimina null\n\n    pedidos.push(...productos);\n}\n\nreturn {\n    productos: pedidos,\n    totalRegistros: pedidos.length,\n    telefono: $json[\"Nº DE TELÉFONO\"],\n    FECHA: fechaPedido,\n    PROVEEDOR_ID: $input.first().json.PROVEEDOR_ID,\n    FINCA: $input.first().json.FINCA,\n    Message: $('Data').first().json.Message\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        224
      ],
      "id": "9d9b1fcc-2638-4ddf-a6eb-7169fbfe3f04",
      "name": "quoteMessage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📦 PEDIDO ORIGINAL:\n{{ JSON.stringify ($json.data) }}\n\n📨 MENSAJE DEL ENCARGADO:\n{{ $('quoteMessage').item.json.Message }}\n\nFECHA: {{ $('quoteMessage').item.json.FECHA }}\nPROVEEDOR_ID: {{ $('quoteMessage').item.json.PROVEEDOR_ID }}\nFINCA: {{ $('quoteMessage').item.json.FINCA }}\nTELEFONO: {{ $('quoteMessage').item.json.telefono }}",
        "options": {
          "systemMessage": "= Eres un sistema de validación de pedidos agrícolas. Tu tarea es analizar si el proveedor ha confirmado correctamente todos los productos del pedido, comparando el mensaje del encargado con la lista original de productos solicitados.\n\n ### Instrucciones importantes:\n\n * Los nombres de los campos en la respuesta JSON deben **mantenerse exactamente iguales**, incluyendo mayúsculas y guiones bajos. **No debes cambiar nunca ningún nombre de atributo.**\n\n   * Por ejemplo: `row_number`,  `PROVEEDOR_ID`, `NUM_PEDIDO`, `CANT_PALETS`, `CANT_CAJAS`, `PALET`, `CAJAS`, `FECHA`, `PRODUCTO`, `STATUS`, `comentarios`, `comentarios_adicionales`.\n   * Es obligatorio respetar estos nombres sin alteraciones ortográficas o estilísticas.\n\n ### Reglas de interpretación:\n\n * El formato del pedido es una lista de productos, cada uno con un número de pedido, descripción del producto, cantidad de palets, cantidad de cajas por palet, tipo de palet y tipo de caja.\n * En el mensaje del encargado, cuando menciona “X palets x Y” significa X palets con Y cajas por cada palet.\n * Si el mensaje indica solo “X palets” o “X x Y” pero no especifica cajas, debes asumir que cada palet tiene la misma cantidad de cajas solicitadas originalmente.\n * Si el mensaje dice menos o más palets o cajas que las solicitadas, debes marcar el producto como \"faltante\" o \"sobrante\", según sea el caso y \"confirmado\" solo la cantidad que confirma.\n * Si no menciona un producto en absoluto, se considera faltante, salvo que el mensaje dé a entender que el resto están confirmados (por ejemplo, si dice \"solo falta X\", \"ok\", etc.).\n * Si menciona más palets o más cajas que las solicitadas, se considera que hay sobrantes.\n * Debes ser tolerante con descripciones similares o nombres abreviados del producto.\n * Siempre que sea posible, haz coincidir los productos basándote en la descripción, aunque el nombre no coincida exactamente.\n\n ### Salida esperada:\n\n Devuelve una **respuesta en formato JSON válido** con la siguiente estructura exacta:\nincluyendo la cantidad de tokens consumidos en la consulta\n{\n  \"pedido_completo\": true | false,\n  \"PROVEEDOR_ID\": \"...\",\n  \"faltantes\": [\n    {\n      \"row_number\": \"...\",\n      \"NUM_PEDIDO\": \"...\",\n      \"FECHA\": \"...\", \n      \"PROVEEDOR_ID\": \"...\",\n      \"PRODUCTO\": \"...\",\n      \"CANT_PALETS\": ..., // solo la cantidad faltante\n      \"CANT_CAJAS\": ...,\n      \"PALET\": \"...\",\n      \"CAJAS\": \"...\",\n      \"STATUS\": \"Solicitado\",\n      \"COMENTARIOS\": \"...\" //  de la novedad\n    }\n  ],\n  \"sobrantes\": [\n    {\n      \"row_number\": \"...\",\n      \"NUM_PEDIDO\": \"...\",\n      \"FECHA\": \"...\",\n      \"PROVEEDOR_ID\": \"...\",\n      \"PRODUCTO\": \"...\",\n      \"CANT_PALETS\": ...,  // solo la cantidad sobrante\n      \"CANT_CAJAS\": ...,\n      \"PALET\": \"...\",\n      \"CAJAS\": \"...\"\n    }\n  ],\n  \"confirmados\": [\n    {\n      \"row_number\": \"...\",\n      \"NUM_PEDIDO\": \"...\",\n      \"FECHA\": \"...\", // siempre se debe enviar\n      \"PROVEEDOR_ID\": \"...\",  //siempre se debe enviar\n      \"PRODUCTO\": \"...\",\n      \"CANT_PALETS\": ..., // solo los confirmados\n      \"CANT_CAJAS\": ...,\n      \"PALET\": \"...\",\n      \"CAJAS\": \"...\",\n      \"STATUS\": \"Confirmado\",\n      \"COMENTARIOS\": \"...\" este valor solo se envia si hay novedades con el producto, si hay faltantes, si no se omite.\n    }\n  ],\n  \"comentarios_adicionales\": \"...\",\n  \"Mensaje para el proveedor\": \"...\" //siempre dar un breve mensaje de confirmacion al proveedor de los productos confirmados, los que rechazan se solicitaran a otro proveedor, pero no se le informa. \n}\n\nIMPORTANTE: Lo que se envia en faltante es porque el proveedor mensiono que no lo envia o envia incompleto, si el proveedor dice que lo envia mañana u otra cosa, no se agrega a faltantes ya que ahi es solo lo que el proveedor no va a enviar nunca, lo que rechaza."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        720,
        320
      ],
      "id": "5172b805-de36-4646-8df2-6d4ea2942ed5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        792,
        544
      ],
      "id": "a61f6f69-53d1-4fcd-afc6-2d4624e381d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = items[0].json.output;\n\n// Si viene con bloques ```json, extraer solo el contenido\nconst match = raw.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (match) {\n  raw = match[1];\n}\n\n// Intentamos parsear el contenido\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\"Error al parsear el JSON: \" + err.message);\n}\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        320
      ],
      "id": "7e87f8b1-c50d-4462-a3b6-e4074fba3820",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "message",
              "value": "={{ $('Start').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "596b4cf4-4f36-4866-ba6b-634ada561da2",
              "name": "Nº DE TELÉFONO",
              "value": "={{ $json['Nº DE TELÉFONO'] }}",
              "type": "string"
            },
            {
              "id": "97bc2ddd-9cb9-4e04-9d22-26b3cb00529e",
              "name": "PROVEEDOR_ID",
              "value": "={{ $json.PROVEEDOR_ID }}",
              "type": "number"
            },
            {
              "id": "1b5eed95-6e43-4fc1-9fe7-44aad49eb987",
              "name": "FINCA",
              "value": "={{ $json.FINCA }}",
              "type": "string"
            },
            {
              "id": "5996d872-ff68-44d5-b749-908248fc309d",
              "name": "ENCARGADO ",
              "value": "={{ $json[\"ENCARGADO \"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        224
      ],
      "id": "c444b243-d7f0-4cb2-9c92-af57f9c83fe2",
      "name": "Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "message",
              "value": "=<audio>{{ $('Transcribe a recording').item.json.content.parts[0].text }}</audio>",
              "type": "string"
            },
            {
              "id": "596b4cf4-4f36-4866-ba6b-634ada561da2",
              "name": "Nº DE TELÉFONO",
              "value": "={{ $('Get suplier').item.json['Nº DE TELÉFONO'] }}",
              "type": "string"
            },
            {
              "id": "f2f1490f-caf5-4310-80f8-c14e6aad0ccf",
              "name": "PROVEEDOR_ID",
              "value": "={{ $('Get suplier').item.json.PROVEEDOR_ID }}",
              "type": "number"
            },
            {
              "id": "f1334743-e4aa-4cc9-ac63-00f5d08004ee",
              "name": "FINCA",
              "value": "={{ $('Get suplier').item.json.FINCA }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        32
      ],
      "id": "2e884336-5fdd-4228-8d9a-98578a5c910e",
      "name": "audio"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1996169798,
          "mode": "list",
          "cachedResultName": "Proveedores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=1996169798"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nº DE TELÉFONO",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1968,
        224
      ],
      "id": "fbcc9c1c-fcbe-4458-ae08-02e3d5b7069f",
      "name": "Get suplier1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "# CONFIRMACION DE PEDIDO POR AUDIO O TEXTO.\n \n## SIEMPRE SE DEBE RESPONDER AL MENSAJE DE PEDIDO SOLICITADO\n\n## *Se confirma por el Whatsapp personal, donde se le hace el pedido al encargado, para que pueda responder a ese pedido*",
        "height": 340,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3680,
        128
      ],
      "id": "3089ff82-25ef-4810-89cd-38b40b8cc7d1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37d7de3c-cfea-4d2f-ac71-829ef510e978",
              "leftValue": "={{ $json.Message }}",
              "rightValue": ". .",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        320
      ],
      "id": "b2e0eb0d-cbed-450d-a523-649a200df0ab",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -176,
        416
      ],
      "id": "661d62c3-0b4a-4111-9221-960591d23b45",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=Eres un sistema de validación de integridad de atributos en respuestas JSON de pedidos agrícolas.\n\n### Objetivo:\nTu única responsabilidad es verificar que todos los objetos dentro de las listas (`faltantes`, `confirmados`, `sobrantes`) y atributos de nivel superior tengan los **nombres de atributos correctos**, completos y normalizados.\n\n### Instrucciones estrictas:\n\n- **No debes cambiar la lógica, contenido o clasificación de los productos.**\n- No debes agregar, eliminar ni mover productos entre listas. Solo debes corregir atributos incorrectos.\n- Asegúrate de que los nombres de los atributos coincidan exactamente con estos:\n\n```\nrow_number\nPROVEEDOR_ID\nNUM_PEDIDO\nFECHA\nPRODUCTO\nCANT_PALETS\nCANT_CAJAS\nPALET\nCAJAS\nSTATUS\nCOMENTARIOS\ncomentarios_adicionales\nMensaje para el proveedor\n\n````\n\n- Si hay atributos mal escritos (por ejemplo: `PROVEVEEDOR_ID`, `CANT_PALET`), debes corregirlos por su forma exacta.\n- Si algún atributo obligatorio está faltando (por ejemplo: `FECHA`, `PROVEEDOR_ID`), intenta completarlo utilizando un valor global presente en el JSON principal.\n- **Mantén el mismo orden de listas y elementos**, solo corrige los nombres y completa valores faltantes si es posible.\n- Los valores pueden ser string o numéricos según el agente 1. No modifiques el tipo, solo asegura que existan y estén bien nombrados.\n- Devuelve únicamente el JSON corregido (no uses markdown, ni comillas, ni etiquetas como ```json).\n\n### Entrada esperada:\nUn JSON generado por otro agente, que puede contener errores ortográficos o estructurales en los atributos.\n\n### Salida esperada:\nEl mismo JSON, corregido solo a nivel de nombres de atributos, asegurando la estructura correcta según el estándar definido.\n````\n\n---\n\n### Ejemplo de error que corregiría el agente:\n\n**Entrada:**\n\n{\n  \"confirmados\": [\n    {\n      \"row_number\": \"1\",\n      \"NUM_PEDIDO\": \"P-123\",\n      \"FECHA\": \"10/06/2025\",\n      \"PROVEVEEDOR_ID\": \"1234\",\n      \"PRODUCTO\": \"TOMATE\",\n      \"CANT_PALET\": 2,\n      \"CANT_CAJAS\": 40,\n      \"PALET\": \"EURO\",\n      \"CAJAS\": \"BANDEJA\",\n      \"STATUS\": \"Confirmado\"\n    }\n  ]\n}\n\n\n**Salida esperada:**\n\n{\n  \"confirmados\": [\n    {\n      \"row_number\": \"1\",\n      \"NUM_PEDIDO\": \"P-123\",\n      \"FECHA\": \"10/06/2025\",\n      \"PROVEEDOR_ID\": \"1234\",\n      \"PRODUCTO\": \"TOMATE\",\n      \"CANT_PALETS\": 2,\n      \"CANT_CAJAS\": 40,\n      \"PALET\": \"EURO\",\n      \"CAJAS\": \"BANDEJA\",\n      \"STATUS\": \"Confirmado\"\n    }\n  ]\n}\n\nMUY IMPORTANTE QUE EL ATRIBUTO 'PROVEEDOR_ID' debe enviarse exacto asi: 'PROVEEDOR_ID', si llega diferente como PROVEVEEDOR_ID, se corregira."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1072,
        320
      ],
      "id": "97877125-194e-404a-b5cc-b70ea74682b6",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "d9a181c2-9958-4ef9-a5d4-858e244b95e6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "=Message",
              "value": "={{ $json.Message }}"
            },
            {
              "key": "Telefono",
              "value": "={{ $json[\"Nº DE TELÉFONO\"] }}"
            },
            {
              "key": "Finca",
              "value": "={{ $json.FINCA }}"
            },
            {
              "key": "Fecha",
              "value": "={{ $json.FECHA }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -624,
        320
      ],
      "id": "fc54f9a4-1c53-4c2a-b546-67f7e4cfa6bd",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vpclqNpyPp6q7edo",
          "mode": "list",
          "cachedResultName": "3.1. Recibir reporte Ingresos/Egresos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -64
      ],
      "id": "1f811b67-94bd-4020-a8e4-63b51a51d14f",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38cdad62-0d9c-45bc-860e-9e03d107ba58"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82df4052-c480-44a2-9d09-c195d4bc6879",
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8713f778-dafe-4a52-916e-0289f4e7faad",
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "reaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reaction"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2864,
        112
      ],
      "id": "21d98668-e5a1-416c-bf34-01577dabb4a8",
      "name": "type message Whatsap"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "failed"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -3088,
        128
      ],
      "id": "37026526-950f-4d2d-a546-e235643acb11",
      "name": "Start",
      "webhookId": "3abf978e-dceb-4760-a0f5-731ad07d4575",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "CMyzr7b98eOqzK7L",
          "name": "Estarter"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Start').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2640,
        32
      ],
      "id": "d0a96d21-bc98-4808-8cab-dd002e119518",
      "name": "Download media",
      "webhookId": "9559feee-21a8-4e7f-b6d4-a947041fdc5f",
      "credentials": {
        "whatsAppApi": {
          "id": "vxdq4Km4pHfuOQVV",
          "name": "MONY"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        32
      ],
      "id": "3b64e8b8-1c90-434f-acf1-b34409ae240b",
      "name": "HTTP Request1",
      "credentials": {
        "whatsAppApi": {
          "id": "IzfsUgwJnA4EF09z",
          "name": "whatsap Valeia"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2192,
        32
      ],
      "id": "13f593da-d65c-4616-b5f8-da77e54b7870",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('Start').item.json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('Start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<audio>{{ $json.content.parts[0].text }}</audio>",
              "type": "string"
            },
            {
              "id": "8a4d2988-720e-46c1-9927-90f62d5ddd72",
              "name": "tags",
              "value": "={{ $('Start').item.json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        -288
      ],
      "id": "cfd53319-b54e-4e2a-a9a8-a4a723fcf6bf",
      "name": "DataAudio1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=663372310202428",
        "recipientPhoneNumber": "=+{{ $json.TELEFONO }}",
        "textBody": "={{ $json.MENSAJE_RESUMEN }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -848,
        128
      ],
      "id": "a24d97ce-74aa-4fb9-bd3c-1b6f8a4204c9",
      "name": "Send message",
      "webhookId": "8eec64b4-e21c-483e-b8b5-4e0a68306b24",
      "credentials": {
        "whatsAppApi": {
          "id": "5UFcul7y3FYz9Hxd",
          "name": "Estarter"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bf00ca1-5ec4-4954-9561-2265bce36b55",
                    "leftValue": "={{ $json.PROVEEDOR_ID }}",
                    "rightValue": "ingres",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No es Proveedor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.messages[0].text.body.toLowerCase().trim() }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "3c62d336-025a-4385-89ae-d7b05bb02177"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resumen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5536043-fd02-4a1c-a8ea-450bcae1b49d",
                    "leftValue": "={{ $('Start').item.json.messages[0].text.body.toLowerCase().trim() }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmacion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1296,
        112
      ],
      "id": "95fe0f47-f2b2-4352-a7fb-d7efea804b5b",
      "name": "Redirection"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762bc065-3bfd-4dd4-984b-9655acc99631",
              "name": "Message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "6c980848-43f4-49e7-b159-6b54f8a22149",
              "name": "Nº DE TELÉFONO",
              "value": "={{ $('Start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "6bb12cd5-d419-4618-a3af-86bed40d25a2",
              "name": "PROVEEDOR_ID",
              "value": "={{ $json.PROVEEDOR_ID }}",
              "type": "number"
            },
            {
              "id": "fb039b84-777b-4b0e-ba05-b794521ce090",
              "name": "FINCA",
              "value": "={{ $json.FINCA }}",
              "type": "string"
            },
            {
              "id": "750d6acb-efbd-48a6-89f9-f5e0ac68e612",
              "name": "FECHA",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "70ce485c-53b6-4e68-87e9-c46b197233cc",
              "name": "fecha mañana",
              "value": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        128
      ],
      "id": "ff9a04fd-e75d-4985-a276-25458131cfb7",
      "name": "InitData"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qfTWrTVXeRBj0XBv",
          "mode": "list",
          "cachedResultName": "Get Resumen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json.Message }}",
            "PROVEEDOR_ID": "={{ $json.PROVEEDOR_ID }}",
            "FINCA": "={{ $json.FINCA }}",
            "FECHA": "={{ $json.FECHA }}",
            "Nº DE TELÉFONO": "={{ $json[\"Nº DE TELÉFONO\"] }}",
            "fecha mañana": "={{ $json[\"fecha mañana\"] }}"
          },
          "matchingColumns": [
            "Message",
            "PROVEEDOR_ID",
            "FINCA",
            "FECHA"
          ],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROVEEDOR_ID",
              "displayName": "PROVEEDOR_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FINCA",
              "displayName": "FINCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nº DE TELÉFONO",
              "displayName": "Nº DE TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha mañana",
              "displayName": "fecha mañana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1072,
        128
      ],
      "name": "Call Get Resumen",
      "id": "e3f28649-896f-48ad-ac9c-6e0278c1f084"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qfTWrTVXeRBj0XBv",
          "mode": "list",
          "cachedResultName": "Get Resumen Solicitado"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json.Message }}",
            "PROVEEDOR_ID": "={{ $json.PROVEEDOR_ID }}",
            "FINCA": "={{ $json.FINCA }}",
            "FECHA": "={{ $json.FECHA }}",
            "Nº DE TELÉFONO": "={{ $json[\"Nº DE TELÉFONO\"] }}",
            "fecha mañana": "={{ $json[\"fecha mañana\"] }}"
          },
          "matchingColumns": [
            "Message",
            "PROVEEDOR_ID",
            "FINCA",
            "FECHA"
          ],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROVEEDOR_ID",
              "displayName": "PROVEEDOR_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FINCA",
              "displayName": "FINCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nº DE TELÉFONO",
              "displayName": "Nº DE TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha mañana",
              "displayName": "fecha mañana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1072,
        320
      ],
      "name": "Call Get Resumen1",
      "id": "7c752899-6ad6-4789-9741-781249697ae9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af2dcb53-1921-4058-b7fd-af10d62d9eea",
              "leftValue": "={{ $json.totalRegistros }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        224
      ],
      "id": "81c0f4ee-b48b-4592-837a-ed36500ffe34",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=663372310202428",
        "recipientPhoneNumber": "=+{{ $json.telefono }}",
        "textBody": "= no hay productos para confirmar el día de hoy. ¡Que tengas un excelente día! ☀️\nSi crees que es un error solicita un resumen",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "id": "6593b38f-00d8-4220-bc75-f1f548b9295d",
      "name": "Send message1",
      "webhookId": "8eec64b4-e21c-483e-b8b5-4e0a68306b24",
      "credentials": {
        "whatsAppApi": {
          "id": "5UFcul7y3FYz9Hxd",
          "name": "Estarter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4fdeb343-54a3-4338-b002-60acb12c2b6d",
              "leftValue": "={{ $json.faltantes }}",
              "rightValue": "true",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        320
      ],
      "id": "8df6df5a-040f-4156-9192-52420986e2fc",
      "name": "Completo?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3DqsWMifQWcp4UFZ",
          "mode": "list",
          "cachedResultName": "2.2. Procesar Pedido Completo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        224
      ],
      "id": "000b8007-4f4f-4c35-a9b1-8a9124a2a829",
      "name": "Pedido Completo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GVF4Uivw5Qj8iaTs",
          "mode": "list",
          "cachedResultName": "2.3. Procesar Pedido Incompleto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        416
      ],
      "id": "51eae9ba-38ee-4e68-b729-e02e2d3a89ab",
      "name": "Pedido Incompleto"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI",
          "mode": "list",
          "cachedResultName": "SOLICITUD DE PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 581820534,
          "mode": "list",
          "cachedResultName": "Solicitud a Proveedor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xq63Q1Fp7Oxu1ZCBgp8KPL8wJbjYmY6dH519Je813SI/edit#gid=581820534"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "Solicitado"
            },
            {
              "lookupColumn": "PROVEEDOR_ID",
              "lookupValue": "={{ $json.PROVEEDOR_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        272,
        320
      ],
      "id": "58d2ca8b-aa9b-46d9-8327-4bd18e271f2a",
      "name": "Get solicitud",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-09T17:16:18.816Z",
      "updatedAt": "2025-09-09T17:16:18.816Z",
      "role": "workflow:owner",
      "workflowId": "a1kD0gEWfCPcrmsW",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-09T17:14:55.367Z",
      "updatedAt": "2025-09-09T17:14:55.367Z",
      "id": "d6o8G5WjfSQCxJdK",
      "name": "Whatsapp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-11T22:06:34.465Z",
  "versionId": "029a3027-d37a-4c66-9274-91642ad85d2b"
}