Automation/2025/09/F4dk68vRtjLSdaXC.json
{
  "active": false,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-07T03:22:38.453Z",
  "id": "F4dk68vRtjLSdaXC",
  "isArchived": false,
  "meta": null,
  "name": "Spam",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Pedro",
        "remoteJid": "=+573175406065",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 1000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "c0db64dc-dee7-491e-ae5a-e80f6d888b69",
      "name": "Send Order",
      "credentials": {
        "evolutionApi": {
          "id": "OFo9A7x3qE1W1DKN",
          "name": "Evolution account Pedro"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n",
        "options": {
          "systemMessage": "=siempre envia un mensaje diferente al anterior de amor, ñ que sea un mensaje para conquistar a una chica, muy romantico, corto pero romantico, y muy amoroso, cada vez debe ser mas atrevido. siempre ten en cuenta los mensajes anteriores para continuar con el siguiente, que continuen la misma secuencia. \n\nno debes enviar nada mas aparte del mensaje \nno debes enviar el nombre siempre, cambialo por otras palabras diferentes como princesa, mi amor ... entre otras siempre diferentes "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        16
      ],
      "id": "997c76cc-5e85-49fa-a09f-4504e571e4f6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "22bd31ba-f5d0-4c8b-8e98-8bfeb1b6b248",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "q1",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "b0ea89e1-c853-4c5d-a2dc-293c770bcbc5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "82aa11c3-998c-4178-9d96-bd8e6c134d9c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-07T03:22:38.453Z",
      "updatedAt": "2025-09-07T03:22:38.453Z",
      "role": "workflow:owner",
      "workflowId": "F4dk68vRtjLSdaXC",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-13T03:08:20.403Z",
  "versionId": "aee5d510-5a87-4a0e-ab88-68fb5c6260ba"
}