Automation/2025/11/53iuoicidfW5wYIs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "buscar si equipo ya existe en db_equipos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar si equipo ya existe en db_equipos": {
      "main": [
        [
          {
            "node": "equipo existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "equipo existe?": {
      "main": [
        [
          {
            "node": "buscar equipo en db_cronograma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje: equipo NO existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar equipo en db_cronograma": {
      "main": [
        [
          {
            "node": "equipo existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "equipo existe": {
      "main": [
        [
          {
            "node": "mensaje: este equipo ya cuenta con un cronograma1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear nuevo cronograma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar proximos_mantenimientos": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validar fecha inicio_ultimo mantenimiento": {
      "main": [
        [
          {
            "node": "tiene fecha inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear nuevo cronograma": {
      "main": [
        [
          {
            "node": "Verificar proximos_mantenimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiene periocidad?": {
      "main": [
        [
          {
            "node": "validar fecha inicio_ultimo mantenimiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiene fecha inicial": {
      "main": [
        [
          {
            "node": "mensaje: este equipo ya cuenta con un cronograma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "crear fecha de mantenimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear fecha de mantenimiento": {
      "main": [
        [
          {
            "node": "Verificar proximos_mantenimientos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar proximos_mantenimientos1": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validar si tiene periciodad": {
      "main": [
        [
          {
            "node": "tiene periocidad?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "validar fecha inicio_ultimo mantenimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-23T02:02:05.996Z",
  "id": "53iuoicidfW5wYIs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "registrar_cronograma",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_registro"
            },
            {
              "name": "equipo_id"
            },
            {
              "name": "periocidad_tipo"
            },
            {
              "name": "inicio_o_ultimo_mantenimiento",
              "type": "number"
            },
            {
              "name": "proximos_mantenimientos"
            },
            {
              "name": "estado"
            },
            {
              "name": "notas"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        528
      ],
      "id": "2b36ab40-8366-432a-a3b0-411a5579ac45",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9add1b52-e351-4bb3-91b5-4b65959d7344",
              "name": "tipo_registro",
              "value": "={{ $json.tipo_registro }}",
              "type": "string"
            },
            {
              "id": "3772b988-562b-4718-bd2f-4b7486307d2c",
              "name": "equipo_id",
              "value": "={{ $json.equipo_id }}",
              "type": "string"
            },
            {
              "id": "d9dc68b7-256e-4b48-8021-c5acd4b6a9f8",
              "name": "periocidad_tipo",
              "value": "={{ $json.periocidad_tipo }}",
              "type": "string"
            },
            {
              "id": "41c5c7c9-98c8-4c75-9fba-95aa768b8b7d",
              "name": "inicio_o_ultimo_mantenimiento",
              "value": "={{ $json.inicio_o_ultimo_mantenimiento }}",
              "type": "string"
            },
            {
              "id": "cd4ea17d-cb1d-44b4-8925-2c40fb2909e3",
              "name": "proximos_mantenimientos",
              "value": "={{ $json.proximos_mantenimientos }}",
              "type": "string"
            },
            {
              "id": "12ab9baa-8251-409f-9bb5-bf988983c6b9",
              "name": "estado",
              "value": "={{ $json.estado }}",
              "type": "string"
            },
            {
              "id": "a08ae7ba-e543-4e9d-944e-c6efe761ad3f",
              "name": "notas",
              "value": "={{ $json.notas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        528
      ],
      "id": "90c14761-f704-4a03-8c39-6f97a25a4b51",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "486b0a59-492a-4113-adb6-5f9ce596280c",
              "name": "mensaje",
              "value": "=Eureka!!!, Se ha registrado el cronograma de mantenimiento para el equipo {{ $json.equipo_id }}.  La fecha de mantenimiento esta programada para el dia  {{ $json.inicio_o_ultimo_mantenimiento }}. Segun su periocidad  {{ $json.periocidad_tipo }}, el proximo mantenimiento debera ser el {{ $json.proximos_mantenimientos }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        528
      ],
      "id": "3a3dca77-1ad8-45bf-b660-601903203ce6",
      "name": "Response"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "returnAll": true,
        "options": {
          "where": "=(equipo_id,like,{{ $json.equipo_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -432,
        528
      ],
      "id": "851db371-d77b-4be1-9033-3e22b5e5cf20",
      "name": "buscar si equipo ya existe en db_equipos",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.equipo_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9ffa47e9-71c4-4438-938a-0fe9d3ea9ea9",
      "name": "equipo existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "returnAll": true,
        "options": {
          "fields": [
            []
          ],
          "where": "=(equipo_id,like,{{ $json.equipo_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        96,
        512
      ],
      "id": "9ba0ba0e-cfad-438d-a6fd-791b5e5f2339",
      "name": "buscar equipo en db_cronograma",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.equipo_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4aef1d86-49f4-42be-92cb-d735dbbcfa35",
      "name": "equipo existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        304,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a262ba7e-d10a-4df3-8f2c-10ebd9d93ac3",
              "name": "equipo_id",
              "value": "=el equipo {{ $('Edit Fields').item.json.equipo_id }} no se encuentra registrado en la base de datos. Débes registrarlo primero para añadir un cronograma.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        800
      ],
      "id": "c5aef143-5863-4077-b765-69e3d3061e01",
      "name": "Mensaje: equipo NO existe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf645ad-53cf-4d97-9178-d919b2099034",
              "name": "mensaje",
              "value": "=Este equipo ya cuenta con un cronograma de mantenimiento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -256
      ],
      "id": "f1a9723d-20c0-4f32-9f0c-9e892edf960e",
      "name": "mensaje: este equipo ya cuenta con un cronograma",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "options": {
          "where": "=(equipo_id,eq,{{ $json.equipo_id }})~and(inicio_o_ultimo_mantenimiento,{{ $json.inicio_o_ultimo_mantenimiento }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1360,
        -96
      ],
      "id": "15be66fb-8ee9-4ff5-abd3-707d00a346bb",
      "name": "validar fecha inicio_ultimo mantenimiento",
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "options": {
          "where": "=(equipo_id,like,{{ $json.equipo_id }})\n"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        864,
        528
      ],
      "id": "d7fda3c8-3edc-40f1-801a-750b9ec1ca6d",
      "name": "Verificar proximos_mantenimientos",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=equipo_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.equipo_id }}"
            },
            {
              "fieldName": "periocidad_tipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.periocidad_tipo }}"
            },
            {
              "fieldName": "inicio_o_ultimo_mantenimiento",
              "fieldValue": "={{ DateTime.fromFormat($('When Executed by Another Workflow').item.json.inicio_o_ultimo_mantenimiento, 'dd/MM/yyyy').toISODate() }}"
            },
            {
              "fieldName": "estado",
              "fieldValue": "={{ $('Edit Fields').item.json.estado }}"
            },
            {
              "fieldName": "notas",
              "fieldValue": "={{ $('Edit Fields').item.json.notas }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        576,
        528
      ],
      "id": "28dc0dc3-a4d8-45fa-8c65-4287d5a97d07",
      "name": "crear nuevo cronograma",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "inicio_o_ultimo_mantenimiento",
              "fieldValue": "={{ DateTime.fromFormat($('When Executed by Another Workflow').item.json.inicio_o_ultimo_mantenimiento, 'dd/MM/yyyy').toISODate() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1856,
        -80
      ],
      "id": "e4a73897-df1a-4ad2-aef6-3fa9f79abeda",
      "name": "crear fecha de mantenimiento",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed814175-6f54-460f-a3a9-2f1c85b3bdc6",
              "leftValue": "={{ $json.periocidad_tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -80
      ],
      "id": "60aff327-387f-4601-9bf0-3f98d2bb5dfc",
      "name": "tiene periocidad?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed814175-6f54-460f-a3a9-2f1c85b3bdc6",
              "leftValue": "={{ $json.periocidad_tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        -96
      ],
      "id": "f996d76c-577b-484b-8113-1f751b5a2ae4",
      "name": "tiene fecha inicial",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "options": {
          "where": "=(equipo_id,like,{{ $json.equipo_id }})\n"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2080,
        -80
      ],
      "id": "cd3a53b8-a4ff-4204-a7a5-e8c16a013381",
      "name": "Verificar proximos_mantenimientos1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "486b0a59-492a-4113-adb6-5f9ce596280c",
              "name": "mensaje",
              "value": "=Eureka!!!, Se ha registrado el cronograma de mantenimiento para el equipo {{ $json.equipo_id }}.  La fecha de mantenimiento esta programada para el dia  {{ $json.inicio_o_ultimo_mantenimiento }}. Segun su periocidad  {{ $json.periocidad_tipo }}, el proximo mantenimiento debera ser el {{ $json.proximos_mantenimientos }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        -80
      ],
      "id": "91029021-e65f-4d87-be48-abfb5c14703e",
      "name": "Response1",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "returnAll": true,
        "options": {
          "fields": [],
          "where": "=(equipo_id,like,{{ $json.equipo_id }})~and(periocidad_tipo,like,{{ $json.periocidad_tipo }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        560,
        -80
      ],
      "id": "1b6fbdc0-b4ed-43a1-8edf-36f67f6fae9f",
      "name": "validar si tiene periciodad",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "mgxqs7y4myuzrbg",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=equipo_id",
              "fieldValue": "={{ $('buscar equipo en db_cronograma').item.json.equipo_id }}"
            },
            {
              "fieldName": "periocidad_tipo",
              "fieldValue": "={{ $('Edit Fields').item.json.periocidad_tipo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1072,
        48
      ],
      "id": "2bb99300-6132-465e-ac87-328b995d284d",
      "name": "Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf645ad-53cf-4d97-9178-d919b2099034",
              "name": "mensaje",
              "value": "=Este equipo ya cuenta con un cronograma de mantenimiento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        272
      ],
      "id": "ee910689-d14f-48dc-a95b-bf135aee4152",
      "name": "mensaje: este equipo ya cuenta con un cronograma1"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-23T02:02:05.996Z",
      "createdAt": "2025-11-23T02:02:05.996Z",
      "role": "workflow:owner",
      "workflowId": "53iuoicidfW5wYIs",
      "projectId": "73zSRVHGJwFSDWts"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T14:33:46.248Z",
  "versionId": "8167c78e-b61b-4bff-8ac4-44bf61dbe7d7"
}