Automation/2025/11/53iuoicidfW5wYIs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "buscar si equipo ya existe en db_equipos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Registrar Nuevo Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener consecutivo equipo_id": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Nuevo Equipo": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar si equipo ya existe en db_equipos": {
      "main": [
        [
          {
            "node": "equipo existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "equipo existe?": {
      "main": [
        [
          {
            "node": "buscar equipo en db_cronograma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sede NO existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar equipo en db_cronograma": {
      "main": [
        [
          {
            "node": "equipo existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "equipo existe": {
      "main": [
        [
          {
            "node": "mensaje: serial ya existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener consecutivo equipo_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-23T02:02:05.996Z",
  "id": "53iuoicidfW5wYIs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "registrar_cronograma_mantenimientos",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_registro"
            },
            {
              "name": "equipo_id"
            },
            {
              "name": "inicio_o_ultimo_mantenimiento"
            },
            {
              "name": "proximos_mantenimientos"
            },
            {
              "name": "estado"
            },
            {
              "name": "notas"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        528
      ],
      "id": "2b36ab40-8366-432a-a3b0-411a5579ac45",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9add1b52-e351-4bb3-91b5-4b65959d7344",
              "name": "tipo_registro",
              "value": "={{ $json.tipo_registro }}",
              "type": "string"
            },
            {
              "id": "3772b988-562b-4718-bd2f-4b7486307d2c",
              "name": "equipo_id",
              "value": "={{ $json.inicio_o_ultimo_mantenimiento }}",
              "type": "string"
            },
            {
              "id": "d9dc68b7-256e-4b48-8021-c5acd4b6a9f8",
              "name": "proximos_mantenimientos",
              "value": "={{ $json.proximos_mantenimientos }}",
              "type": "string"
            },
            {
              "id": "41c5c7c9-98c8-4c75-9fba-95aa768b8b7d",
              "name": "estado",
              "value": "={{ $json.estado }}",
              "type": "string"
            },
            {
              "id": "a08ae7ba-e543-4e9d-944e-c6efe761ad3f",
              "name": "notas",
              "value": "={{ $json.notas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        528
      ],
      "id": "90c14761-f704-4a03-8c39-6f97a25a4b51",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const last = $input.first().json.equipo_id || \"eq000\";\nconst num = parseInt(last.replace(\"eq\", \"\")) + 1;\nconst padded = String(num).padStart(3, \"0\");\nreturn [{ id_equipo: `eq${padded}` }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        528
      ],
      "id": "87567697-befd-4dc2-b70f-80b29b567562",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "limit": 1,
        "options": {
          "sort": {
            "property": [
              {
                "field": "equipo_id",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        560,
        528
      ],
      "id": "00078ed3-1929-4113-acbf-a37d333dabcf",
      "name": "Obtener consecutivo equipo_id",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a262ba7e-d10a-4df3-8f2c-10ebd9d93ac3",
              "name": "cliente_id",
              "value": "El cliente no cuenta con una sede registrada para asociar el equipo. Debes crear la sede antes de continuar. ¿Deseas proceder con el registro de la sede ahora?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        752
      ],
      "id": "c5aef143-5863-4077-b765-69e3d3061e01",
      "name": "sede NO existe"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "equipo_id",
              "fieldValue": "={{ $json.id_equipo }}"
            },
            {
              "fieldName": "=sede_id",
              "fieldValue": "={{ $('buscar si equipo ya existe en db_equipos').item.json.sede_id }}"
            },
            {
              "fieldName": "ubicacion_equipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.ubicacion_equipo }}"
            },
            {
              "fieldName": "tipo_equipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.tipo_equipo }}"
            },
            {
              "fieldName": "marca",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.marca }}"
            },
            {
              "fieldName": "=modelo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.modelo }}"
            },
            {
              "fieldName": "serial",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.serial }}"
            },
            {
              "fieldName": "refrigerante",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.refrigante }}"
            },
            {
              "fieldName": "capacidad_toneladas",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.voltaje }}"
            },
            {
              "fieldName": "periocidad_tipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.periocidad_tipo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        992,
        528
      ],
      "id": "d7fda3c8-3edc-40f1-801a-750b9ec1ca6d",
      "name": "Registrar Nuevo Equipo",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "486b0a59-492a-4113-adb6-5f9ce596280c",
              "name": "mensaje",
              "value": "=El equipo {{ $json.marca }} {{ $json.tipo_equipo }} serial {{ $json.serial }} a sido registrado exitosamente en la base de datos con el id {{ $json.equipo_id }} y ha sido asignado a la {{ $json.sede_id }}. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        528
      ],
      "id": "3a3dca77-1ad8-45bf-b660-601903203ce6",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf645ad-53cf-4d97-9178-d919b2099034",
              "name": "mensaje",
              "value": "=el serial  {{ $json.serial }} pertenece al equipo {{ $json.marca }} {{ $json.tipo_equipo }} modelo {{ $json.modelo }} ya registrado en nuestra base de datos con el id {{ $json.equipo_id }}. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        304
      ],
      "id": "f1a9723d-20c0-4f32-9f0c-9e892edf960e",
      "name": "mensaje: serial ya existe"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mwq5ww7arsq1lzg",
        "returnAll": true,
        "options": {
          "where": "=(sede_id,like,{{ $json.sede_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -432,
        528
      ],
      "id": "851db371-d77b-4be1-9033-3e22b5e5cf20",
      "name": "buscar si equipo ya existe en db_equipos",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.client_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9ffa47e9-71c4-4438-938a-0fe9d3ea9ea9",
      "name": "equipo existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "returnAll": true,
        "options": {
          "where": "=(serial,like,{{ $('When Executed by Another Workflow').item.json.serial }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        96,
        512
      ],
      "id": "9ba0ba0e-cfad-438d-a6fd-791b5e5f2339",
      "name": "buscar equipo en db_cronograma",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.serial }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4aef1d86-49f4-42be-92cb-d735dbbcfa35",
      "name": "equipo existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        304,
        512
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "tipo_registro": "cronograma_mantenimiento",
          "equipo_id": "eq301",
          "inicio_o_ultimo_mantenimiento": "2023-11-15",
          "proximos_mantenimientos": "2024-02-15",
          "estado": "Pendiente",
          "notas": "Revisión de niveles de aceite y cambio de filtros."
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-23T02:02:05.996Z",
      "createdAt": "2025-11-23T02:02:05.996Z",
      "role": "workflow:owner",
      "workflowId": "53iuoicidfW5wYIs",
      "projectId": "73zSRVHGJwFSDWts"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T18:38:04.746Z",
  "versionId": "eedae4c6-9fa2-4115-8e1f-7e44e63822ca"
}