Automation/2025/11/5OwLL7WDDZYYnPQQ.json
{
  "active": false,
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Approved Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Posts": {
      "main": [
        [
          {
            "node": "Filter Posts Ready to Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts Ready to Publish": {
      "main": [
        [
          {
            "node": "Check If Posts Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Posts Found": {
      "main": [
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Update Post Status to Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T21:06:02.296Z",
  "id": "5OwLL7WDDZYYnPQQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Scheduled LinkedIn Post Publisher from NocoDB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "20ae5a9c-83cf-486d-af46-c9a5df2bac47",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        320,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "nocoDbTableName",
              "value": "Post Linkedin",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "statusApproved",
              "value": "approved",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "statusPublished",
              "value": "published",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "edbcb9d1-9be2-4378-8238-c0df59d11c06",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pbyzm06qhp068f6",
        "table": "={{ $('Workflow Configuration').first().json.nocoDbTableName }}",
        "returnAll": true,
        "options": {
          "where": "={{ '(status,eq,' + $('Workflow Configuration').first().json.statusApproved + ')' }}"
        }
      },
      "id": "2cc822ca-3ef1-4eb0-abc4-3b497ebca036",
      "name": "Get Approved Posts",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        768,
        128
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "od6Ytt9qSUlGVvJb",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst readyPosts = $input.all().filter(item => {\n  const scheduledDateTime = new Date(item.json.scheduled_datetime);\n  return scheduledDateTime <= now;\n});\n\nreturn readyPosts;"
      },
      "id": "71409b30-29d3-47bf-a3c4-c50cc0eec19a",
      "name": "Filter Posts Ready to Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c1c64cc-5063-446a-bfdd-f0505a45501c",
      "name": "Check If Posts Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        128
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "e2d07966-a586-40ed-96e3-dcea26a8ee8c",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1440,
        128
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "RKvVkjNC6vSbF76O",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pbyzm06qhp068f6",
        "table": "={{ $('Workflow Configuration').first().json.nocoDbTableName }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "={{ $('Workflow Configuration').first().json.statusPublished }}"
            },
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "bec8684b-8574-494b-90cc-ba4e08999fa7",
      "name": "Update Post Status to Published",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1664,
        128
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "od6Ytt9qSUlGVvJb",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T21:06:02.296Z",
      "createdAt": "2025-11-19T21:06:02.296Z",
      "role": "workflow:owner",
      "workflowId": "5OwLL7WDDZYYnPQQ",
      "projectId": "s48f8ZkY9UxLCxeQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T22:05:39.283Z",
  "versionId": "42edb923-520d-4f63-909e-6b26ca358825"
}