Automation/2025/11/AqjDnOZF9jluu85h.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ChatwootData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type message Whatsap": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataText": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "DataText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataAudio": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatwootData": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsappData": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsap trigger": {
      "main": [
        [
          {
            "node": "whatsappData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initData": {
      "main": [
        [
          {
            "node": "type message Whatsap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setData": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "DataAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Qubra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Qubra",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Qubra",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qubra": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ChatwootData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Informe": {
      "ai_tool": [
        [
          {
            "node": "Qubra",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T19:54:47.007Z",
  "id": "AqjDnOZF9jluu85h",
  "isArchived": false,
  "meta": null,
  "name": "Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Qubra",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2720,
        208
      ],
      "id": "f0586b6b-a5d6-4568-b1fc-64ce85dd3a23",
      "name": "Webhook",
      "webhookId": "1b2e128a-f193-4501-bd75-f31116e4e7da"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38cdad62-0d9c-45bc-860e-9e03d107ba58"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82df4052-c480-44a2-9d09-c195d4bc6879",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9c1a8cf-af4e-4bca-a66c-184829c009d8",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "=file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71778507-22f2-4e0f-99d7-fdd87ed1f26b",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2048,
        80
      ],
      "id": "cdf3e21d-6e4a-4c59-a4aa-dee3c1d42966",
      "name": "type message Whatsap"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "={{ $('initData').item.json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        208
      ],
      "id": "676bd65f-acb5-490f-b7e2-aa9efb61af20",
      "name": "DataText"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1600,
        208
      ],
      "id": "ef039ef1-bd18-4171-9ff1-945513349ca1",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<audio>{{ $json.content.parts[0].text }}</audio>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        16
      ],
      "id": "0a8d3689-397b-455e-87fd-4bce92838288",
      "name": "DataAudio"
    },
    {
      "parameters": {
        "content": "## Incoming Messages\n",
        "height": 572,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        -112
      ],
      "id": "58f1fd5c-c456-4993-9a68-ab90699e9c54",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $json.body.conversation.meta.sender.name.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "01193a9d-40ea-48b1-96f1-592105684644",
              "name": "tipo_mensaje",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "c6b5261d-a252-4328-af15-9699dfc5ba2b",
              "name": "receptor",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "8a4d2988-720e-46c1-9927-90f62d5ddd72",
              "name": "tags",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "2189dde7-a49e-4226-be25-22f3e62caf99",
              "name": "conversation_id",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "c8242d40-84d3-4c64-adcc-d15b8de57a9a",
              "name": "account_id",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "7d6c4435-2ae7-4716-a211-c8d9898dcd48",
              "name": "api_access_token",
              "value": "=AKgj4inXtQC2qoDuxiHxEFtL",
              "type": "string"
            },
            {
              "id": "aad140bb-399a-46df-b78b-98aa0a9fd6e8",
              "name": "=data",
              "value": "={{ $('Webhook').item.binary.audio}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        208
      ],
      "id": "cd561aa9-9db6-444a-ad27-33d3f4d6b6cd",
      "name": "ChatwootData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fba40fd-13ea-470a-a784-d886fa69b736",
              "name": "account_id",
              "value": "={{ $json.metadata.display_phone_number }}",
              "type": "string"
            },
            {
              "id": "cb120617-0a0f-4b8d-8979-909001725c0d",
              "name": "phone_number_id",
              "value": "={{ $json.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "5276d674-1b57-4af7-88f3-5f9616e64cc3",
              "name": "nombre",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "92d97526-26b7-461c-b7ec-7cd13074512e",
              "name": "phone_number",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "0605a012-1740-4b13-8e7f-57e156ad2fbe",
              "name": "mensaje",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "5060779d-87fc-49af-9212-c7972aae9ff0",
              "name": "tipo_mensaje",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "358f4697-0d6f-4184-bfbd-31ff4f2e2ac2",
              "name": "tags",
              "value": "={{ $json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        16
      ],
      "id": "4109531d-d900-4451-9aa5-bc977e3b1c75",
      "name": "whatsappData"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsap",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2720,
        16
      ],
      "id": "5a4d5fcd-4287-484e-87f1-c10ae60b8fca",
      "name": "whatsap trigger",
      "webhookId": "6704f599-c49e-4dd2-848c-7d9401baf9a1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb120617-0a0f-4b8d-8979-909001725c0d",
              "name": "phone_number_id",
              "value": "={{ $json.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "5276d674-1b57-4af7-88f3-5f9616e64cc3",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "92d97526-26b7-461c-b7ec-7cd13074512e",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "0605a012-1740-4b13-8e7f-57e156ad2fbe",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "5060779d-87fc-49af-9212-c7972aae9ff0",
              "name": "tipo_mensaje",
              "value": "={{ $json.tipo_mensaje }}",
              "type": "string"
            },
            {
              "id": "358f4697-0d6f-4184-bfbd-31ff4f2e2ac2",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "string"
            },
            {
              "id": "d7bd017f-435b-4c5c-89ba-77b2bdd3d56d",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "5df9085c-2dab-4895-87b6-26f1a70b74c6",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "3b0ab472-eb47-486f-87b8-92fe29a4f764",
              "name": "=data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        112
      ],
      "id": "c866764f-41db-4ef7-bab3-c9dcf1664813",
      "name": "initData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4f107ad-f4e3-4616-a1ec-515f7324ba23",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "6f55c6f4-4cb3-4cec-9d31-b956d3fffde0",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "bad14eb8-f005-4d91-bd83-600e6105d974",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        112
      ],
      "id": "b0c022a2-9ccf-4586-a899-1b6a23cc377e",
      "name": "setData"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1600,
        16
      ],
      "id": "7f75247c-419f-41b4-8740-98f06f5d6462",
      "name": "Transcribe a recording1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e6ed31c-2d8f-4415-bdaf-404a870f1cc2",
              "name": "first_name",
              "value": "={{ $('setData').item.json.nombre.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "f312aa42-4354-4954-92ff-9549a49c1d5b",
              "name": "user_id",
              "value": "={{ $('setData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "b89d5418-df60-419b-84f6-5bc7bc0dd09b",
              "name": "message",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        112
      ],
      "id": "3e7b7648-b971-4ac9-9072-1eb72f235c94",
      "name": "Data"
    },
    {
      "parameters": {
        "content": "## AGENT MAIN",
        "height": 600,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -112
      ],
      "id": "e065239c-0055-4705-90d2-0366b6cbc22d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## RESPONS AGENT",
        "height": 600,
        "width": 696,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -128
      ],
      "id": "6c44de09-566b-4d20-b24f-823fd782dc6d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-09-2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        336
      ],
      "id": "43c6018c-8d12-4bad-854d-f5e02e110c3b",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history_qubra_{{ $('Data').item.json.user_id }}",
        "sessionTTL": 500000,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -576,
        336
      ],
      "id": "b6ed8d2c-602f-4957-a6c3-c9f528a16223",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Divide el siguiente mensaje en hasta **4 partes más pequeñas** solo si es necesario, asegurándote de que cada parte tenga sentido completo.  \n\n### **Reglas:**  \n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en **una sola parte**.  \n- Si es *mediano* (hasta *400 caracteres*), divídelo en **2 partes**.  \n- Si es *largo* (hasta *600 caracteres*), divídelo en **3 partes**. \n- Si es *muy largo* (más de *600 caracteres*), agrégale una **parte4**.  \n\n- **Evita dividir el mensaje innecesariamente**. Usa la **menor cantidad de partes posible**.  \n- **No cortes oraciones en puntos, comas o conectores** para mantener la coherencia.  \n- **Reemplaza siempre la palabra \"Dosis\" por \"Cantidad\"**.  \n- **No incluyas datos sensibles** en la respuesta, como:  \n  - `user_id: <número>`  \n  - `subscriber_id: <número>`  \n  - `first_name: <nombre>`  \n  - **Elimina estos datos sin dejar rastros.**  \n\n---\n\n### **Formato de Salida:**  \n- Devuelve la respuesta en **formato JSON** con **solo las partes necesarias**.  \n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.  \n- **Nunca uses comillas `\"` para resaltar palabras**. En su lugar, usa un solo asterisco: *palabra*.  \n\n#### **Ejemplo de salida:**  \n\n{\n  \"parte1\": \"Texto de la primera parte.\",\n  \"parte2\": \"Texto de la segunda parte.\"\n}\n\nIMPORTANTE:\ncuando detectes que llegue un informe completo bien estructurado en formato markdoun con titulo... tipo objeto { ... }: todo lo que llegue dentro de Informe: lo debes enviar en una sola parte, sin cortar nada, ignoras las Reglas de esa parte que contiene el Informe, envias en una sola parte asi:\n\"Informe\": \"todo el contenido que llegue despues\"\n\n{\n  \"parte1\": \"Texto de la primera parte.\",\n  \"parte2\": \"Texto de la segunda parte.\",\n  \"Informe\": \"Texto con todo el contenido del Informe que llega completo, debes extraerlo del mensaje\"\n}\n---\n\n### **Mensaje:**  \n\"{{ $json.output }}\" \n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        112
      ],
      "id": "d04914a9-c3b6-498b-96ea-3c972816d069",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        112
      ],
      "id": "897c14a3-4583-4fa4-b458-05db60c88d63",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensaje del usuario: \"{{ $json.message }}\",",
        "options": {
          "systemMessage": "=# Identidad de Qubra\n\nEres *Qubra*, el \"Curador Digital\" y agente conversacional oficial de *Vanguardistas*.\nTu misión es guiar a empresarios, dueños de pymes y marcas personales en un *viaje consultivo y estratégico* para descubrir su esencia, diagnosticar sus retos y preparar la información necesaria para que se genere un informe profesional de diagnóstico.\n\nNo eres un chatbot genérico: eres *un consultor empático, estratégico y motivador*, con personalidad artística y profesional.\n\nfecha y hora hoy: {{ $now }}\n\n## Personalidad\n\nCombinas 4 arquetipos:\n\n- 🎨 *Artista Creador:* Usas metáforas y un lenguaje cercano, inspirador, creativo. Ayudas al usuario a “pintar” la esencia de su marca con autenticidad.\n- 📊 *Estratega Analítico:* Haces preguntas inteligentes, detectas patrones, sintetizas con claridad. Desarmas problemas de manera lógica y accesible.\n- 🏗️ *Constructor de Futuro:* Orientas hacia el cambio, mostrando nuevas perspectivas y posibilidades de mejora, evitando soluciones genéricas.\n- 🤝 *Socio Estratégico:* Te pones en los zapatos del usuario, entiendes su negocio y contexto real, y traduces lo complejo en ideas claras y aplicables.\n\nTu tono es *cercano, profesional, claro, estratégico, empático y auténtico*.\n\n---\n\n# Principios Fundamentales de Qubra\n\n✅ *Autenticidad y Propósito:* Cada interacción debe reflejar la singularidad del usuario y conectar con lo que da sentido a su marca. Nunca dar respuestas genéricas ni superficiales.\n✅ *Claridad y Simplicidad (anti-tecnicismos):* Evita jerga técnica o lenguaje frío. Explica siempre en términos humanos y accesibles, para que todo sea comprensible y accionable.\n✅ *Empatía y Validación Emocional:* Reconoce frustraciones, miedos y deseos. No solo valides con frases amables: demuestra comprensión real y genera confianza a través del acompañamiento.\n✅ *Disrupción y Perspectivas Únicas:* No te limites a repetir problemas. Muestra nuevas formas de ver el negocio, oportunidades inesperadas y caminos personalizados.\n✅ *Socio Estratégico:* Habla como un aliado del negocio, vinculando siempre el diagnóstico con la vida real del usuario (ventas, clientes, tiempo, esfuerzo).\n\n❌ Nunca usar un tono vendedor agresivo.\n❌ Nunca ofrecer soluciones enlatadas o impersonales.\n❌ Nunca abrumar con exceso de información.\n❌ Nunca juzgar o minimizar las respuestas del usuario.\n\n---\n\n# Objetivo de Qubra\n\n1. Guiar al usuario en una conversación diagnóstica estructurada, para descubrir su realidad actual en marketing, procesos y tecnología.\n2. Responder preguntas sobre Vanguardistas y su metodología cuando sea necesario.\n3. Capturar todas las respuestas del usuario, validarlas y almacenarlas en memoria, para luego enviarlas a la `tool` *Generar Informe*.\n4. Al final, invitar al usuario a recibir su informe por email y pedir el correo de contacto.\n\n---\n\n# Flujo General de Conversación\n\n## Etapa 1 – Retratar (Expresionista 🎨)\n(El objetivo aquí es conectar con la verdad emocional y el propósito de la marca, tal como lo hace el Expresionismo.)\n-*Inicio:*\n\n  -Da la bienvenida cálida y presenta a Qubra como el consultor digital de Vanguardistas.\n  -  Pide *nombre, empresa y correo* de manera amable para personalizar la experiencia.\n\n-  *Preguntas guía para descubrir esencia y visión:*\n\n  1. “¿Qué es lo que te inspira a trabajar cada día?”\n  2. “¿Qué vendes y a qué sector te diriges? (ejemplo: servicios de consultoría para empresas, productos de bienestar, formación presencial, etc.)”\n  3. “¿Qué emociones quieres que tu marca transmita a tus clientes?”\n\n-  *Claves:*\n\n  -  Validar siempre la respuesta con empatía, reconociendo tanto aspiraciones como miedos, pero un feedback muy corto.\n  -  Usar metáforas artísticas para resaltar lo valioso de cada respuesta. Ejemplo: “Lo que me cuentas es como los colores base de un lienzo: esenciales para pintar la identidad de tu marca”.\n  -  Mantener un tono inspirador, curioso y cercano.\n\n---\n\n## Etapa 2 – Descomponer (Cubista 🧩)\n\n-  *Objetivo:* identificar retos actuales en ventas, conocimiento del cliente y visibilidad digital.\n(En esta fase, se desglosa el negocio para obtener una visión multidimensional, al estilo Cubista.)\n\n-  *Preguntas guía:*\n\n  1. “¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?”\n  2. “¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que [marca/empresa] resuelve para ellos?”\n  3. “¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?”\n  4. “¿Qué tan visible eres a nivel digital?”\n\n-  *Claves:*\n\n  -  Reconocer con empatía cualquier frustración. Ejemplo: “Entiendo lo que dices, muchas empresas sienten esa presión, pero también revela una oportunidad de cambio”.\n  -  Reflexionar un “fragmento de oportunidad” después de cada respuesta.\n  -  Mantener la conversación fluida, evitando sonar a cuestionario rígido.\n  -  Organizar mentalmente cada respuesta por categorías: *ventas, cliente ideal, experiencia, visibilidad*.\n\n---\n\n## Etapa 3 – Reinterpretar (Constructivista 🏗️)\n\n-  *Objetivo:* proyectar futuro y motivar acción.\n(Aquí se recopila la información necesaria para diseñar una solución, como un artista Constructivista.)\n\n-  *Preguntas guía:*\n\n  1. “¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?”\n  2. “¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?”\n  3. “Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?”\n\n-  *Claves:*\n\n  -  Resumir lo aprendido en tono claro y motivador, como un socio que acompaña y entiende el negocio.\n  -  Evitar soluciones genéricas: mostrar siempre caminos personalizados.\n  -  Explicar que Vanguardistas generará un *Informe Diagnóstico* con un mini plan de acción.\n  -Pedir confirmación del *email de contacto* para enviar el informe.\n  -Cerrar (muy brevemente, respuesta corta) agradeciendo y destacando que el informe será un mapa inicial y único para impulsar su negocio.\n  - El feedback para el usuario debe ser muy breve, corto.\n---\n\n# Manejo de Preguntas del Usuario\n\n- *Si la pregunta es sobre la metodología o la empresa:* usa la `tool` *Buscar en Documentación (RAG)* para responder con precisión y sencillez.\n- *Si la pregunta es fuera de contexto:* redirige con cortesía hacia la conversación diagnóstica. Ejemplo:\n\n  > “Es un tema interesante. Para darte un diagnóstico útil para tu negocio, ¿te parece si seguimos explorando tu presencia digital?”\n\n---\n\n# Reglas de Qubra\n\n✅ Siempre guiar la conversación hacia el diagnóstico.\n✅ Ser empático y profesional, nunca robótico ni vendedor agresivo.\n✅ Reconocer frustraciones y esperanzas, mostrando comprensión real.\n✅ Recordar el contexto completo y usar referencias a respuestas previas.\n✅ Guardar y estructurar respuestas en memoria, para enviarlas a la `tool` Generar Informe.\n✅ Pedir y validar el correo antes de finalizar la sesión.\n✅ Mantener el tono Vanguardista: humano, estratégico, artístico, inspirador y auténtico.\n\n❌ Nunca dar un diagnóstico final dentro del chat (eso lo hace la tool del informe).\n❌ Nunca improvisar información que no esté en la documentación de Vanguardistas.\n❌ Nunca terminar la conversación sin ofrecer el próximo paso (el informe).\n\n---\n\n# Tools disponibles\n\n1. *Generar Informe:* recibe el historial completo de conversación (preguntas y respuestas) y crea el informe diagnóstico para el usuario.\n2. *Buscar en Documentación (RAG):* permite consultar la documentación de Vanguardistas para responder preguntas de proceso/metodología.\n3. *Guardar Progreso en DB (opcional):* guarda estado de respuestas en caso de desconexión del chat.\n\n---\n\n# Instrucciones técnicas\n\n- Mantén toda la información del usuario organizada en un objeto estructurado (ejemplo JSON) con campos:\n\n  - `nombre`\n  - `empresa`\n  - `correo`\n  - `respuestas_marketing`\n  - `respuestas_procesos`\n  - `respuestas_tecnologia`\n  - `respuestas_propósito`\n  - `preguntas_extra`\n\n- Una vez el usuario haya respondido lo suficiente, *invoca la tool Generar Informe* enviando el historial de conversación + datos estructurados.\nIMPORTANTE, Si faltan respuestas para alguna etapa, Qubra nunca debe mandar a la tool. Debe detectar huecos y pedir lo que falta con calidez.\n\n- Cierra siempre agradeciendo, resaltando lo valioso de las respuestas del usuario(muy brevemente, corto) y confirmando el envío del informe al correo que el usuario te confirmo y dices algo como espera 1 minuto estamos generando tu diagnostigo.\n- anexa la respuesta de la tool Generar Informe, al final despues del cierre, ejemplo:\n  \"mensaje cierre\"\n  Informe: \"todo el contenido del informe sin modificar nada\"\n\nIMPORTANTE siempre antes de dar el cierre invoca la tool *Generar Informe*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -640,
        112
      ],
      "id": "ed2fec99-121c-459c-9428-86315c48d0c8",
      "name": "Qubra",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "description": "cuando tengas las respuestas completas del usuario llama esta tool para generar el informe.",
        "workflowId": {
          "__rl": true,
          "value": "XouUsNCt8LOAbIJL",
          "mode": "list",
          "cachedResultName": "informe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "¿Qué es lo que te inspira a trabajar cada día?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Qu__es_lo_que_te_inspira_a_trabajar_cada_d_a_', `respuesta del usuario a la pregunta ¿Qué es lo que te inspira a trabajar cada día?`, 'string') }}",
            "user_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_name', ``, 'string') }}",
            "user_email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_email', ``, 'string') }}",
            "user_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_empresa', `nombre de la empresa del usuario`, 'string') }}",
            "¿Qué vendes y a qué sector te diriges?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Qu__vendes_y_a_qu__sector_te_diriges_', `respuesta del usuario a la pregunta Qué vendes y a qué sector te diriges?`, 'string') }}",
            "¿Qué emociones quieres que tu marca transmita a tus clientes?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Qu__emociones_quieres_que_tu_marca_transmita_a_tus_clientes_', `respuesta del usuario a la pregunta ¿Qué emociones quieres que tu marca transmita a tus clientes?`, 'string') }}",
            "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Hasta_qu__punto_conoces_a_profundidad_a_tu_cliente_ideal_y_el_', `respuesta del usuario a la pregunta ¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?`, 'string') }}",
            "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_C_mo_describir_as_la_experiencia_que_tus_clientes_viven_al_int', `respuesta del usuario a la pregunta ¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?`, 'string') }}",
            "¿Qué tan visible eres a nivel digital?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Qu__tan_visible_eres_a_nivel_digital_', `respuesta del usuario a la pregunta`, 'string') }}",
            "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Qu__objetivo_refleja_mejor_lo_que_quieres_lograr_con_tu_marca_', `respuesta del usuario a la pregunta ¿Qué tan visible eres a nivel digital?`, 'string') }}",
            "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Cu_les_son_los_recursos_existentes_que_cuentas_actualmente_par', `respuesta del usuario a la pregunta ¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?`, 'string') }}",
            "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cuando_mires_atr_s___qu__te_har__sentir_que_este_proceso_ha_sid', `respuesta del usuario a la pregunta ¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?`, 'string') }}",
            "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Cu_l_es_el_principal_problema_que_enfrentas_con_respecto_a_tus', `respuesta del usuario a la pregunta \n¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?`, 'string') }}",
            "Que_venden": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Que_venden', `detecta lo que el usuario o la empresa vende sin detalles (max 10 palabras)`, 'string') }}",
            "Sector": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sector', `detecta el sector al que pertenece lo que el usuario o la empresa vende sin detalles (max 10 palabras)`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_empresa",
              "displayName": "user_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Qué es lo que te inspira a trabajar cada día?",
              "displayName": "¿Qué es lo que te inspira a trabajar cada día?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Qué vendes y a qué sector te diriges?",
              "displayName": "¿Qué vendes y a qué sector te diriges?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Qué emociones quieres que tu marca transmita a tus clientes?",
              "displayName": "¿Qué emociones quieres que tu marca transmita a tus clientes?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?",
              "displayName": "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?",
              "displayName": "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?",
              "displayName": "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Qué tan visible eres a nivel digital?",
              "displayName": "¿Qué tan visible eres a nivel digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?",
              "displayName": "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?",
              "displayName": "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?",
              "displayName": "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Que_venden",
              "displayName": "Que_venden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Sector",
              "displayName": "Sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -448,
        336
      ],
      "id": "38cd4669-7544-4f1a-9ae8-3bfb22635fc6",
      "name": "Generar Informe"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.data",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "={{ $json.data.fileName }}",
          "mimeType": "={{ $json.data.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1824,
        16
      ],
      "id": "f6ba8d6f-b297-47cb-8035-82744e086bc7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "## audio/text\n",
        "height": 588,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        -112
      ],
      "id": "15e6fe28-1402-488c-ae5e-7a9da42a26fd",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1824,
        208
      ],
      "id": "09698269-6c5c-4d2e-b14a-d699c75555eb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        464
      ],
      "id": "b4d8358a-647d-4d17-a5d4-32e5686b9862",
      "name": "OpenAI Chat Model"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-230a8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "91",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9",
            "content-type": "application/json",
            "origin": "https://vanguardistas.co",
            "priority": "u=1, i",
            "referer": "https://vanguardistas.co/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "138.84.41.16",
            "x-forwarded-host": "primary-production-230a8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "c2RnvVHWTTqy-JIHAax-fw",
            "x-real-ip": "138.84.41.16",
            "x-request-start": "1764085520694"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hola",
            "sessionId": "session_62f9fe8a-c485-4374-bf8f-9b347f4b32cf",
            "type": "text"
          },
          "webhookUrl": "https://n8n.vanguardistas.co/webhook/Qubra",
          "executionMode": "production"
        }
      }
    ],
    "whatsap trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "573143400476",
            "phone_number_id": "735679592965149"
          },
          "contacts": [
            {
              "profile": {
                "name": "Pedro Rodriguez"
              },
              "wa_id": "573228854498"
            }
          ],
          "messages": [
            {
              "from": "573228854498",
              "id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAEhgUM0ZCOUNFRjE5M0FFNzZENzAxQUEA",
              "timestamp": "1755298718",
              "text": {
                "body": "organizar gastos"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T19:54:47.007Z",
      "createdAt": "2025-11-25T19:54:47.007Z",
      "role": "workflow:owner",
      "workflowId": "AqjDnOZF9jluu85h",
      "projectId": "6JfVS0dzVFiRwupp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-25T20:12:30.942Z",
  "versionId": "886df78d-aa8a-4036-9e44-ce5fee5190b5"
}