Automation/2025/11/clyOBudxjRZZYuYI.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T02:12:05.569Z",
  "id": "clyOBudxjRZZYuYI",
  "isArchived": true,
  "meta": null,
  "name": "Get Data Base",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "razon_social"
            }
          ]
        }
      },
      "id": "0b4da825-aa07-48fd-af8f-f5b94797bb9a",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        6656,
        -1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d0b0045-a070-40e1-9c80-98b7c04cc05a",
              "name": "Response",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7072,
        -1040
      ],
      "id": "d64aca5a-b704-4e22-ad07-31ce9c752310",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "psvqelib8ua87ly",
        "table": "miesc7wjregj42j",
        "returnAll": true,
        "options": {
          "where": "=(razon_social,like,{{ $json.razon_social }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        6864,
        -1040
      ],
      "id": "0db1e131-6a5d-49e5-b956-bb118ceb671f",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-02T02:12:05.569Z",
      "createdAt": "2025-11-02T02:12:05.569Z",
      "role": "workflow:owner",
      "workflowId": "clyOBudxjRZZYuYI",
      "projectId": "nfeOgNZ0Q89hgHph"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T15:57:38.296Z",
  "versionId": "ac876647-9246-4d90-b925-3b1b559a0bd5"
}