Automation/2025/11/GSJfVzBFNvms4WMh.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "buscar si ya existe el NIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar si ya existe el NIT": {
      "main": [
        [
          {
            "node": "cliente existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener consecutivo Ultima sede_id": {
      "main": [
        [
          {
            "node": "+1 al consecutivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear sede1": {
      "main": [
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente existe?": {
      "main": [
        [
          {
            "node": "Obtener consecutivo Ultima sede_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje: Cliente no existe en la BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+1 al consecutivo": {
      "main": [
        [
          {
            "node": "crear sede1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T20:24:01.712Z",
  "id": "GSJfVzBFNvms4WMh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "registrar_sedes",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_registro"
            },
            {
              "name": "cliente_id",
              "type": "number"
            },
            {
              "name": "nombre_sede"
            },
            {
              "name": "telefono_contacto",
              "type": "number"
            },
            {
              "name": "persona_encargada"
            },
            {
              "name": "direccion_sede"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        528
      ],
      "id": "465ae357-c543-47ee-9c98-3270abd4ccb1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9add1b52-e351-4bb3-91b5-4b65959d7344",
              "name": "tipo_registro",
              "value": "={{ $json.tipo_registro }}",
              "type": "string"
            },
            {
              "id": "3772b988-562b-4718-bd2f-4b7486307d2c",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "d9dc68b7-256e-4b48-8021-c5acd4b6a9f8",
              "name": "nombre_sede",
              "value": "={{ $json.nombre_sede }}",
              "type": "string"
            },
            {
              "id": "41c5c7c9-98c8-4c75-9fba-95aa768b8b7d",
              "name": "telefono_contacto",
              "value": "={{ $json.telefono_contacto }}",
              "type": "string"
            },
            {
              "id": "a08ae7ba-e543-4e9d-944e-c6efe761ad3f",
              "name": "persona_encargada",
              "value": "={{ $json.persona_encargada }}",
              "type": "string"
            },
            {
              "id": "18f60e1f-b41f-46a3-bd79-fc7b5b080d79",
              "name": "direccion_sede",
              "value": "={{ $json.direccion_sede }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        528
      ],
      "id": "3f444f06-9296-485b-b0c4-c7f61cb808e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "returnAll": true,
        "options": {
          "where": "=(client_id,like,{{ $json.cliente_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -224,
        528
      ],
      "id": "04b077de-5553-466d-929d-72930c31f0cc",
      "name": "buscar si ya existe el NIT",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mwq5ww7arsq1lzg",
        "limit": 1,
        "options": {
          "sort": {
            "property": [
              {
                "field": "sede_id",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        288,
        512
      ],
      "id": "dd8d0460-863c-44e9-b296-244317d59fa5",
      "name": "Obtener consecutivo Ultima sede_id",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pt2jl7502mka8xd",
        "table": "mwq5ww7arsq1lzg",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "sede_id",
              "fieldValue": "={{ $json.sede_id }}"
            },
            {
              "fieldName": "client_id",
              "fieldValue": "={{ $('Edit Fields').item.json.cliente_id }}"
            },
            {
              "fieldName": "=nombre_sede",
              "fieldValue": "={{ $('Edit Fields').item.json.nombre_sede }}"
            },
            {
              "fieldName": "telefono_contacto",
              "fieldValue": "={{ $('Edit Fields').item.json.telefono_contacto }}"
            },
            {
              "fieldName": "persona_encargada",
              "fieldValue": "={{ $('Edit Fields').item.json.persona_encargada }}"
            },
            {
              "fieldName": "direccion_sede",
              "fieldValue": "={{ $('Edit Fields').item.json.direccion_sede }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        768,
        512
      ],
      "id": "5c02b18a-6a76-427b-9fa3-2d9682484d60",
      "name": "crear sede1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a262ba7e-d10a-4df3-8f2c-10ebd9d93ac3",
              "name": "cliente_id",
              "value": "Lo siento, no he podido procesar tu solicitud. Este cliente aún no existe en nuestra base de datos; debes crearlo primero para poder asignar una sede.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        768
      ],
      "id": "7d7b35cb-5125-4740-8db0-2792f61853ef",
      "name": "Mensaje: Cliente no existe en la BD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e83e06bf-dc42-4eb5-8356-717b222644db",
              "name": "mensaje",
              "value": "=La  {{ $('Edit Fields').item.json.nombre_sede }} fue registrada con exito. ¿deseas registar otra sede para este cliente?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        512
      ],
      "id": "e7e08db1-e18f-44b6-ba8d-f3459252b349",
      "name": "response1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.client_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3c96025b-d049-4847-a72a-0a2c1a29b356",
      "name": "cliente existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const last =$input.first().json.sede_id ;\nconst num = parseInt(last.replace(\"sede\", \"\")) + 1;\nconst padded = String(num).padStart(3, \"0\");\nreturn [{ sede_id: `sede${padded}` }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        512
      ],
      "id": "9b509a85-963f-465b-9d9e-96bee01149db",
      "name": "+1 al consecutivo"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-22T20:24:01.712Z",
      "createdAt": "2025-11-22T20:24:01.712Z",
      "role": "workflow:owner",
      "workflowId": "GSJfVzBFNvms4WMh",
      "projectId": "73zSRVHGJwFSDWts"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T03:51:39.588Z",
  "versionId": "4521b7aa-915c-4deb-a5f2-287aa114f09a"
}