Automation/2025/11/Irezqp5cpE1NWARa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "If5",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update cliente_id (No.documento)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "update cliente_id (No.documento)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "update tipo_documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "update razon_Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "update telefono_contacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "update persona_encargada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "update direccion_principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update razon_Social": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update tipo_documento": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-26T14:36:17.540Z",
  "id": "Irezqp5cpE1NWARa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update_historicos",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_registro"
            },
            {
              "name": "cliente_id",
              "type": "number"
            },
            {
              "name": "tipo_documento"
            },
            {
              "name": "razon_social"
            },
            {
              "name": "telefono_contacto",
              "type": "number"
            },
            {
              "name": "persona_encargada"
            },
            {
              "name": "direccion_principal"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1696,
        752
      ],
      "id": "c2d8082f-ebb3-4b6a-b428-5ce2679f0e4d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst searchTerm = $input.first().json.razon_social\n\nreturn items.filter(item => {\n  const nombre = $input.first().json.razon_social.toLowerCase();\n  const palabrasBusqueda = searchTerm.toLowerCase().trim().split(/\\s+/); // divide por espacios\n\n  // Verifica que TODAS las palabras de búsqueda estén en el nombre\n  return palabrasBusqueda.every(palabra => nombre.includes(palabra));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        752
      ],
      "id": "d4784d99-a529-4e9f-b2bb-105d2c2fd5b9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfcc153a-ac4d-4e78-b815-62ead8b9dea4",
              "name": "Id",
              "value": "={{ $json.Id }}",
              "type": "number"
            },
            {
              "id": "ca3bc265-1813-45f2-85a9-29f5f8986679",
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "344433b6-3996-499d-9892-cc53d3e3bc4c",
              "name": "tipo_documento",
              "value": "={{ $('When Executed by Another Workflow').item.json.tipo_documento }}",
              "type": "string"
            },
            {
              "id": "c100ca53-d897-47c4-acd2-8ac164895cb1",
              "name": "razon_social",
              "value": "={{ $('When Executed by Another Workflow').item.json.razon_social }}",
              "type": "string"
            },
            {
              "id": "c90964cc-e307-4902-9795-bcbe330feb9c",
              "name": "telefono_contacto",
              "value": "={{ $('When Executed by Another Workflow').item.json.telefono_contacto }}",
              "type": "string"
            },
            {
              "id": "a31bfa76-16df-4425-a421-5bc91b6b6e60",
              "name": "persona_encargada",
              "value": "={{ $json.persona_encargada }}",
              "type": "string"
            },
            {
              "id": "f99b537e-5743-413c-9870-0e09122d5e7d",
              "name": "direccion_principal",
              "value": "={{ $('When Executed by Another Workflow').item.json.direccion_principal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        752
      ],
      "id": "f044093e-7aab-46fa-ad24-40859a29d7f6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "returnAll": true,
        "options": {
          "where": "=(razon_social_unaccent,like,%{{ $json.razon_social.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toUpperCase() }}%)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -1232,
        752
      ],
      "id": "3fd54b55-a961-4b0f-abbc-84d0aeabc6d0",
      "name": "Buscar cliente",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Edit Fields2').item.json.Id }}"
            },
            {
              "fieldName": "tipo_documento",
              "fieldValue": "={{ $('Edit Fields2').item.json.tipo_documento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        400
      ],
      "id": "2717aba1-5f70-4fee-b236-4b1630665c3a",
      "name": "update tipo_documento",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "razon_social",
              "fieldValue": "={{ $json.razon_social }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        576
      ],
      "id": "d303faaa-a78e-44f2-a620-461f5ff497a9",
      "name": "update razon_Social",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "telefono_contacto",
              "fieldValue": "={{ $json.telefono_contacto }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        800
      ],
      "id": "6d255c90-5b73-4d69-9252-35dc19a76653",
      "name": "update telefono_contacto",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "persona_encargada",
              "fieldValue": "={{ $json.persona_encargada }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -160,
        1008
      ],
      "id": "fa44faab-3593-4824-95bf-b85765567dd4",
      "name": "update persona_encargada",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "direccion_principal",
              "fieldValue": "={{ $json.direccion_principal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -160,
        1216
      ],
      "id": "d9f55b8f-4324-486b-ac65-bf0b1e3c9606",
      "name": "update direccion_principal",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pt2jl7502mka8xd",
        "table": "m58lt3zk9pd4acn",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Buscar cliente').item.json.Id }}"
            },
            {
              "fieldName": "=client_id",
              "fieldValue": "={{ $('Edit Fields2').item.json.client_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -176,
        176
      ],
      "id": "c54e6a96-f309-4aac-9539-bbf5176c9d20",
      "name": "update cliente_id (No.documento)",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        176
      ],
      "id": "61003806-1220-4b7d-98b6-2cfa379d039a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.client_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        192
      ],
      "id": "6b20b6b5-2ab8-411d-a9ad-7773d8491970",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.tipo_documento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        416
      ],
      "id": "7417b679-8fbb-4993-87bd-191cfe7f41f6",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.razon_social }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        592
      ],
      "id": "07aaac39-ef7a-436b-99d7-87bb29be7dcd",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.telefono_contacto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        816
      ],
      "id": "55772f65-a31c-4fef-9988-31b27b4a850c",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.persona_encargada }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        1024
      ],
      "id": "02e7307e-ab21-4c96-9342-f142872d8e32",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02e77bc6-5215-4111-9f8d-cd1a79c7b049",
              "leftValue": "={{ $json.direccion_principal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        1232
      ],
      "id": "4ba89975-82c2-41cc-977f-217987bf8320",
      "name": "If5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80ac930a-f863-4ae0-a71b-3af7368c11bc",
              "name": "razon_social",
              "value": "=se ha actualizado la razon social del cliente a {{ $json.razon_social }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        576
      ],
      "id": "c3247bc2-1690-4de1-b22f-a3a768f7e025",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        400
      ],
      "id": "50786a3d-2c45-4187-85ae-ce24a1768c86",
      "name": "Edit Fields3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        304
      ],
      "id": "17e041ac-af97-44ac-a050-9421bdd31c53",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        512
      ],
      "id": "74002025-19ae-4285-8afc-b481f8284d20",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        912
      ],
      "id": "d9c90861-1110-4b7e-b620-f906c2cc3af7",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        688
      ],
      "id": "640d1fdc-3287-4af4-acf0-9d7c6733714f",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -336,
        1120
      ],
      "id": "22e2f1ee-4694-452d-9604-0c1a6643e73f",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        1328
      ],
      "id": "253b4fa2-f566-4a76-ae79-e7bf76a9a513",
      "name": "No Operation, do nothing5"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "tipo_registro": "cliente",
          "cliente_id": null,
          "tipo_documento": null,
          "razon_social": "Paola Viracachá",
          "telefono_contacto": "3132156369",
          "persona_encargada": null,
          "direccion_principal": "Torre 5, apartamento 102, Urbanización Villamaita",
          "message": null
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-26T14:36:17.540Z",
      "createdAt": "2025-11-26T14:36:17.540Z",
      "role": "workflow:owner",
      "workflowId": "Irezqp5cpE1NWARa",
      "projectId": "73zSRVHGJwFSDWts"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-26T16:45:39.619Z",
  "versionId": "262fb27d-3bfe-4dd2-b9b7-ff43a9ca966c"
}