Automation/2025/11/JiMqlzjRLJiryoFA.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "buscar si ya existe sede",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Registrar Nuevo Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar si ya existe sede": {
      "main": [
        [
          {
            "node": "sede existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sede existe?": {
      "main": [
        [
          {
            "node": "buscar si ya existe serial ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sede NO existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener consecutivo equipo_id": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Nuevo Equipo": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar si ya existe serial ": {
      "main": [
        [
          {
            "node": "serial existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serial existe": {
      "main": [
        [
          {
            "node": "mensaje: serial ya existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener consecutivo equipo_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T22:32:45.868Z",
  "id": "JiMqlzjRLJiryoFA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "registrar_equipos",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_registro"
            },
            {
              "name": "sede_id",
              "type": "number"
            },
            {
              "name": "ubicacion_equipo"
            },
            {
              "name": "tipo_equipo",
              "type": "number"
            },
            {
              "name": "marca"
            },
            {
              "name": "modelo"
            },
            {
              "name": "serial"
            },
            {
              "name": "refrigante"
            },
            {
              "name": "capacidad_toneladas"
            },
            {
              "name": "voltaje"
            },
            {
              "name": "periocidad_tipo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        528
      ],
      "id": "dea7e80b-474b-4e2c-8998-8e27ee745d56",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9add1b52-e351-4bb3-91b5-4b65959d7344",
              "name": "tipo_registro",
              "value": "={{ $json.tipo_registro }}",
              "type": "string"
            },
            {
              "id": "3772b988-562b-4718-bd2f-4b7486307d2c",
              "name": "sede_id",
              "value": "={{ $json.sede_id }}",
              "type": "string"
            },
            {
              "id": "d9dc68b7-256e-4b48-8021-c5acd4b6a9f8",
              "name": "ubicacion_equipo",
              "value": "={{ $json.ubicacion_equipo }}",
              "type": "string"
            },
            {
              "id": "41c5c7c9-98c8-4c75-9fba-95aa768b8b7d",
              "name": "tipo_equipo",
              "value": "={{ $json.tipo_equipo }}",
              "type": "string"
            },
            {
              "id": "a08ae7ba-e543-4e9d-944e-c6efe761ad3f",
              "name": "marca",
              "value": "={{ $json.marca }}",
              "type": "string"
            },
            {
              "id": "18f60e1f-b41f-46a3-bd79-fc7b5b080d79",
              "name": "modelo",
              "value": "={{ $json.modelo }}",
              "type": "string"
            },
            {
              "id": "1f4f4f0d-1528-4d0a-80fe-618091b41749",
              "name": "serial",
              "value": "={{ $json.serial }}",
              "type": "string"
            },
            {
              "id": "49e95b4f-c4ea-431f-b9ed-e7cdd3d8adf8",
              "name": "refrigante",
              "value": "={{ $json.refrigante }}",
              "type": "string"
            },
            {
              "id": "9a6e504d-b99d-4a59-bf3e-621b7a58341b",
              "name": "voltaje",
              "value": "={{ $json.periocidad_tipo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        528
      ],
      "id": "99178b01-4755-4733-b538-b832404e7608",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const last = $input.first().json.equipo_id || \"eq000\";\nconst num = parseInt(last.replace(\"eq\", \"\")) + 1;\nconst padded = String(num).padStart(3, \"0\");\nreturn [{ id_equipo: `eq${padded}` }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        528
      ],
      "id": "3c320093-e8d4-443b-904b-383ff68fc2f1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mwq5ww7arsq1lzg",
        "returnAll": true,
        "options": {
          "where": "=(sede_id,like,{{ $json.sede_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -336,
        528
      ],
      "id": "c6930175-4c08-46b8-890d-f8a31fa937a1",
      "name": "buscar si ya existe sede",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.client_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "29a07640-2c6a-4f3e-9783-1b1fb3c2024e",
      "name": "sede existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -112,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "limit": 1,
        "options": {
          "sort": {
            "property": [
              {
                "field": "equipo_id",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        560,
        528
      ],
      "id": "d13f7bc8-672d-41d8-9c46-7e0c95a3bfb1",
      "name": "Obtener consecutivo equipo_id",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a262ba7e-d10a-4df3-8f2c-10ebd9d93ac3",
              "name": "cliente_id",
              "value": "El cliente no cuenta con una sede registrada para asociar el equipo. Debes crear la sede antes de continuar. ¿Deseas proceder con el registro de la sede ahora?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        752
      ],
      "id": "cb348c7e-1029-4778-885f-cc37950ef18d",
      "name": "sede NO existe"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "equipo_id",
              "fieldValue": "={{ $json.id_equipo }}"
            },
            {
              "fieldName": "=sede_id",
              "fieldValue": "={{ $('buscar si ya existe sede').item.json.sede_id }}"
            },
            {
              "fieldName": "ubicacion_equipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.ubicacion_equipo }}"
            },
            {
              "fieldName": "tipo_equipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.tipo_equipo }}"
            },
            {
              "fieldName": "marca",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.marca }}"
            },
            {
              "fieldName": "=modelo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.modelo }}"
            },
            {
              "fieldName": "serial",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.serial }}"
            },
            {
              "fieldName": "refrigerante",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.refrigante }}"
            },
            {
              "fieldName": "capacidad_toneladas",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.voltaje }}"
            },
            {
              "fieldName": "periocidad_tipo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.periocidad_tipo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        992,
        528
      ],
      "id": "fe643ee8-dc7d-4cae-90d1-46a6d2951d36",
      "name": "Registrar Nuevo Equipo",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "486b0a59-492a-4113-adb6-5f9ce596280c",
              "name": "mensaje",
              "value": "=El equipo {{ $json.marca }} {{ $json.tipo_equipo }} serial {{ $json.serial }} a sido registrado exitosamente en la base de datos con el id {{ $json.equipo_id }} y ha sido asignado a la {{ $json.sede_id }}. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        528
      ],
      "id": "f11776fc-6a72-4632-a6d4-1f49ca4738d0",
      "name": "Response"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pt2jl7502mka8xd",
        "table": "mjdctrqix3ttqsq",
        "returnAll": true,
        "options": {
          "where": "=(serial,like,{{ $('When Executed by Another Workflow').item.json.serial }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        112,
        512
      ],
      "id": "73fbfd3e-13b2-448e-b517-2d55404c7f2c",
      "name": "buscar si ya existe serial ",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.serial }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e167fff0-d312-4596-869e-9debbd4228fe",
      "name": "serial existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        304,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf645ad-53cf-4d97-9178-d919b2099034",
              "name": "mensaje",
              "value": "=el serial  {{ $json.serial }} pertenece al equipo {{ $json.marca }} {{ $json.tipo_equipo }} modelo {{ $json.modelo }} ya registrado en nuestra base de datos con el id {{ $json.equipo_id }}. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        304
      ],
      "id": "904892f4-a4b6-4001-9526-ddd118e800f0",
      "name": "mensaje: serial ya existe"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-22T22:32:45.868Z",
      "createdAt": "2025-11-22T22:32:45.868Z",
      "role": "workflow:owner",
      "workflowId": "JiMqlzjRLJiryoFA",
      "projectId": "73zSRVHGJwFSDWts"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T03:29:52.278Z",
  "versionId": "d6b1d636-8b9d-45d5-9f0d-aca2ee163d1c"
}