Automation/2025/11/l7Em7Gr0IdZ4P5Uy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T15:04:41.900Z",
  "id": "l7Em7Gr0IdZ4P5Uy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Linkedin Post Generation",
  "nodes": [
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pbyzm06qhp068f6",
        "table": "mfpu4n1rjjsiyyk",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Idea",
              "fieldValue": "={{ $json.idea }}"
            },
            {
              "fieldName": "Contenido Linkedin",
              "fieldValue": "={{ $json.contenido_LinkedIn }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "Pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -2544,
        624
      ],
      "id": "babdd335-ee11-464b-b16d-1dd46bcf5963",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "od6Ytt9qSUlGVvJb",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como un creador de contenido profesional de LinkedIn especializado en automatización. Escribe directamente un post extenso (mínimo 200 palabras) listo para publicar en LinkedIn, dirigido a ingenieros, empresarios y entusiastas digitales. Comienza con una pregunta o reto, incluye consejos concretos, conclusión inspiradora y hashtags relevantes al final. No incluyas ningún encabezado, formato JSON, comillas ni instrucciones técnicas. Solo el texto del post.\n",
        "options": {
          "systemMessage": "=\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3120,
        624
      ],
      "id": "bdcda101-5a1d-4d67-85d8-99409830c126",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3056,
        848
      ],
      "id": "cc03fce0-2418-4352-b24c-7c3aeecc16b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3344,
        624
      ],
      "id": "4fe12fa1-200d-425c-8457-6cccc40c1563",
      "name": "Telegram Trigger",
      "webhookId": "44afc123-087c-4246-9f90-7d4d894d8c0f",
      "credentials": {
        "telegramApi": {
          "id": "HlgJfleYDrocTlQZ",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bruto = $json[\"output\"];\n\n// Elimina todo lo que está antes del primer bloque de \"---\" o de la primera línea vacía tras el JSON\nlet soloTexto = bruto;\n\n// Si detecta bloque JSON dentro del texto:\n// Busca la primera ocurrencia de \"---\" y toma el texto de ahí en adelante\nconst delimitador = '---';\nconst idxDelim = soloTexto.indexOf(delimitador);\nif (idxDelim !== -1) {\n  soloTexto = soloTexto.substring(idxDelim + delimitador.length).trim();\n}\n\n// Si queda encabezado o líneas vacías, las elimina\nsoloTexto = soloTexto.replace(/^\\s+/, '');\n\n// Variables fijas\nconst idea = 'Idea para LinkedIn (automático)';\nconst contenido_LinkedIn = soloTexto;\nconst autor = 'andresco70@gmail.com';\nconst fecha = '21/11/2025';\nconst hora = '13:30';\nconst perfil = 'andresco70@gmail.com';\n\nreturn [{\n  idea,\n  contenido_LinkedIn,\n  autor,\n  fecha,\n  hora,\n  perfil\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        624
      ],
      "id": "49621e29-2959-4e6b-b83f-d767ca08d393",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T15:04:41.900Z",
      "createdAt": "2025-11-18T15:04:41.900Z",
      "role": "workflow:owner",
      "workflowId": "l7Em7Gr0IdZ4P5Uy",
      "projectId": "s48f8ZkY9UxLCxeQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T17:56:45.769Z",
  "versionId": "1c73c303-fc91-46e7-9c0b-23de2046b9e5"
}