Automation/2025/11/T6rJJEm6CI35Jh50.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-21T03:23:58.559Z",
    "createdAt": "2025-11-21T03:23:58.559Z",
    "versionId": "ed990f10-63cb-44f6-abf2-2670fc63607b",
    "workflowId": "T6rJJEm6CI35Jh50",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.existe }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "9c38cf88-8498-4e41-b8b6-9c9bf0465b55"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Registrado"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d20501b2-6c3d-42b4-9617-995adf90e423",
                      "leftValue": "={{ $json.existe }}",
                      "rightValue": "false",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Sin Registrar"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1872,
          -1080
        ],
        "id": "acef65d5-5585-4d85-a9ad-d6dabf2544d5",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "90dc24fa-85a0-4b98-ad7f-a0f2ab094722",
                "name": "existe",
                "value": "={{ $json.existe }}",
                "type": "string"
              },
              {
                "id": "70bf3769-05a5-4f09-9ead-f39029fc7167",
                "name": "usuario_data",
                "value": "={{ $json.user_data }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1648,
          -1080
        ],
        "id": "65035f13-0f85-4278-b553-892970d50dc9",
        "name": "data"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "7udG9O5kmPeeOaXL",
            "mode": "list",
            "cachedResultName": "Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "metadata": "={{ $('WhatsApp Trigger').item.json.metadata }}",
              "contacts": "={{ $('WhatsApp Trigger').item.json.contacts }}",
              "messages": "={{ $('WhatsApp Trigger').item.json.messages }}",
              "field": "={{ $('WhatsApp Trigger').item.json.field }}",
              "usuario_data": "={{ $('data').item.json.usuario_data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "metadata",
                "displayName": "metadata",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "contacts",
                "displayName": "contacts",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "messages",
                "displayName": "messages",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "field",
                "displayName": "field",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "usuario_data",
                "displayName": "usuario_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2768,
          -984
        ],
        "id": "52476607-e5a0-4fde-8301-15549b476600",
        "name": "Call Onboarding Register"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "WE1bVt3r1GoX2Dif",
            "mode": "list",
            "cachedResultUrl": "/workflow/WE1bVt3r1GoX2Dif",
            "cachedResultName": "Agente Transaccional"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "metadata": "={{ $('WhatsApp Trigger').item.json.metadata }}",
              "contacts": "={{ $('WhatsApp Trigger').item.json.contacts }}",
              "messages": "={{ $('WhatsApp Trigger').item.json.messages }}",
              "field": "={{ $('WhatsApp Trigger').item.json.field }}",
              "usuario_data": "={{ $json.usuario_data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "metadata",
                "displayName": "metadata",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "contacts",
                "displayName": "contacts",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "messages",
                "displayName": "messages",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "field",
                "displayName": "field",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "usuario_data",
                "displayName": "usuario_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2768,
          -1200
        ],
        "name": "Call Agente Transaccional",
        "id": "e433b8ae-7030-452b-9f31-783012512b3b"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.meta }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "array",
                        "operation": "notEmpty",
                        "singleValue": true
                      },
                      "id": "9c38cf88-8498-4e41-b8b6-9c9bf0465b55"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "meta registrada"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d20501b2-6c3d-42b4-9617-995adf90e423",
                      "leftValue": "={{ $json.meta }}",
                      "rightValue": "false",
                      "operator": {
                        "type": "array",
                        "operation": "empty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Sin Registrar"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2544,
          -1152
        ],
        "id": "3bc67bb4-14fd-4754-9e93-6c73db19d8d1",
        "name": "meta"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "90dc24fa-85a0-4b98-ad7f-a0f2ab094722",
                "name": "meta",
                "value": "={{ $json.metas }}",
                "type": "array"
              },
              {
                "id": "70bf3769-05a5-4f09-9ead-f39029fc7167",
                "name": "usuario_data",
                "value": "={{ $('data').item.json.usuario_data }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2320,
          -1152
        ],
        "id": "083ae250-f5f8-48ff-ac63-6f6b62f30da7",
        "name": "data1"
      },
      {
        "parameters": {
          "url": "={{ $json.metadata.Base_Url }}/api/v1/users/profile-by-phone",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.messages[0].from }}"
              },
              {
                "name": "includeCategories",
                "value": "false"
              },
              {
                "name": "includeSuscripcionesMony",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1424,
          -1080
        ],
        "id": "27871635-f3b0-4ffb-bfb1-157400ef7e45",
        "name": "get-profile-by-phone",
        "credentials": {
          "httpHeaderAuth": {
            "id": "VvugYsKO6X1LCmbE",
            "name": "Mony"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('WhatsApp Trigger').item.json.metadata.Base_Url }}/api/v1/saving-goals",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-user-id",
                "value": "={{ $json.usuario_data.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2096,
          -1152
        ],
        "id": "8e7dbee1-0584-432c-923f-9fb4d2c4c224",
        "name": "get_saving_goals",
        "credentials": {
          "httpHeaderAuth": {
            "id": "VvugYsKO6X1LCmbE",
            "name": "Mony"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "mony-dev",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          80,
          -984
        ],
        "id": "a03671ca-ff02-497b-b993-3e2ba9ae3b97",
        "name": "Webhook",
        "webhookId": "65b44bcd-175b-4d48-a70e-8fbf58605135"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "24753cf1-0e65-46ba-8117-cafa44f119a0",
                "name": "metadata",
                "value": "={\n\"account_id\": \"{{ $('reply_message').item.json.body.account.id }}\",\n\"conversation_id\": \n\"{{ $('reply_message').item.json.body.conversation.messages[0].conversation_id }}\",\n\"channel\": \"{{ $('reply_message').item.json.body.conversation.channel }}\",\n\"Base_Url\": \"{{ $json.Base_Url }}\"\n}",
                "type": "object"
              },
              {
                "id": "e6ac796a-86cf-4dce-a3f3-1f3b8ea8e180",
                "name": "contacts",
                "value": "=[{\n\"profile\": \n{\n\"name\": \n\"{{ $('reply_message').item.json.body.conversation.meta.sender.name.replace('\\n', ' ').split(' ')[0] }}\"\n},\n\"wa_id\": \n\"{{ $('reply_message').item.json.body.conversation.messages[0].conversation.contact_inbox.source_id }}\"\n}]",
                "type": "array"
              },
              {
                "id": "fe4740db-2480-4726-a9ff-e74b454ce8e0",
                "name": "messages",
                "value": "= [{ \"from\":  \"{{ $('reply_message').item.json.body.conversation.meta.sender.phone_number }}\", \"id\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].id }}\", \"timestamp\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].created_at }}\",\n\"text\":  { \"body\":  {{ JSON.stringify($('reply_message').item.json.body.conversation.messages[0].content) }}, \"reply_message\": {{ JSON.stringify($('reply_message').item.json.body.reply_message.content) }} },\n\"file\":  { \"body\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].attachments[0].data_url }}\", \"transcribed_text\": \"{{ $('reply_message').item.json.body.attachments[0].transcribed_text }}\" },\n\"type\":  \"{{ $('reply_message').item.json.body.attachments?.[0]?.file_type || $('reply_message').item.json.body.conversation.messages?.[0]?.content_type }}\" }]",
                "type": "array"
              },
              {
                "id": "8bf1bf21-59a9-4c92-8e31-7e20a7cae8d4",
                "name": "field",
                "value": "={{ $('reply_message').item.json.body.conversation.labels }}",
                "type": "array"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": false
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          976,
          -1080
        ],
        "id": "ecc938de-0bb8-4f84-bcf5-a586069504db",
        "name": "WhatsApp Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "abaa9de2-4388-46df-9440-7c458be2669a",
                "leftValue": "={{ $json.body.message_type }}",
                "rightValue": "incoming",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "2b50ffbe-a3c8-4299-b6f3-86f9f79de33b",
                "leftValue": "={{ $json.body.conversation.labels }}",
                "rightValue": "=apagar-agente",
                "operator": {
                  "type": "array",
                  "operation": "notContains",
                  "rightType": "any"
                }
              },
              {
                "id": "899cff65-f00c-430b-9ef7-9fcf0d8f7cdb",
                "leftValue": "={{ $json.body.conversation.channel }}",
                "rightValue": "Channel::Telegram",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          304,
          -984
        ],
        "id": "d0c8274b-ea62-4a57-9878-e1809c3e6627",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          528,
          -888
        ],
        "id": "48ea0fa8-53bc-40e0-99bf-5151d2ba7ed0",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "name",
                "value": "={{ $json.contacts[0].profile.name }}"
              },
              {
                "key": "phone",
                "value": "={{ $json.messages[0].from }}"
              },
              {
                "key": "message",
                "value": "={{ $json.messages[0].text.body }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1200,
          -1080
        ],
        "id": "ff534a3f-b390-4903-8363-cf597dd62247",
        "name": "Execution Data"
      },
      {
        "parameters": {
          "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/conversations/{{ $json.body.conversation.messages[0].conversation_id }}/messages?before={{ $json.body.content_attributes.in_reply_to+1 }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "uuWT9PNsY83ucax7HeqBEUSi"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          80,
          -1648
        ],
        "id": "37792cb5-451a-4b19-a6ea-409fda9764f3",
        "name": "get_conversation"
      },
      {
        "parameters": {
          "fieldToSplitOut": "payload",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          304,
          -1648
        ],
        "id": "8697780e-91cb-4625-847f-a29774d08030",
        "name": "Split Out"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "57660469-ae83-4222-ba37-03bb07029537",
                "leftValue": "={{ $json.id }}",
                "rightValue": "={{ $('Repli?').item.json.body.content_attributes.in_reply_to }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          528,
          -1648
        ],
        "id": "6d3c31f1-6a07-4aff-8431-e0bad307ccc7",
        "name": "Filter"
      },
      {
        "parameters": {
          "jsCode": "const ACCOUNT_ID = $input.first().json.body.account.id;\nconst BASE_URL = `https://crm.whitelabel.lat/api/v1/accounts/${ACCOUNT_ID}`;\nconst TOKEN = \"uuWT9PNsY83ucax7HeqBEUSi\";\n\n// Tomamos el evento entrante\nconst input = $input.first().json;\nconst conversationId = input.body.conversation.id;\nconst replyToId = input.body.content_attributes?.in_reply_to;\n\nasync function getMessage(conversationId, messageId) {\n  const url = `${BASE_URL}/conversations/${conversationId}/messages?before=${messageId + 1}`;\n\n  const response = await this.helpers.httpRequest({\n    method: \"GET\",\n    url,\n    headers: {\n      \"api_access_token\": TOKEN,\n      \"Content-Type\": \"application/json\",\n    },\n    json: true,\n  });\n\n  const messages = response.payload || [];\n  if (!Array.isArray(messages) || messages.length === 0) {\n    return null;\n  }\n\n  return messages.find(m => m.id === messageId) || null;\n}\n\nlet replyMessage = null;\n\nif (replyToId) {\n  replyMessage = await getMessage(conversationId, replyToId);\n}\n\n// Clonamos el input para no perder el formato original\nconst output = JSON.parse(JSON.stringify(input));\n\n// Si existe un reply, lo agregamos dentro del body\nif (replyMessage) {\n  output.body.reply_message = replyMessage;\n} else {\n  // Si no hay reply, mantenemos la estructura pero con content null\n  output.body.reply_message = { content: null };\n}\n\nreturn [ { json: output } ];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          -1080
        ],
        "id": "67b0d5f1-22b4-4034-bf79-3b1edcb68e62",
        "name": "reply_message"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "RYUYwuQqDvBRusUe",
            "mode": "list",
            "cachedResultName": "mony",
            "cachedResultUrl": "/projects/pTVxuWoodsfUV8Xe/datatables/RYUYwuQqDvBRusUe"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "channel",
                "keyValue": "={{ $json.body.conversation.channel }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          752,
          -1080
        ],
        "id": "6a3cfa8c-95de-4373-9a9f-d1f950bc8231",
        "name": "Get Variables"
      },
      {
        "parameters": {
          "eventName": "message_received",
          "distinctId": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
          "additionalFields": {
            "propertiesUi": {
              "propertyValues": [
                {
                  "key": "$set",
                  "value": "={{\n  {\n    \"name\": $json.body.sender.name,\n    \"email\": $json.body.sender.email,\n    \"phone\": $json.body.sender.phone_number,\n    \"channel\": $json.body.conversation.channel,\n    \"moneda\": $json.body.sender.custom_attributes.moneda,\n    \"plan\": $json.body.sender.custom_attributes.subscription_status\n  }\n}}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.postHog",
        "typeVersion": 1,
        "position": [
          80,
          -1424
        ],
        "id": "43042e44-503b-4f4f-a858-2ab4d860dc4b",
        "name": "Create an event",
        "credentials": {
          "postHogApi": {
            "id": "3tqsdb2YmcTBKiaa",
            "name": "PostHog account"
          }
        }
      }
    ],
    "connections": {
      "Switch": {
        "main": [
          [
            {
              "node": "get_saving_goals",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Onboarding Register",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "data": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "meta": {
        "main": [
          [
            {
              "node": "Call Agente Transaccional",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Onboarding Register",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "data1": {
        "main": [
          [
            {
              "node": "meta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get-profile-by-phone": {
        "main": [
          [
            {
              "node": "data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_saving_goals": {
        "main": [
          [
            {
              "node": "data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "reply_message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execution Data": {
        "main": [
          [
            {
              "node": "get-profile-by-phone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_conversation": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "reply_message": {
        "main": [
          [
            {
              "node": "Get Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Variables": {
        "main": [
          [
            {
              "node": "WhatsApp Trigger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an event": {
        "main": [
          []
        ]
      }
    },
    "authors": "n8n whitelabel",
    "name": null,
    "description": null
  },
  "activeVersionId": "ed990f10-63cb-44f6-abf2-2670fc63607b",
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "get_saving_goals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Onboarding Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta": {
      "main": [
        [
          {
            "node": "Call Agente Transaccional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Onboarding Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data1": {
      "main": [
        [
          {
            "node": "meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-profile-by-phone": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_saving_goals": {
      "main": [
        [
          {
            "node": "data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "reply_message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "get-profile-by-phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_conversation": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply_message": {
      "main": [
        [
          {
            "node": "Get Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Variables": {
      "main": [
        [
          {
            "node": "WhatsApp Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-11T01:59:34.012Z",
  "id": "T6rJJEm6CI35Jh50",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "1.0 Mony dev",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.existe }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9c38cf88-8498-4e41-b8b6-9c9bf0465b55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d20501b2-6c3d-42b4-9617-995adf90e423",
                    "leftValue": "={{ $json.existe }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin Registrar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1872,
        -1080
      ],
      "id": "acef65d5-5585-4d85-a9ad-d6dabf2544d5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90dc24fa-85a0-4b98-ad7f-a0f2ab094722",
              "name": "existe",
              "value": "={{ $json.existe }}",
              "type": "string"
            },
            {
              "id": "70bf3769-05a5-4f09-9ead-f39029fc7167",
              "name": "usuario_data",
              "value": "={{ $json.user_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -1080
      ],
      "id": "65035f13-0f85-4278-b553-892970d50dc9",
      "name": "data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7udG9O5kmPeeOaXL",
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "metadata": "={{ $('WhatsApp Trigger').item.json.metadata }}",
            "contacts": "={{ $('WhatsApp Trigger').item.json.contacts }}",
            "messages": "={{ $('WhatsApp Trigger').item.json.messages }}",
            "field": "={{ $('WhatsApp Trigger').item.json.field }}",
            "usuario_data": "={{ $('data').item.json.usuario_data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "contacts",
              "displayName": "contacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "field",
              "displayName": "field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "usuario_data",
              "displayName": "usuario_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        -984
      ],
      "id": "52476607-e5a0-4fde-8301-15549b476600",
      "name": "Call Onboarding Register"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WE1bVt3r1GoX2Dif",
          "mode": "list",
          "cachedResultUrl": "/workflow/WE1bVt3r1GoX2Dif",
          "cachedResultName": "Agente Transaccional"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "metadata": "={{ $('WhatsApp Trigger').item.json.metadata }}",
            "contacts": "={{ $('WhatsApp Trigger').item.json.contacts }}",
            "messages": "={{ $('WhatsApp Trigger').item.json.messages }}",
            "field": "={{ $('WhatsApp Trigger').item.json.field }}",
            "usuario_data": "={{ $json.usuario_data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "contacts",
              "displayName": "contacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "field",
              "displayName": "field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "usuario_data",
              "displayName": "usuario_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        -1200
      ],
      "name": "Call Agente Transaccional",
      "id": "e433b8ae-7030-452b-9f31-783012512b3b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.meta }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9c38cf88-8498-4e41-b8b6-9c9bf0465b55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "meta registrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d20501b2-6c3d-42b4-9617-995adf90e423",
                    "leftValue": "={{ $json.meta }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin Registrar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2544,
        -1152
      ],
      "id": "3bc67bb4-14fd-4754-9e93-6c73db19d8d1",
      "name": "meta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90dc24fa-85a0-4b98-ad7f-a0f2ab094722",
              "name": "meta",
              "value": "={{ $json.metas }}",
              "type": "array"
            },
            {
              "id": "70bf3769-05a5-4f09-9ead-f39029fc7167",
              "name": "usuario_data",
              "value": "={{ $('data').item.json.usuario_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -1152
      ],
      "id": "083ae250-f5f8-48ff-ac63-6f6b62f30da7",
      "name": "data1"
    },
    {
      "parameters": {
        "url": "={{ $json.metadata.Base_Url }}/api/v1/users/profile-by-phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "name": "includeCategories",
              "value": "false"
            },
            {
              "name": "includeSuscripcionesMony",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        -1080
      ],
      "id": "27871635-f3b0-4ffb-bfb1-157400ef7e45",
      "name": "get-profile-by-phone",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('WhatsApp Trigger').item.json.metadata.Base_Url }}/api/v1/saving-goals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-user-id",
              "value": "={{ $json.usuario_data.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        -1152
      ],
      "id": "8e7dbee1-0584-432c-923f-9fb4d2c4c224",
      "name": "get_saving_goals",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mony-dev",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -984
      ],
      "id": "a03671ca-ff02-497b-b993-3e2ba9ae3b97",
      "name": "Webhook",
      "webhookId": "65b44bcd-175b-4d48-a70e-8fbf58605135"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24753cf1-0e65-46ba-8117-cafa44f119a0",
              "name": "metadata",
              "value": "={\n\"account_id\": \"{{ $('reply_message').item.json.body.account.id }}\",\n\"conversation_id\": \n\"{{ $('reply_message').item.json.body.conversation.messages[0].conversation_id }}\",\n\"channel\": \"{{ $('reply_message').item.json.body.conversation.channel }}\",\n\"Base_Url\": \"{{ $json.Base_Url }}\"\n}",
              "type": "object"
            },
            {
              "id": "e6ac796a-86cf-4dce-a3f3-1f3b8ea8e180",
              "name": "contacts",
              "value": "=[{\n\"profile\": \n{\n\"name\": \n\"{{ $('reply_message').item.json.body.conversation.meta.sender.name.replace('\\n', ' ').split(' ')[0] }}\"\n},\n\"wa_id\": \n\"{{ $('reply_message').item.json.body.conversation.messages[0].conversation.contact_inbox.source_id }}\"\n}]",
              "type": "array"
            },
            {
              "id": "fe4740db-2480-4726-a9ff-e74b454ce8e0",
              "name": "messages",
              "value": "= [{ \"from\":  \"{{ $('reply_message').item.json.body.conversation.meta.sender.phone_number }}\", \"id\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].id }}\", \"timestamp\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].created_at }}\",\n\"text\":  { \"body\":  {{ JSON.stringify($('reply_message').item.json.body.conversation.messages[0].content) }}, \"reply_message\": {{ JSON.stringify($('reply_message').item.json.body.reply_message.content) }} },\n\"file\":  { \"body\":  \"{{ $('reply_message').item.json.body.conversation.messages[0].attachments[0].data_url }}\", \"transcribed_text\": \"{{ $('reply_message').item.json.body.attachments[0].transcribed_text }}\" },\n\"type\":  \"{{ $('reply_message').item.json.body.attachments?.[0]?.file_type || $('reply_message').item.json.body.conversation.messages?.[0]?.content_type }}\" }]",
              "type": "array"
            },
            {
              "id": "8bf1bf21-59a9-4c92-8e31-7e20a7cae8d4",
              "name": "field",
              "value": "={{ $('reply_message').item.json.body.conversation.labels }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -1080
      ],
      "id": "ecc938de-0bb8-4f84-bcf5-a586069504db",
      "name": "WhatsApp Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abaa9de2-4388-46df-9440-7c458be2669a",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b50ffbe-a3c8-4299-b6f3-86f9f79de33b",
              "leftValue": "={{ $json.body.conversation.labels }}",
              "rightValue": "=apagar-agente",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "899cff65-f00c-430b-9ef7-9fcf0d8f7cdb",
              "leftValue": "={{ $json.body.conversation.channel }}",
              "rightValue": "Channel::Telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -984
      ],
      "id": "d0c8274b-ea62-4a57-9878-e1809c3e6627",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        528,
        -888
      ],
      "id": "48ea0fa8-53bc-40e0-99bf-5151d2ba7ed0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "name",
              "value": "={{ $json.contacts[0].profile.name }}"
            },
            {
              "key": "phone",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "key": "message",
              "value": "={{ $json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1200,
        -1080
      ],
      "id": "ff534a3f-b390-4903-8363-cf597dd62247",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/conversations/{{ $json.body.conversation.messages[0].conversation_id }}/messages?before={{ $json.body.content_attributes.in_reply_to+1 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -1648
      ],
      "id": "37792cb5-451a-4b19-a6ea-409fda9764f3",
      "name": "get_conversation"
    },
    {
      "parameters": {
        "fieldToSplitOut": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        -1648
      ],
      "id": "8697780e-91cb-4625-847f-a29774d08030",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57660469-ae83-4222-ba37-03bb07029537",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Repli?').item.json.body.content_attributes.in_reply_to }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        528,
        -1648
      ],
      "id": "6d3c31f1-6a07-4aff-8431-e0bad307ccc7",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const ACCOUNT_ID = $input.first().json.body.account.id;\nconst BASE_URL = `https://crm.whitelabel.lat/api/v1/accounts/${ACCOUNT_ID}`;\nconst TOKEN = \"uuWT9PNsY83ucax7HeqBEUSi\";\n\n// Tomamos el evento entrante\nconst input = $input.first().json;\nconst conversationId = input.body.conversation.id;\nconst replyToId = input.body.content_attributes?.in_reply_to;\n\nasync function getMessage(conversationId, messageId) {\n  const url = `${BASE_URL}/conversations/${conversationId}/messages?before=${messageId + 1}`;\n\n  const response = await this.helpers.httpRequest({\n    method: \"GET\",\n    url,\n    headers: {\n      \"api_access_token\": TOKEN,\n      \"Content-Type\": \"application/json\",\n    },\n    json: true,\n  });\n\n  const messages = response.payload || [];\n  if (!Array.isArray(messages) || messages.length === 0) {\n    return null;\n  }\n\n  return messages.find(m => m.id === messageId) || null;\n}\n\nlet replyMessage = null;\n\nif (replyToId) {\n  replyMessage = await getMessage(conversationId, replyToId);\n}\n\n// Clonamos el input para no perder el formato original\nconst output = JSON.parse(JSON.stringify(input));\n\n// Si existe un reply, lo agregamos dentro del body\nif (replyMessage) {\n  output.body.reply_message = replyMessage;\n} else {\n  // Si no hay reply, mantenemos la estructura pero con content null\n  output.body.reply_message = { content: null };\n}\n\nreturn [ { json: output } ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -1080
      ],
      "id": "67b0d5f1-22b4-4034-bf79-3b1edcb68e62",
      "name": "reply_message"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "RYUYwuQqDvBRusUe",
          "mode": "list",
          "cachedResultName": "mony",
          "cachedResultUrl": "/projects/pTVxuWoodsfUV8Xe/datatables/RYUYwuQqDvBRusUe"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "channel",
              "keyValue": "={{ $json.body.conversation.channel }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        752,
        -1080
      ],
      "id": "6a3cfa8c-95de-4373-9a9f-d1f950bc8231",
      "name": "Get Variables"
    },
    {
      "parameters": {
        "eventName": "message_received",
        "distinctId": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
        "additionalFields": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "$set",
                "value": "={{\n  {\n    \"name\": $json.body.sender.name,\n    \"email\": $json.body.sender.email,\n    \"phone\": $json.body.sender.phone_number,\n    \"channel\": $json.body.conversation.channel,\n    \"moneda\": $json.body.sender.custom_attributes.moneda,\n    \"plan\": $json.body.sender.custom_attributes.subscription_status\n  }\n}}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.postHog",
      "typeVersion": 1,
      "position": [
        80,
        -1424
      ],
      "id": "43042e44-503b-4f4f-a858-2ab4d860dc4b",
      "name": "Create an event",
      "credentials": {
        "postHogApi": {
          "id": "3tqsdb2YmcTBKiaa",
          "name": "PostHog account"
        }
      }
    }
  ],
  "pinData": {
    "get_conversation": [
      {
        "json": {
          "meta": {
            "labels": [
              "registrado"
            ],
            "additional_attributes": {},
            "contact": {
              "additional_attributes": {},
              "custom_attributes": {},
              "email": null,
              "id": 2,
              "identifier": null,
              "name": "Pedro Rodriguez",
              "phone_number": "+573228854498",
              "thumbnail": "",
              "blocked": false,
              "type": "contact"
            },
            "assignee": {
              "id": 3,
              "name": "Pedro",
              "available_name": "Pedro Rodriguez",
              "avatar_url": "",
              "type": "user",
              "availability_status": "online",
              "thumbnail": ""
            },
            "agent_last_seen_at": "2025-08-30T03:34:33.118Z",
            "assignee_last_seen_at": "2025-08-30T03:34:33.118Z"
          },
          "payload": [
            {
              "id": 4192,
              "content": "Aqu tienes un resumen de tus transacciones registradas este mes:\n\n*   **27 de agosto:**\n    *   Almuerzo en la calle: $20.000 COP (Alimentacin)\n    *   Insumos odontolgicos: $36.000 COP (Salud)\n    *   Aceite para la moto: $25.000 COP (Transporte)\n*   **25 de agosto:**\n    *   Pago de deuda a Andrs: $50.000 COP (Otros Gastos)\n",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499866,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSODUyQjU5QjFFMjk4NEFCQzhFAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4194,
              "content": "*   **24 de agosto:**\n    *   Pago de suscripcin a Netflix: $24.000 COP (Entretenimiento)\n    *   Pago de suscripcin a Netflix: $24.000 COP (Entretenimiento)\n*   **23 de agosto:**\n    *   Pan en la panadera de la esquina: $5.000 COP (Alimentacin)\n",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499868,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSNTkyRThENzExMzQ4QTEyNTZEAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4195,
              "content": "Espero que esta informacin te sea til para tener un mejor control de tus finanzas! Hay algo ms en lo que pueda ayudarte hoy? ",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499870,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSODU5NjBGNzZCNzQzNzdENDU1AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4199,
              "content": "mony la transaccin del 24 de agosto esta repetida, 2 a Netflix, fue una sola a Netflix y la otra a amazon prime por 30.000",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 0,
              "content_type": "text",
              "status": "sent",
              "content_attributes": {},
              "created_at": 1756499923,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAEhgUM0ZCNkMwRkY1Q0JERjlFQzY1QzIA",
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 2,
                "identifier": null,
                "name": "Pedro Rodriguez",
                "phone_number": "+573228854498",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              }
            },
            {
              "id": 4202,
              "content": "Entendido, Pedro! Gracias por la aclaracin. He registrado tu gasto de $30.000 COP para *Amazon Prime* el 24 de agosto.\n\nQuiero comentarte algo importante: por ahora, no tengo la capacidad de modificar o eliminar transacciones que ya has registrado. Esto significa que la entrada duplicada de *Netflix* seguir apareciendo en tu historial. Estoy trabajando para que *Mony* pueda hacer esto en el futuro.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499970,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSRUMxNzgyNEE0ODIyQzhDQzY3AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4203,
              "content": "Por el momento, te recomiendo que, si ves una transaccin duplicada, simplemente la tengas en cuenta al revisar tus movimientos.\n\nAqu te muestro cmo quedan tus transacciones del 24 de agosto con esta nueva adicin:\n\n*   *24 de agosto:*\n    *   Suscripcin a *Netflix*: $24.000 COP (Entretenimiento)\n    *   Suscripcin a *Netflix*: $24.000 COP (Entretenimiento)\n    *   Suscripcin *Amazon Prime*: $30.000 COP (Entretenimiento)",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499972,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSQzdCN0JDODg4OTQxNkY2OTVGAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4204,
              "content": "Hay algo ms en lo que pueda ayudarte hoy? Quizs quieras revisar tus suscripciones para asegurarte de que estn todas correctas. ",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756499974,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSRTM5NDIxMEE5MjI4OTQ4M0E4AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4205,
              "content": "Gracias por la aclaracin, Pedro! Lo entiendo perfectamente. Vamos a corregir eso.\n\nHe actualizado una de las transacciones de Netflix del 24 de agosto para que ahora sea tu suscripcin a *Amazon Prime por $30.000 COP*.\n\nSin embargo, quiero recordarte que, por el momento, Mony an no puede eliminar transacciones directamente. Esto significa que la entrada de Amazon Prime que registramos anteriormente tambin seguir apareciendo en tu historial, generando una duplicidad temporal para Amazon Prime. Estoy trabajando en mejorar esta funcionalidad para el futuro.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500193,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSRkZCOEQ2OTdBMjBDRDE1OUVFAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4206,
              "content": "Por ahora, tus transacciones del 24 de agosto quedan as:\n\n*   **24 de agosto:**\n    *   Suscripcin a Netflix: $24.000 COP (Entretenimiento)\n    *   Suscripcin a Amazon Prime: $30.000 COP (Entretenimiento) *(Esta es la que acabamos de corregir)*\n    *   Suscripcin a Amazon Prime: $30.000 COP (Entretenimiento) *(Esta es la que registr previamente)*",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500195,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSM0ZBNkEzRThEOUUxOUYyODA1AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4207,
              "content": "Disclpame por la limitacin, y te agradezco mucho tu paciencia. Siempre estoy aqu para ayudarte a mantener tus finanzas lo ms claras posible!\n\nHay algo ms en lo que pueda ayudarte hoy?",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500197,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSRkMzMEMyN0Q1OTE4ODY4RTQ4AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4208,
              "content": "intenta nuevamente ya que creo que quedaron varias repetidas, verifica y actualiza",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 0,
              "content_type": "text",
              "status": "sent",
              "content_attributes": {},
              "created_at": 1756500317,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAEhgUM0Y2MzQ2MkQ2OTM1MkQyNkY1RUUA",
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 2,
                "identifier": null,
                "name": "Pedro Rodriguez",
                "phone_number": "+573228854498",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              }
            },
            {
              "id": 4209,
              "content": "Entendido, Pedro! Lamento mucho la confusin con las transacciones. Tienes toda la razn, vamos a revisar y dejar tu historial lo ms claro posible para el 24 de agosto.\n\nMi objetivo es que tengas una sola transaccin de Netflix y una de Amazon Prime para esa fecha.\n\nHe revisado tus movimientos y he realizado la siguiente correccin: He tomado una de las transacciones que antes figuraba como 'Pago de suscripcin a Netflix' y la he actualizado para que ahora sea tu suscripcin a *Amazon Prime por $30.000 COP*.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500355,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSN0U0Q0Y0NENFNEFBQzgxOTA4AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4210,
              "content": "Sin embargo, como te mencion antes, Mony no tiene la capacidad de eliminar transacciones por el momento. Esto significa que, aunque hemos corregido y actualizado, vers los siguientes movimientos para el 24 de agosto:\n\n*   **24 de agosto:**\n    *    Suscripcin a Netflix: $24.000 COP (Entretenimiento)\n    *    Suscripcin a Amazon Prime: $30.000 COP (Entretenimiento) *(Esta es la que acabamos de corregir de Netflix)*\n    *    Suscripcin a Amazon Prime: $30.000 COP (Entretenimiento) *(Esta es la que habas registrado previamente, y que, por la limitacin, no puedo eliminar)*",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500357,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSNTQyRUUxRUU1NkM3NDBFREJGAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4211,
              "content": "Entiendo que no es la solucin ideal tener una duplicidad de Amazon Prime, y te pido disculpas por esta limitacin en mis funcionalidades actuales. Estoy trabajando constantemente para mejorar.\n\nPara tu control, puedes considerar que tus gastos reales de suscripciones el 24 de agosto fueron:\n*   Una de Netflix por $24.000 COP.\n*   Una de Amazon Prime por $30.000 COP.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500359,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSNzdBQjg5ODMyNDQ4MzdBNEM1AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4212,
              "content": "Hay algo ms en lo que pueda ayudarte a organizar tus finanzas hoy, Pedro? Quizs quieres que revisemos tus metas de ahorro.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500361,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSQzQ3OEQ3NTVFMDc0QjRFMkJEAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4213,
              "content": "revisa nuevamente a ver si ya puedes eliminar la transaccin",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 0,
              "content_type": "text",
              "status": "sent",
              "content_attributes": {},
              "created_at": 1756500785,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAEhgUM0ZCMjAyM0RBNkE3NzNDQzNCMjAA",
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 2,
                "identifier": null,
                "name": "Pedro Rodriguez",
                "phone_number": "+573228854498",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              }
            },
            {
              "id": 4214,
              "content": "Listo, Pedro! Ya revis tus transacciones del 24 de agosto.\n\nAqu estn las que tienes registradas para ese da:\n\n*   *Suscripcin a Netflix:* $24.000 COP\n*   *Suscripcin Amazon Prime:* $30.000 COP\n*   *Suscripcin Amazon Prime:* $30.000 COP\n\nComo puedes ver, hay una transaccin de Netflix y dos de Amazon Prime.",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500807,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSOEYwQzAxOTZEMTI3QTQ4MDA1AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4215,
              "content": "Para corregir esto y dejar solo una de cada una, necesitara que me confirmes cul de las dos transacciones de Amazon Prime quieres que elimine. Por favor, indcame el ID de la transaccin que deseas eliminar. ",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756500809,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSMzJBMkYzRTUxMjk1RjhGMjg5AA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            },
            {
              "id": 4216,
              "content": "elimina la tercera,",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 0,
              "content_type": "text",
              "status": "sent",
              "content_attributes": {},
              "created_at": 1756501013,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAEhgUM0ZCNDVGMjEzQzBDQ0I2Q0M3RTYA",
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 2,
                "identifier": null,
                "name": "Pedro Rodriguez",
                "phone_number": "+573228854498",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              }
            },
            {
              "id": 4217,
              "content": "Listo, Pedro! He eliminado la tercera transaccin de Amazon Prime, la que tena el ID *35c0cef0-4ba8-4bf6-a1b3-361836213417*. ",
              "inbox_id": 2,
              "conversation_id": 1,
              "message_type": 1,
              "content_type": "text",
              "status": "read",
              "content_attributes": {},
              "created_at": 1756501030,
              "private": false,
              "source_id": "wamid.HBgMNTczMjI4ODU0NDk4FQIAERgSODNGN0EzNjM2RkNGMjI5MjEyAA==",
              "sender": {
                "id": 2,
                "name": "Mony",
                "avatar_url": "",
                "type": "agent_bot"
              }
            }
          ]
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.whitelabel.lat",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "5254",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "automation.whitelabel.lat",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6312933d0ba6",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 3,
              "name": "Mony"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "hola",
            "conversation": {
              "additional_attributes": {
                "chat_id": 176878701,
                "business_connection_id": null
              },
              "can_reply": true,
              "channel": "Channel::Telegram",
              "contact_inbox": {
                "id": 1063,
                "contact_id": 394,
                "inbox_id": 11,
                "source_id": "176878701",
                "created_at": "2025-11-11T02:15:54.667Z",
                "updated_at": "2025-11-11T13:02:05.721Z",
                "hmac_verified": false,
                "pubsub_token": "tt54JS8esJK3gXD5Kf3TN9i9"
              },
              "id": 867,
              "inbox_id": 11,
              "messages": [
                {
                  "id": 23379,
                  "content": "hola",
                  "account_id": 3,
                  "inbox_id": 11,
                  "conversation_id": 867,
                  "message_type": 0,
                  "created_at": 1763670230,
                  "updated_at": "2025-11-20T20:23:50.783Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "313",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 394,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "hola",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1763670230,
                    "contact_inbox": {
                      "source_id": "176878701"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "username": "AndresCorralCOL",
                      "created_at_ip": "38.199.29.38",
                      "language_code": "es",
                      "avatar_url_hash": "84c01cd21ae7d2bf68c852631980c237f2fb34306878478f2b592e331d8f0fe8",
                      "last_avatar_sync_at": "2025-11-11T18:19:23Z",
                      "social_telegram_user_id": 176878701,
                      "social_telegram_user_name": "AndresCorralCOL"
                    },
                    "custom_attributes": {
                      "moneda": "COP",
                      "signup_date": "2025-08-24T05:55:59.164Z",
                      "subscription_status": "pro_empresarial"
                    },
                    "email": "andresco70@gmail.com",
                    "id": 394,
                    "identifier": "626feafb-d6bc-48e0-922a-83e6787c7ae7",
                    "name": "Andrs Corral",
                    "phone_number": "+573045809637",
                    "thumbnail": "https://crm.whitelabel.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmtEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--880e5f504d998b85e57792a514d6b59a8723b30c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--84ff7bcaac62c8780904fc8d3b3f74bf82108c47/file_2.jpg",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [
                "registrado",
                "pro"
              ],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "username": "AndresCorralCOL",
                    "created_at_ip": "38.199.29.38",
                    "language_code": "es",
                    "avatar_url_hash": "84c01cd21ae7d2bf68c852631980c237f2fb34306878478f2b592e331d8f0fe8",
                    "last_avatar_sync_at": "2025-11-11T18:19:23Z",
                    "social_telegram_user_id": 176878701,
                    "social_telegram_user_name": "AndresCorralCOL"
                  },
                  "custom_attributes": {
                    "moneda": "COP",
                    "signup_date": "2025-08-24T05:55:59.164Z",
                    "subscription_status": "pro_empresarial"
                  },
                  "email": "andresco70@gmail.com",
                  "id": 394,
                  "identifier": "626feafb-d6bc-48e0-922a-83e6787c7ae7",
                  "name": "Andrs Corral",
                  "phone_number": "+573045809637",
                  "thumbnail": "https://crm.whitelabel.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmtEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--880e5f504d998b85e57792a514d6b59a8723b30c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--84ff7bcaac62c8780904fc8d3b3f74bf82108c47/file_2.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "pending",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1763395541,
              "agent_last_seen_at": 1763572727,
              "contact_last_seen_at": 0,
              "last_activity_at": 1763670230,
              "timestamp": 1763670230,
              "created_at": 1763395541,
              "updated_at": 1763670230.7849698,
              "applied_sla": null,
              "sla_events": [],
              "sla_policy_id": null
            },
            "created_at": "2025-11-20T20:23:50.783Z",
            "id": 23379,
            "inbox": {
              "id": 11,
              "name": "mony_dev_bot"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 3,
                "name": "Mony"
              },
              "additional_attributes": {
                "username": "AndresCorralCOL",
                "created_at_ip": "38.199.29.38",
                "language_code": "es",
                "avatar_url_hash": "84c01cd21ae7d2bf68c852631980c237f2fb34306878478f2b592e331d8f0fe8",
                "last_avatar_sync_at": "2025-11-11T18:19:23Z",
                "social_telegram_user_id": 176878701,
                "social_telegram_user_name": "AndresCorralCOL"
              },
              "avatar": "https://crm.whitelabel.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmtEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--880e5f504d998b85e57792a514d6b59a8723b30c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--84ff7bcaac62c8780904fc8d3b3f74bf82108c47/file_2.jpg",
              "custom_attributes": {
                "moneda": "COP",
                "signup_date": "2025-08-24T05:55:59.164Z",
                "subscription_status": "pro_empresarial"
              },
              "email": "andresco70@gmail.com",
              "id": 394,
              "identifier": "626feafb-d6bc-48e0-922a-83e6787c7ae7",
              "name": "Andrs Corral",
              "phone_number": "+573045809637",
              "thumbnail": "https://crm.whitelabel.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmtEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--880e5f504d998b85e57792a514d6b59a8723b30c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--84ff7bcaac62c8780904fc8d3b3f74bf82108c47/file_2.jpg",
              "blocked": false
            },
            "source_id": "313",
            "event": "message_created"
          },
          "webhookUrl": "https://automation.whitelabel.lat/webhook/mony-dev",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "updatedAt": "2025-11-15T07:09:41.772Z",
      "createdAt": "2025-11-15T07:09:41.772Z",
      "role": "workflow:owner",
      "workflowId": "T6rJJEm6CI35Jh50",
      "projectId": "pTVxuWoodsfUV8Xe"
    }
  ],
  "staticData": {
    "node:Programar Recordatorios": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-08-27T07:23:01.740Z",
      "createdAt": "2025-08-27T07:23:01.740Z",
      "id": "HBewKlqK6ZajEcWy",
      "name": "DEV"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-21T03:23:58.554Z",
  "versionId": "ed990f10-63cb-44f6-abf2-2670fc63607b"
}