Automation/2025/07/S9SCJIr4UmSrDNAM.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Unir Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Push Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type message Whatsap1": {
      "main": [
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector1": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "DataAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing7": {
      "main": [
        [
          {
            "node": "DataText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "Send message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "Send message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "Send message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message3": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "type message Whatsap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataAudio": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataText": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setData": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Mensajes": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-29T16:34:51.978Z",
  "id": "S9SCJIr4UmSrDNAM",
  "isArchived": false,
  "meta": null,
  "name": "Onboarding",
  "nodes": [
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2704,
        5456
      ],
      "id": "d47ab38a-aed8-49fe-9fce-82b61fd79db8",
      "name": "Wait16",
      "webhookId": "559145e6-f3ff-440e-8298-8e384b390615"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte4}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        5456
      ],
      "id": "3b61fcf8-9f47-4a49-a8cb-122089ac3e93",
      "name": "If17"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        5456
      ],
      "id": "facce6c6-e623-431c-9c21-68c5968a9a67",
      "name": "No Operation, do nothing16"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Start').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $('Data').item.json.user_id }}",
        "textBody": "={{ $json.message.content.parte4 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3136,
        5424
      ],
      "id": "0a6f2bcd-5748-40de-8de3-a5ff28569e5b",
      "name": "Send message7",
      "webhookId": "d9f93f21-8ca8-44cb-a8e0-8eab8eccc67f",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        5264
      ],
      "id": "60bed6c1-0bb5-47a2-9657-4dec62a703c8",
      "name": "No Operation, do nothing14"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2704,
        5232
      ],
      "id": "53afb401-c50a-4ee7-9613-e0d543148607",
      "name": "Wait15",
      "webhookId": "c61553f0-2333-4fa3-9915-d2dfaf92dd97"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte3}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        5232
      ],
      "id": "dc76ad3e-1ffa-47e6-bbf7-ad787c013f6e",
      "name": "If15"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Start').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $('Data').item.json.user_id }}",
        "textBody": "={{ $json.message.content.parte3 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3136,
        5232
      ],
      "id": "5266eb12-7c26-4e58-92bc-979face5780f",
      "name": "Send message6",
      "webhookId": "52abe86e-6124-4f7b-a024-c8f7b37b9958",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3760,
        5072
      ],
      "id": "19d817e4-8f39-469a-b0e6-c1fa0dc0f12d",
      "name": "No Operation, do nothing15"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat_id_{{ $('Data').item.json.user_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2928,
        5056
      ],
      "id": "955102bd-9aca-40f6-ad48-f64c33a75f53",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3152,
        5056
      ],
      "id": "2585eadb-2142-4149-aa9b-eb2d4560c010",
      "name": "Wait14",
      "webhookId": "1a2d667d-1b88-4432-a605-5e5c482bf3b4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "709f4717-003f-4f9f-b841-18d2f2f4ddb4",
              "leftValue": "={{ $json.message.content.parte2}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3328,
        5056
      ],
      "id": "4f0ded46-b794-480f-ae92-112ae0319350",
      "name": "If16"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Start').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $('Data').item.json.user_id }}",
        "textBody": "={{ $json.message.content.parte1 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2752,
        5056
      ],
      "id": "99d2bcf0-d751-42c9-8dac-25e2bf6bfda6",
      "name": "Send message3",
      "webhookId": "9664ca8b-6cdf-474c-a4c2-07f5e237eae8",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Divide el siguiente mensaje en hasta **4 partes más pequeñas** solo si es necesario, asegurándote de que cada parte tenga sentido completo.  \n\n### **Reglas:**  \n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en **una sola parte**.  \n- Si es *mediano* (hasta *400 caracteres*), divídelo en **2 partes**.  \n- Si es *largo* (hasta *600 caracteres*), divídelo en **3 partes**. \n- Si es *muy largo* (más de *600 caracteres*), agrégale una **parte4**.  \n\n- **Evita dividir el mensaje innecesariamente**. Usa la **menor cantidad de partes posible**.  \n- **No cortes oraciones en puntos, comas o conectores** para mantener la coherencia.  \n- **si hay una lista con varios items, no se debe dividir**, toda la lista debe ir en un mismo mensaje\n\n- **No incluyas datos sensibles del usuario** en la respuesta, como:  \n  - `user_id: <número>`  \n  - `subscriber_id: <número>`  \n  - `first_name: <nombre>`  \n  - **Elimina estos datos sin dejar rastros.**  \n\n---\n\n### **Formato de Salida:**  \n- Devuelve la respuesta en **formato JSON** con **solo las partes necesarias**.  \n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.  \n- **Nunca uses comillas `\"` para resaltar palabras**. En su lugar, usa un solo asterisco: *palabra*.  \n\n#### **Ejemplo de salida:**  \n\n{\n  \"parte1\": \"Texto de la primera parte.\",\n  \"parte2\": \"Texto de la segunda parte.\"\n}\n\n\n---\n\n### **Mensaje:**  \n{{ $json.output }}  \n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2144,
        5056
      ],
      "id": "f2a48547-e963-4e37-a581-03552e013673",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "UYsXoFpwT6Oh1GeF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Start').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $('Data').item.json.user_id }}",
        "textBody": "={{ $json.message.content.parte2 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3536,
        5040
      ],
      "id": "db58d370-06e9-410b-8f21-5756ae9beee6",
      "name": "Send message5",
      "webhookId": "142e011c-78b9-433c-a631-63863f0aa816",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {
        "content": "## RESPONS AGENT",
        "height": 760,
        "width": 2264,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2064,
        4928
      ],
      "id": "43d62a15-97c3-4ddf-bf15-faf0105c19dd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2704,
        4480
      ],
      "id": "26e4d07f-1e5e-4d0f-a8c8-701251180fb0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2416,
        4560
      ],
      "id": "b9b08c95-c551-472e-936b-7a5a5aade42b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UYsXoFpwT6Oh1GeF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history_mony_{{ $('setData').item.json.phone_number }}",
        "sessionTTL": 500000,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3040,
        4368
      ],
      "id": "0ce44752-1235-4d87-baba-8d9f8f68c13e",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "887218c3-c47e-4f19-9d76-2eaf22ae77bf",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        2336,
        4384
      ],
      "id": "e3a4c071-aa81-4b55-9cf3-ab259bd109df",
      "name": "Model Selector1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=nombre: {{ $json.first_name }},\nmensaje del usuario: {{ $json.message }},",
        "options": {
          "systemMessage": "=### *1. ROL Y OBJETIVO PRINCIPAL*\n\n- Actúa como \"Mony Onboarding Expert\",- el asistente virtual oficial de MONY. Tu *misión principal* - es recibir a los usuarios que llegan por primera vez a nuestro WhatsApp, enamorarlos de nuestra plataforma, resolver todas sus dudas y guiarlos con entusiasmo para que completen su registro en nuestra página web. Eres la primera impresión de MONY, por lo que tu amabilidad, claridad y proactividad son clave.\n\n### *2. PERSONA Y TONO DE COMUNICACIÓN*\n\n- *Amigable y Cercano:- Usa un tono conversacional y cálido. Emplea emojis para hacer la conversación más amena (👋, ✨, 🚀, 💰, ✅). Tutea al usuario.\n- *Servicial y Paciente:- Tu disposición a ayudar es total. Si un usuario tiene muchas preguntas, responde a cada una con paciencia y claridad. Nunca te muestres apurado.\n- *Experto y Confiable:- Debes conocer MONY a la perfección. Habla con seguridad sobre las funcionalidades, beneficios y planes. Transmite confianza y profesionalismo.\n- *Entusiasta y Motivador:- Muestra pasión por cómo MONY puede transformar las finanzas personales del usuario. Anímale a tomar el control de su dinero.\n\n### *3. BASE DE CONOCIMIENTO (Tu Cerebro)*\n\nToda tu información se basa *exclusivamente- en el siguiente contexto sobre MONY. No inventes funcionalidades ni precios.\n\n- *Producto:- MONY es un asistente financiero personal que funciona principalmente por WhatsApp para registrar gastos e ingresos de forma fácil y rápida.\n- *Flujo Principal:*\n    1.  *Registras todo por WhatsApp:- Envías un texto (\"gasté 50.000 en gasolina\"), un audio, una foto de una factura o un archivo.\n    2.  *MONY lo procesa con IA:- Clasifica automáticamente tus movimientos.\n    3.  *Visualizas en un Dashboard Web:- Analizas tus finanzas con gráficos, resúmenes y reportes detallados.\n- *Beneficios Clave:*\n    - Tomar el control de tus finanzas de forma sencilla.\n    - Ahorrar tiempo registrando todo al instante.\n    - Detectar patrones, gastos excesivos y oportunidades de ahorro.\n    - Recibir recordatorios de pagos y suscripciones.\n- *Funcionalidades:*\n    - *Registro multiformato:- Texto, audio, imagen/foto de factura (OCR), archivos PDF/Excel.\n    - *Dashboard Web:- Con gráficos de evolución financiera, distribución de gastos por categoría y listado de transacciones.\n    - *Categorización IA:- El sistema aprende y clasifica tus gastos.\n    - *Recordatorios:- Para que no olvides registrar tus movimientos.\n- *Modelo de Monetización (Planes):*\n    - *Plan Free ($0):- Registro básico y limitado vía WhatsApp. Ideal para probar.\n    - *Plan Premium ($9.99/mes):- ¡La experiencia completa! Dashboard web con todos los gráficos, análisis con IA, gestión de suscripciones y recomendaciones personalizadas.\n    - *Plan Pro Empresarial ($49.99/mes):- Para usuarios avanzados o pequeños negocios. Permite exportación avanzada de reportes y gestión de varios perfiles financieros.\n\n### *4. FLUJO DE CONVERSACIÓN ESTRATÉGICO*\n\nSigue estos pasos para guiar al usuario:\n\n*Paso 1: Bienvenida Cálida*\n- Saluda al usuario y preséntate.\n- Ejemplo: \"¡Hola! 👋 Soy Mony, tu futuro asistente financiero personal. ¡Qué bueno tenerte por aquí! Estoy listo para ayudarte a tomar el control de tu dinero. ¿Te gustaría saber cómo funciono?\"\n\n*Paso 2: Explicación Sencilla y Potente (El \"Elevator Pitch\")*\n- Explica el concepto principal de MONY de forma simple.\n- Ejemplo: \"¡Es súper fácil! Imagina poder registrar todos tus gastos e ingresos simplemente enviando un mensaje de WhatsApp, ¡como si chatearas con un amigo! Luego, toda esa información se organiza automáticamente en un panel web para que veas a dónde va tu dinero con gráficos súper claros. ✨\"\n\n*Paso 3: Detallar Funcionalidades Clave (Generar Interés)*\n- Menciona las formas de registro para destacar la facilidad de uso.\n- Ejemplo: \"¿Lo mejor? Puedes registrar un gasto escribiendo 'cine 20.000', mandando un audio mientras caminas, o incluso tomándole una foto a esa factura que tienes guardada. ¡Yo me encargo del resto!\"\n\n*Paso 4: Presentar los Planes (Resolver la duda del costo)*\n- Introduce los planes de forma natural, empezando por el gratuito.\n- Ejemplo: \"Tenemos un plan para cada necesidad. Puedes empezar con el *Plan Free- para probar el registro básico por WhatsApp sin costo. Si quieres la experiencia completa con el dashboard web, análisis con IA y todas las herramientas para ahorrar, el *Plan Premium- es para ti. Y para los más pro, tenemos el *Plan Empresarial*.\"\n\n*Paso 5: Resolución de Dudas (Generar Confianza)*\n- Invita activamente al usuario a preguntar.\n- Ejemplo: \"¿Qué te parece? ¿Tienes alguna duda sobre las funcionalidades, los precios o cómo empezar? ¡Pregúntame lo que quieras!\"\n- *Respuestas a posibles preguntas:*\n    - *¿Es seguro?- \"Totalmente. Usamos protocolos de seguridad avanzados, toda tu información está encriptada y protegida.\"\n    - *¿Qué pasa si me equivoco al registrar algo?- \"¡No te preocupes! Desde el dashboard web puedes editar o eliminar cualquier transacción fácilmente.\"\n    - *¿Puedo usarlo si viajo?- \"¡Claro! MONY reconoce gastos en diferentes divisas (dólares, euros, etc.) y los convierte automáticamente.\"\n\n*Paso 6: Llamada a la Acción (El Cierre)*\n- Una vez resueltas las dudas, guía al usuario al siguiente paso: el registro.\n- Ejemplo: \"¡Genial! Veo que estás listo para empezar a organizar tus finanzas. 🚀 El siguiente paso es súper rápido. Solo tienes que registrarte en nuestra web para crear tu cuenta y vincular tu WhatsApp. \n\nHaz clic aquí para registrarte:\n*https://mony-app.com/registro*.\nUna vez lo hagas, vuelve a saludarme por aquí y empezamos a registrar tu primer gasto. ¡Te espero!\"\n\n### *5. REGLAS Y LÍMITES*\n\n- *No registres gastos:- Tu función es solo de onboarding. Si alguien intenta registrar un gasto, amablemente explícale que primero debe completar el registro en la web.\n- *No des consejos financieros personales:- No eres un asesor. Tu rol es explicar la herramienta.\n- *Siempre redirige al registro:\n- Tu objetivo final es que el usuario vaya al enlace de registro. dependiendo como notes al usuario puedes enviar el link de registro en cualquier paso, no necesariamente debes esperar al paso 6.\n\n- *Si no sabes algo:- No inventes. Di algo como: \"Esa es una excelente pregunta. Ahora mismo no tengo el detalle, pero nuestro equipo de soporte podrá ayudarte en cuanto te registres.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2832,
        4144
      ],
      "id": "59735d43-9896-438b-ae76-abe62a56640f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Corrige mensajes de usuarios quitando caracteres raros, errores ortográficos y signos innecesarios como acentos mal puestos, pero sin cambiar el sentido original del mensaje, si llega el mismo mensaje repetido exactamente, varias veces, corriges para que solo envies uno, ",
              "role": "system"
            },
            {
              "content": "=Corrige el siguiente mensaje:\\n\\n{{ $json.message }}\\n\\nDevuelve solo el mensaje corregido, no quites las etiquetas html"
            }
          ]
        },
        "options": {
          "maxTokens": 200,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2096,
        4144
      ],
      "id": "881b5686-6ee6-47ed-a61d-87bccf6c4d16",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "UYsXoFpwT6Oh1GeF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENT MAIN",
        "height": 600,
        "width": 2240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        4096
      ],
      "id": "c4230e06-3ccf-471a-80fe-b877c5d66e4a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4544,
        3392
      ],
      "id": "ea686747-cd07-48a7-858e-80f36d629675",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7fe6665-ef0d-4ec2-9800-88004951e528",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('setData').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        3296
      ],
      "id": "f842bdfd-7e03-40d5-a409-a96eb136634a",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3872,
        3296
      ],
      "id": "66123173-b1bc-4c75-8b39-f0ebf5aaa426",
      "name": "Wait1",
      "webhookId": "c42fd9d6-416c-4950-8662-76e241fbd897"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "nombre",
              "value": "={{ $json.nombre }}"
            },
            {
              "key": "phone_number",
              "value": "={{ $json.phone_number }}"
            },
            {
              "key": "tipo_mensaje",
              "value": "={{ $json.tipo_mensaje }}"
            },
            {
              "key": "mensaje",
              "value": "={{ $json.mensaje }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        3424,
        3296
      ],
      "id": "0529c879-93a6-4ba0-bbdf-359ca7fb48c3",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38cdad62-0d9c-45bc-860e-9e03d107ba58"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82df4052-c480-44a2-9d09-c195d4bc6879",
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9c1a8cf-af4e-4bca-a66c-184829c009d8",
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71778507-22f2-4e0f-99d7-fdd87ed1f26b",
                    "leftValue": "={{ $('Start').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2080,
        3456
      ],
      "id": "96e3e6fc-a861-4b7a-b3ad-691d3c404f4f",
      "name": "type message Whatsap1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        3392
      ],
      "id": "368ec7f1-f4e9-41f5-bab7-737a1445e60c",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2528,
        3392
      ],
      "id": "73109488-f6eb-47af-b9dd-22847245d052",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2752,
        3392
      ],
      "id": "4ec9ba3b-a1e0-435f-b5b4-f8f13535411f",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Start').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2304,
        3200
      ],
      "id": "3cba0cb6-0baa-48d9-ad8a-d29a3d94818e",
      "name": "Download media1",
      "webhookId": "9559feee-21a8-4e7f-b6d4-a947041fdc5f",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        3200
      ],
      "id": "62fdd47e-185c-44bf-8a2c-3310c8c7ce94",
      "name": "HTTP Request4",
      "credentials": {
        "whatsAppApi": {
          "id": "IzfsUgwJnA4EF09z",
          "name": "whatsap Valeia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "languaje",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        3200
      ],
      "id": "a8b69ec3-dfdb-4a6a-aba6-549920ff25fd",
      "name": "HTTP Request5",
      "credentials": {
        "openAiApi": {
          "id": "UYsXoFpwT6Oh1GeF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Incoming Messages\n",
        "height": 764,
        "width": 2912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        3168
      ],
      "id": "cb14ce5c-a33f-42c1-bf63-5008b59dc7c8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "metadata",
              "type": "any"
            },
            {
              "name": "contacts",
              "type": "any"
            },
            {
              "name": "messages",
              "type": "any"
            },
            {
              "name": "field",
              "type": "any"
            }
          ]
        }
      },
      "id": "649b0691-83c5-4b7f-a944-f90df1943348",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1712,
        3488
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=chat_id_mony{{ $json.phone_number }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3648,
        3296
      ],
      "id": "c1c55121-e1be-4fab-a202-320bf3c22372",
      "name": "Push Message",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "=chat_id_mony{{ $json.phone_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4096,
        3296
      ],
      "id": "2079ccee-b715-4ae6-9631-08cde04f7e84",
      "name": "Get Message",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $json.contacts[0].wa_id }}",
        "textBody": "=📄 ¡ Gracias por enviarnos tu documento.\nSin embargo, para poder procesarlo y ayudarte con el análisis, primero necesitas estar registrado en **MONY**.\nEsto nos permite guardar tu información de forma segura y ofrecerte una experiencia personalizada. 🧠✨\n\n👉 Puedes registrarte en menos de 1 minuto aquí:\n*https://mony-app.com/registro*\n\nUna vez estés dentro, ¡estaremos listos para ayudarte a organizar tus finanzas como un pro! 💸🚀",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2304,
        3584
      ],
      "id": "3e0155d4-3ef7-40fa-a7d7-f8a32401667b",
      "name": "Send message",
      "webhookId": "9664ca8b-6cdf-474c-a4c2-07f5e237eae8",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "=+{{ $json.contacts[0].wa_id }}",
        "textBody": "=📄 ¡ Gracias por enviarnos tu imagen.\nSin embargo, para poder procesarlo y ayudarte con el análisis, primero necesitas estar registrado en **MONY**.\nEsto nos permite guardar tu información de forma segura y ofrecerte una experiencia personalizada. 🧠✨\n\n👉 Puedes registrarte en menos de 1 minuto aquí:\n*https://mony-app.com/registro*\n\nUna vez estés dentro, ¡estaremos listos para ayudarte a organizar tus finanzas como un pro! 💸🚀",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2304,
        3760
      ],
      "id": "3b71e39d-45b8-4733-b08a-11add79fb14d",
      "name": "Send message1",
      "webhookId": "9664ca8b-6cdf-474c-a4c2-07f5e237eae8",
      "credentials": {
        "whatsAppApi": {
          "id": "YohohlgP3bBq85IL",
          "name": "Test Pedro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('Start').item.json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('Start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<audio>{{ $json.text }}</audio>",
              "type": "string"
            },
            {
              "id": "8a4d2988-720e-46c1-9927-90f62d5ddd72",
              "name": "tags",
              "value": "={{ $('Start').item.json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        3200
      ],
      "id": "65742d6f-b806-4166-8cd9-163700964d6c",
      "name": "DataAudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "8a4d2988-720e-46c1-9927-90f62d5ddd72",
              "name": "tags",
              "value": "={{ $json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        3392
      ],
      "id": "94e29072-c224-4c0f-8dd1-1703ae0a975e",
      "name": "DataText"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4f107ad-f4e3-4616-a1ec-515f7324ba23",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "6f55c6f4-4cb3-4cec-9d31-b956d3fffde0",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "bad14eb8-f005-4d91-bd83-600e6105d974",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        3296
      ],
      "id": "d04e4f61-cc94-4168-9dbe-3351194a5f77",
      "name": "setData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b89d5418-df60-419b-84f6-5bc7bc0dd09b",
              "name": "message",
              "value": "={{ $('Get Message').item.json.message.join('\\n').replace(/test/gi, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4544,
        3200
      ],
      "id": "3e1aa6f4-7a79-405a-b1ee-6d3c94a2a18d",
      "name": "Unir Mensajes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b89d5418-df60-419b-84f6-5bc7bc0dd09b",
              "name": "message",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "f312aa42-4354-4954-92ff-9549a49c1d5b",
              "name": "user_id",
              "value": "={{ $('setData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "4e6ed31c-2d8f-4415-bdaf-404a870f1cc2",
              "name": "first_name",
              "value": "={{ $('setData').item.json.nombre.split(\" \")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        4144
      ],
      "id": "4a3fde48-d04e-4352-8617-253c0fce9df5",
      "name": "Data"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "metadata": {
            "display_phone_number": "573143400476",
            "phone_number_id": "565888133266017"
          },
          "contacts": [
            {
              "profile": {
                "name": "Andrés Corral"
              },
              "wa_id": "573045809637"
            }
          ],
          "messages": [
            {
              "from": "573045809637",
              "id": "wamid.HBgMNTczMDQ1ODA5NjM3FQIAEhgUM0Y2MzQwNzY2RTM2MTk0MEI4M0MA",
              "timestamp": "1753811369",
              "text": {
                "body": "hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-29T21:10:04.113Z",
  "versionId": "61a898c2-5e6c-473b-99cd-c0c32d5e7d2e"
}