Automation/2025/06/dZIElQmJPFayHGUq.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whisper Transcriber": {
      "main": [
        [
          {
            "node": "Set Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar HTML1": {
      "main": [
        [
          {
            "node": "Si no se puede Scrapear1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si no se puede Scrapear1": {
      "main": [
        [
          {
            "node": "Extraer texto limpio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Idea Url",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Human": {
      "main": [
        [
          {
            "node": "Append Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto limpio": {
      "main": [
        [
          {
            "node": "Cant de Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Idea Url": {
      "main": [
        [
          {
            "node": "Set Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "whisper Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Url": {
      "main": [
        [
          {
            "node": "Append Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cant de Ideas": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Generar Idea Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Idea Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas": {
      "main": [
        [
          {
            "node": "Join Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Ideas": {
      "main": [
        [
          {
            "node": "Generar Idea Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Idea Agent": {
      "main": [
        [
          {
            "node": "Set Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Agent": {
      "main": [
        [
          {
            "node": "Append Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 am": {
      "main": [
        [
          {
            "node": "Get Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Descargar HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Idea Url/Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Idea Url/Text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Url1": {
      "main": [
        [
          {
            "node": "Append Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prompt Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Style": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Random": {
      "main": [
        [
          {
            "node": "Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Image": {
      "main": [
        [
          {
            "node": "update Status Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Text": {
      "main": [
        [
          {
            "node": "update Status Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getImage": {
      "main": [
        [
          {
            "node": "LinkedIn Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "getImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Idea Url/Text": {
      "main": [
        [
          {
            "node": "Set Url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get Ideas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Style1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Set Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Style1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update Status1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data1": {
      "main": [
        [
          {
            "node": "Create Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "update Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Image1": {
      "main": [
        [
          {
            "node": "update Status Post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Text1": {
      "main": [
        [
          {
            "node": "update Status Post3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getImage1": {
      "main": [
        [
          {
            "node": "LinkedIn Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "getImage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Idea": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-06-12T15:20:10.554Z",
  "id": "dZIElQmJPFayHGUq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LINKEDIN POST TEST",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1640,
        250
      ],
      "id": "d09e39a5-f110-4431-a9f2-dec9009a0753",
      "name": "Telegram Trigger",
      "webhookId": "63209f7e-5783-4110-a410-686141f16c65",
      "credentials": {
        "telegramApi": {
          "id": "dxhwjnro7zxq1FFz",
          "name": "Idea generator"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "languaje",
              "value": "es"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        40
      ],
      "id": "e140fe58-517f-400a-9327-2731ec757cff",
      "name": "whisper Transcriber",
      "credentials": {
        "openAiApi": {
          "id": "UYsXoFpwT6Oh1GeF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "d079d376-2c7b-4889-a21c-53ff2ddc58b1",
      "name": "Descargar HTML1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        320
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ae79c44-8005-4355-93e8-e466c37cc548",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": "403",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6f48d47-257c-4328-bc44-3de8dea91416",
      "name": "Si no se puede Scrapear1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        320
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        420
      ],
      "id": "2a299d30-18dd-42bd-82eb-8e9a8da1802a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "IDEA",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "9e8e77be-90a5-4657-9744-f428b909acc0",
              "name": "FUENTE",
              "value": "=Humano",
              "type": "string"
            },
            {
              "id": "1c512e18-fb69-48e1-aab5-4782a7b8c1e9",
              "name": "ESTADO",
              "value": "Nueva",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        40
      ],
      "id": "2c0e87d6-d774-49f9-a080-06d579513bb7",
      "name": "Set Human"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30c69212-be56-41c8-a6e5-81472917f5c5",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1420,
        260
      ],
      "id": "d1be6d6d-945a-413e-bcd3-32741dc9784a",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const message = $json[\"message\"][\"text\"];\nconst regex = /(https?:\\/\\/[^\\s]+)/g;\nconst matches = message.match(regex);\n\nreturn matches\n  ? [{ json: { url: matches[0] } }]\n  : [{ json: { Texto: message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1220,
        320
      ],
      "id": "fd455dee-7459-4ca2-8018-5d902b2c8900",
      "name": "Extract URL"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el HTML\nconst htmlContent = $input.first().json[\"data\"];\n\n// Extraer todos los títulos y párrafos usando expresiones regulares\nconst titles = [];\nconst paragraphs = [];\n\n// Extraer todos los títulos (H1, H2, H3, etc.)\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]*>/g, \"\")); // Eliminar etiquetas HTML\n    }\n}\n\n// Extraer todos los párrafos\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]*>/g, \"\")); // Eliminar etiquetas HTML\n    }\n}\n// Unir todos los títulos y párrafos en un solo texto\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\n// Limitar el número de caracteres para OpenAI (opcional)\n//const maxCharacters = 10000;\nlet finalContent = content;\n//if (finalContent.length > maxCharacters) {\n//   finalContent = finalContent.slice(0, maxCharacters) + '...';\n//}\n\n// Retornar solo el contenido procesado y reducido\nreturn [{ json: { content: finalContent } }];"
      },
      "id": "77eaca0e-eca2-454c-b7e4-c196a804dc72",
      "name": "Extraer texto limpio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        220
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Este es el contenido de una página web:\n\n\"\"\" \n{{ $json.html }}\n\"\"\"\n\nA partir de ese contenido, genera UNA IDEA unica, concreta para un post de LinkedIn. Que sea clara, aplicable, y con tono profesional. Devuelve solo la idea, sin ningún texto adicional."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -120,
        420
      ],
      "id": "888d845a-17f0-4024-a0c0-7f35b47c9bb1",
      "name": "Generar Idea Url"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1220,
        40
      ],
      "id": "115057d2-00bc-4b49-970e-ff218d884675",
      "name": "Get Audio",
      "webhookId": "e9f50e63-a084-4cce-bde6-067b564b9c07",
      "credentials": {
        "telegramApi": {
          "id": "dxhwjnro7zxq1FFz",
          "name": "Idea generator"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "IDEA",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9e8e77be-90a5-4657-9744-f428b909acc0",
              "name": "FUENTE",
              "value": "=Url",
              "type": "string"
            },
            {
              "id": "1c512e18-fb69-48e1-aab5-4782a7b8c1e9",
              "name": "ESTADO",
              "value": "Nueva",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        420
      ],
      "id": "cfc2290f-8a10-47e0-af72-5e1b7a7c075d",
      "name": "Set Url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a5c699-02c3-4e3d-b88e-1431d6a4b160",
              "name": "html",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "2e827f2b-e922-48fb-abf2-3bb4872a733c",
              "name": "n",
              "value": "2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        220
      ],
      "id": "90ffaadf-1654-40cd-9d9f-e31157ebfe76",
      "name": "Cant de Ideas"
    },
    {
      "parameters": {
        "jsCode": "const count = $json[\"n\"];\nconst html = $json[\"html\"];\n\nlet output = [];\n\nfor (let i = 0; i < count; i++) {\n  output.push({ json: { html } });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        220
      ],
      "id": "b6977778-3c55-45c2-8f1b-9e1b3104be2d",
      "name": "Split Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -700,
        600
      ],
      "id": "b429af69-72d3-40b0-92dc-d80b1f5aa9b7",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y",
          "mode": "list",
          "cachedResultName": "Post Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "IDEAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit#gid=0"
        },
        "options": {}
      },
      "id": "86c11954-39c0-47f3-ab9d-bafc5c96aa93",
      "name": "Get Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1220,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ideas = items.map(item => `- ${item.json.IDEA}`);\nreturn [{ json: { texto: ideas.join('\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        600
      ],
      "id": "f9a94c5c-849c-485f-9324-1c2358f1698d",
      "name": "Join Ideas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estas son algunas ideas de publicaciones para LinkedIn que ya han sido generadas por un humano o por un agente virtual:\n\n{{ $json[\"texto\"] }}\n\nTeniendo en cuenta el estilo, tono y temas de las ideas anteriores, genera DOS ideas nuevas que sean:\n- Originales\n- Unicas\n- Claras y concisas\n- Útiles para un público interesado en tecnología, negocios, automatizacion de procesos\n\nDevuélvelas en formato de lista:\n1. Idea uno...\n2. Idea dos...\n\nDevuelve solo las idea, sin ningún texto adicional.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -780,
        600
      ],
      "id": "28edcbbd-1dca-41b5-93ef-a0d779d3eec1",
      "name": "Generar Idea Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"text\"];\n\n// Dividir líneas y limpiar cada una\nconst lines = raw\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line !== \"\");\n\n// Extraer ideas que comienzan con \"1.\" o \"2.\" y limpiar el número\nconst ideas = lines\n  .filter(line => /^\\d\\.\\s*/.test(line)) // solo líneas que comienzan con número\n  .map(line => line.replace(/^\\d\\.\\s*/, \"\").trim()); // quitar el número\n\nreturn ideas.map(idea => ({\n  json: {\n    IDEA: idea,\n    FUENTE: \"Agente\",\n    ESTADO: \"Nueva\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        600
      ],
      "id": "955668d6-f0c4-4cd6-baab-96cf60f89112",
      "name": "Set Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "ba11d49c-b709-4996-81fd-1df0d6b6657b",
      "name": "7 am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1640,
        600
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -360,
        440
      ],
      "id": "48795643-3ad1-46b4-b916-b7e798158c87",
      "name": "error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9b14bf5-9449-4346-9c20-7dfb6c284c0a",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1000,
        320
      ],
      "id": "6514d1b0-3b87-4568-9998-889bf31307a2",
      "name": "If1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -100,
        600
      ],
      "id": "112f74f2-73ac-4443-89a1-4518ee127fae",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d777d7-9802-4251-822b-e9c4d8bf3424",
              "name": "IDEA",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9e8e77be-90a5-4657-9744-f428b909acc0",
              "name": "FUENTE",
              "value": "=Humano",
              "type": "string"
            },
            {
              "id": "1c512e18-fb69-48e1-aab5-4782a7b8c1e9",
              "name": "ESTADO",
              "value": "Nueva",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        600
      ],
      "id": "99eb8d29-d011-4d80-9c65-45995b24c813",
      "name": "Set Url1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1640,
        1220
      ],
      "id": "d3540ec3-5a6b-4f14-9dc7-019e97741f9c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y",
          "mode": "list",
          "cachedResultName": "Post Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "IDEAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ESTADO",
              "lookupValue": "Nueva"
            }
          ]
        },
        "options": {}
      },
      "id": "2276c779-cfb7-4ef8-acc0-e69e82c7709f",
      "name": "Get Ideas1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1420,
        1220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        1220
      ],
      "id": "afe35396-ddba-4eb6-93b8-a1b6cc4c0f72",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IDEA: {{ $json.IDEA }},\nESTILO DE ESCRITURA: {{ $json[\"ESTILO DE ESCRITURA\"] }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}\nNever include asterisks or markdown formatting"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -540,
        1140
      ],
      "id": "b808ed3c-a414-4c7f-bb16-92277700e864",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -520,
        1320
      ],
      "id": "6bc20c43-7db7-443d-a011-ee57092ad081",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60cc45e9-533d-4769-9eeb-dd6c4f869798",
              "name": "row_number",
              "value": "={{ $('Loop Over Items').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "a4a95abf-340a-4b87-8ae7-c6cf77fcb728",
              "name": "IDEA",
              "value": "={{ $('Loop Over Items').item.json.IDEA }}",
              "type": "string"
            },
            {
              "id": "5d8388e5-af3c-4760-8ef2-dfc2108ad352",
              "name": "ESTILO DE ESCRITURA",
              "value": "=# Características principales del estilo:\n\n## Tono Conversacional y Auténtico\n\nUsa un lenguaje coloquial y natural (\"pues fácil\", \"cooooomo?\")\nIncorpora expresiones informales y jerga común\nRefleja el habla natural con alargamiento de palabras (\"tooooodo\", \"loooco\")\n\n\n## Estructura y Formato Distintivo\n\nOraciones cortas y directas\nUso frecuente de saltos de línea para crear pausas dramáticas\nPárrafos muy breves,  intercala con algunos de una sola línea\nUtiliza guiones y separadores (——————) para organizar ideas\n\n\n## Elementos Narrativos\n\nCuenta historias personales con vulnerabilidad y honestidad\nAlterna entre narración y diálogo interno\nIncluye conversaciones simuladas consigo mismo o con otros\nUsa preguntas retóricas para mantener el engagement\n\n\n## Técnicas de Énfasis\n\n\nUtiliza mayúsculas para enfatizar palabras clave (\"BIEN difícil\")\nEmplea asteriscos para resaltar secciones (El trabajo fácil)\nRepite ideas para dar énfasis\nUsa signos de puntuación múltiples para expresividad (\"?!\")\n\n\n## Estilo de Reflexión\n\n\nCombina insights profesionales con experiencias personales\nMuestra vulnerabilidad y admite errores abiertamente\nIncluye aprendizajes y conclusiones al final de cada texto\nBalancea humor con seriedad\n\n",
              "type": "string"
            },
            {
              "id": "ccbd9cbb-911e-49d6-bf90-018cf82e5927",
              "name": "prompt",
              "value": "={{ $json.promptCompleto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        1100
      ],
      "id": "8d3f1e17-0da3-4fc5-9199-27c83e729286",
      "name": "Style"
    },
    {
      "parameters": {
        "jsCode": "// Generador de números aleatorios para frameworks\nfunction getRandomInt1To4() {\n  return Math.floor(Math.random() * 4) + 1;\n}\n\nconst randomNumber = getRandomInt1To4();\n\n// Frameworks estructurados en español optimizados para autenticidad\nconst frameworks = {\n  1: `Eres un ghostwriter experto especializado en crear contenido auténtico para LinkedIn usando el framework Problema-Agitar-Solución (PAS).\n\n🎯 ADAPTACIÓN AL ESTILO PERSONAL:\n- Estudia cuidadosamente el estilo proporcionado\n- Replica su tono, vocabulario y estructura de frases\n- Mantén su nivel de formalidad/informalidad\n- Usa sus expresiones características y muletillas\n- Respeta su forma de dirigirse a la audiencia\n\nESTRUCTURA PAS:\n\n**PROBLEMA (Apertura potente):**\n- Comienza con una situación específica que identifique un problema real\n- Usa una anécdota personal o observación directa\n- Hook inmediato que pare el scroll\n- Sin contexto innecesario\n\n**AGITAR (Desarrollo del conflicto):**\n- Elabora las consecuencias negativas del problema\n- Usa listas con guiones para destacar experiencias específicas\n- Incluye errores costosos o frustraciones reales\n- Párrafos cortos de máximo 2-3 líneas\n\n**SOLUCIÓN (Resolución y valor):**\n- Comparte la realización o solución descubierta\n- Incluye lecciones aprendidas de forma natural\n- Proporciona valor actionable sin sonar predicativo\n- Termina con reflexión personal genuina\n\n🚫 NUNCA HAGAS ESTO (Detectores de IA):\n- Empezar con \"En el mundo de...\", \"En mi experiencia como...\"\n- Usar listas excesivas con emojis en cada punto\n- Frases como \"Esto me hizo reflexionar sobre...\"\n- Estructura demasiado perfecta o académica\n- Lenguaje corporativo genérico\n\n✅ SÍ HAZ ESTO (Contenido Humano):\n- \"Hace unos días...\" / \"El otro día...\"\n- \"No sé si os pasa a vosotros, pero...\"\n- \"Puede que esté equivocado, pero...\"\n- \"Admito que al principio pensé...\"\n- Referencias específicas a herramientas, lugares, situaciones\n\nFORMATO:\n- Entre 150-300 palabras\n- Párrafos de 1-3 líneas máximo\n- Listas con guiones (no números ni emojis)\n- Sin preguntas directas al final\n- Sin llamadas a la acción forzadas`,\n\n  2: `Eres un ghostwriter experto especializado en crear contenido auténtico para LinkedIn usando el framework Observación-Impacto-Recomendación.\n\n🎯 ADAPTACIÓN AL ESTILO PERSONAL:\n- Estudia cuidadosamente el estilo proporcionado\n- Replica su tono, vocabulario y estructura de frases\n- Mantén su nivel de formalidad/informalidad\n- Usa sus expresiones características y muletillas\n- Respeta su forma de dirigirse a la audiencia\n\nESTRUCTURA OBSERVACIÓN-IMPACTO-RECOMENDACIÓN:\n\n**OBSERVACIÓN (Insight potente):**\n- Comienza con una observación específica de tu industria\n- Usa datos concretos o situaciones reales observadas\n- Declaración que capte atención inmediatamente\n\n**IMPACTO (Consecuencias):**\n- Elabora las implicaciones de esta observación\n- Usa listas con guiones para destacar efectos específicos\n- Incluye consecuencias tanto positivas como negativas\n- Conecta con experiencias del sector\n\n**RECOMENDACIÓN (Valor actionable):**\n- Ofrece consejos prácticos basados en la observación\n- Comparte qué funcionó en tu experiencia\n- Incluye errores a evitar de forma natural\n- Termina con perspectiva personal genuina\n\n🚫 NUNCA HAGAS ESTO (Detectores de IA):\n- Empezar con \"En el mundo de...\", \"En mi experiencia como...\"\n- Usar listas excesivas con emojis en cada punto\n- Frases como \"Esto me hizo reflexionar sobre...\"\n- Estructura demasiado perfecta o académica\n- Lenguaje corporativo genérico\n\n✅ SÍ HAZ ESTO (Contenido Humano):\n- \"He notado que...\" / \"Últimamente veo...\"\n- \"En mi sector está pasando algo curioso...\"\n- \"Puede que sea solo mi percepción, pero...\"\n- \"Después de trabajar con X clientes...\"\n- Referencias específicas a herramientas, metodologías, casos reales\n\nFORMATO:\n- Entre 150-300 palabras\n- Párrafos de 1-3 líneas máximo\n- Listas con guiones (no números ni emojis)\n- Sin preguntas directas al final\n- Sin llamadas a la acción forzadas`,\n\n  3: `Eres un ghostwriter experto especializado en crear contenido auténtico para LinkedIn usando el framework Historia-Lección-Aplicación.\n\n🎯 ADAPTACIÓN AL ESTILO PERSONAL:\n- Estudia cuidadosamente el estilo proporcionado\n- Replica su tono, vocabulario y estructura de frases\n- Mantén su nivel de formalidad/informalidad\n- Usa sus expresiones características y muletillas\n- Respeta su forma de dirigirse a la audiencia\n\nESTRUCTURA HISTORIA-LECCIÓN-APLICACIÓN:\n\n**HISTORIA (Narrativa envolvente):**\n- Comienza con una anécdota personal específica y creíble\n- Usa detalles tangibles (fechas, lugares, nombres, cifras)\n- Incluye el contexto emocional del momento\n- Hook narrativo que enganche desde la primera línea\n\n**LECCIÓN (Insight descubierto):**\n- Comparte la realización o aprendizaje clave\n- Incluye el momento \"aha\" de forma natural\n- Conecta la experiencia personal con valor universal\n- Admite errores o cambios de perspectiva\n\n**APLICACIÓN (Valor práctico):**\n- Explica cómo aplicar esta lección en situaciones similares\n- Usa listas con guiones para acciones específicas\n- Incluye advertencias sobre errores comunes\n- Termina con reflexión personal genuina\n\n🚫 NUNCA HAGAS ESTO (Detectores de IA):\n- Empezar con \"En el mundo de...\", \"En mi experiencia como...\"\n- Usar listas excesivas con emojis en cada punto\n- Frases como \"Esto me hizo reflexionar sobre...\"\n- Estructura demasiado perfecta o académica\n- Lenguaje corporativo genérico\n\n✅ SÍ HAZ ESTO (Contenido Humano):\n- \"El otro día me pasó algo...\" / \"Hace un mes...\"\n- \"No sabía si reír o llorar cuando...\"\n- \"Admito que metí la pata cuando...\"\n- \"Al principio pensé que era una tontería, pero...\"\n- Detalles específicos: horarios, lugares, conversaciones exactas\n\nFORMATO:\n- Entre 150-300 palabras\n- Párrafos de 1-3 líneas máximo\n- Narrativa fluida con diálogos ocasionales\n- Sin preguntas directas al final\n- Sin llamadas a la acción forzadas`,\n\n  4: `Eres un ghostwriter experto especializado en crear contenido auténtico para LinkedIn usando el framework ¿Qué?-¿Y qué?-¿Ahora qué?\n\n🎯 ADAPTACIÓN AL ESTILO PERSONAL:\n- Estudia cuidadosamente el estilo proporcionado\n- Replica su tono, vocabulario y estructura de frases\n- Mantén su nivel de formalidad/informalidad\n- Usa sus expresiones características y muletillas\n- Respeta su forma de dirigirse a la audiencia\n\nESTRUCTURA ¿QUÉ?-¿Y QUÉ?-¿AHORA QUÉ?:\n\n**¿QUÉ? (Hecho/Observación):**\n- Presenta un hecho, evento o dato específico de tu industria\n- Usa apertura directa y contundente\n- Incluye números, fechas o situaciones concretas\n- Sin introducción innecesaria\n\n**¿Y QUÉ? (Significado/Implicaciones):**\n- Explica por qué esto importa realmente\n- Usa listas con guiones para destacar consecuencias específicas\n- Conecta con experiencias reales del sector\n- Incluye tanto oportunidades como riesgos\n\n**¿AHORA QUÉ? (Perspectiva/Acción):**\n- Ofrece una perspectiva práctica sobre qué hacer\n- Comparte qué estás haciendo tú al respecto\n- Incluye consejos actionables sin sonar predicativo\n- Termina con reflexión personal sobre el futuro\n\n🚫 NUNCA HAGAS ESTO (Detectores de IA):\n- Empezar con \"En el mundo de...\", \"En mi experiencia como...\"\n- Usar listas excesivas con emojis en cada punto\n- Frases como \"Esto me hizo reflexionar sobre...\"\n- Estructura demasiado perfecta o académica\n- Lenguaje corporativo genérico\n\n✅ SÍ HAZ ESTO (Contenido Humano):\n- \"Acabo de leer que...\" / \"Salió un estudio que dice...\"\n- \"Esto significa que nosotros...\"\n- \"Yo ya estoy empezando a...\"\n- \"Mi plan para los próximos meses incluye...\"\n- Referencias a noticias recientes, cambios del sector, nuevas herramientas\n\nFORMATO:\n- Entre 150-300 palabras\n- Párrafos de 1-3 líneas máximo\n- Listas con guiones (no números ni emojis)\n- Sin preguntas directas al final\n- Sin llamadas a la acción forzadas`\n};\n\n// Nombres de los frameworks\nconst frameworkNames = {\n  1: \"Problema-Agitar-Solución (PAS)\",\n  2: \"Observación-Impacto-Recomendación\", \n  3: \"Historia-Lección-Aplicación\",\n  4: \"¿Qué?-¿Y qué?-¿Ahora qué?\"\n};\n\n// INSTRUCCIONES FINALES UNIVERSALES (aplican a todos los frameworks)\nconst instruccionesFinales = `\n\n🔧 FORMATO TÉCNICO UNIVERSAL:\n\nLONGITUD: Entre 150-300 palabras (óptimo para LinkedIn)\nPÁRRAFOS: Máximo 2-3 líneas cada uno para lectura móvil\nEMOJIS: Solo si el estilo personal lo incluye, nunca en listas\nHASHTAGS: Máximo 3-5 hashtags relevantes, Relacionados con el tema y la industria de la persona, Al final del post.\n\nELEMENTOS HUMANOS ESPECÍFICOS:\n🧠 PERSONALIZACIÓN:\n- Referencias a la industria/trabajo de la persona\n- Menciones de herramientas, lugares o situaciones de su contexto\n- Errores típicos de su sector\n- Jerga específica pero explicada\n\n💭 AUTENTICIDAD:\n- Usa contracciones naturales\n- Incluye dudas o pensamientos interrumpidos\n- Agrega opiniones controvertidas o perspectivas únicas\n- Momentos de vulnerabilidad genuina\n\n📊 VALOR CONCRETO:\n- Datos específicos cuando sea relevante\n- Ejemplos reales de herramientas/metodologías\n- Consecuencias medibles de acciones\n- Errores costosos evitables\n\nRESPUESTA ESPERADA:\nProporciona SOLO el texto del post, listo para copiar y pegar en LinkedIn. Sin explicaciones adicionales, sin formato markdown, solo el contenido final.\n\nEJEMPLO DE LO QUE NO QUIERO:\n\"🚀 En el competitivo mundo del marketing digital...\n✅ Estrategia 1: Optimización SEO\n✅ Estrategia 2: Content Marketing  \n✅ Estrategia 3: Social Media\n💡 Reflexión: Esto me hizo pensar...\"\n\nEJEMPLO DE LO QUE SÍ QUIERO:\n\"Ayer un cliente me dijo: 'Llevamos 6 meses con esta estrategia y los leads siguen igual.'\n\nLe pregunté qué métricas estaba midiendo.\n\nSu respuesta: 'Pues... las visitas a la web.'\n\nAhí estaba el problema.\n\n[Desarrollo natural con el framework seleccionado]\"\n\nAhora, usando el framework ${frameworkNames[randomNumber]}, basándote en la IDEA y el ESTILO proporcionados, crea el post siguiendo estas directrices.`;\n\n// Combinar framework seleccionado con instrucciones finales\nconst promptCompleto = frameworks[randomNumber] + instruccionesFinales;\n\n// Retornar resultado\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n      frameworkName: frameworkNames[randomNumber],\n      promptCompleto: promptCompleto,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        1100
      ],
      "id": "1ff15bed-eae9-4ab1-9dfa-d51289114097",
      "name": "Prompt Random"
    },
    {
      "parameters": {
        "content": "## LinkedIn Writer",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1980,
        1220
      ],
      "id": "9deb135a-1f65-4436-a377-8f2350f518b8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Post to LinkedIn tech y startps",
        "height": 80,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1960,
        1800
      ],
      "id": "6bd1c31c-7028-46bd-aefe-93891c1ba809",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## INPUT: IDEA (Audio, Url)",
        "height": 100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1980,
        460
      ],
      "id": "ad3a3e5a-aa72-479d-9f2c-fb6db304dcda",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "IDEAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "ESTADO": "Procesada"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "IDEA",
              "displayName": "IDEA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "70a6479e-e2c0-415c-8a79-45066992fc15",
      "name": "update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        60,
        1240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "POST",
              "displayName": "POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7dba7c65-4795-47bb-a972-cefea418f4b2",
      "name": "Create Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        60,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "person": "XmZwxbqww3",
        "text": "={{ $json.POST }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -700,
        1700
      ],
      "id": "39c854f7-a2f9-4523-971e-55c9ba5a5874",
      "name": "LinkedIn Image",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ZVHk3mOzXElhiUGO",
          "name": "LinkedIn- tech y startps"
        }
      }
    },
    {
      "parameters": {
        "person": "XmZwxbqww3",
        "text": "={{ $json.POST }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -920,
        1900
      ],
      "id": "f685d7e7-9439-4448-9a56-a7a761795ae6",
      "name": "LinkedIn Text",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ZVHk3mOzXElhiUGO",
          "name": "LinkedIn- tech y startps"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json[\"URL IMAGEN\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        1700
      ],
      "id": "5832c161-2fdb-4482-a3a0-3722cb417eb5",
      "name": "getImage"
    },
    {
      "parameters": {
        "content": "## Post/Publish",
        "height": 520,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        1600
      ],
      "id": "9bce3f9a-4ca4-4e1c-98c8-86ac27e5f68e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "381b17c9-7cbe-430d-b0af-db0a84aa613f",
              "leftValue": "={{ $json.IMAGEN }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1140,
        1800
      ],
      "id": "5b05ce99-29f7-402c-9745-f412e3a5bbcf",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If2').item.json.row_number }}",
            "PUBLICADO": "SI"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "POST",
              "displayName": "POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGEN",
              "displayName": "IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL IMAGEN",
              "displayName": "URL IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b5e6f745-b9fa-404f-babf-7fba4c082f6b",
      "name": "update Status Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -480,
        1700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If2').item.json.row_number }}",
            "PUBLICADO": "SI"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "POST",
              "displayName": "POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGEN",
              "displayName": "IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL IMAGEN",
              "displayName": "URL IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b90ecf26-917b-4f05-b51d-fbc394ab4e54",
      "name": "update Status Post1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -700,
        1900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Content",
        "height": 260,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1660,
        1740
      ],
      "id": "7a1f965a-4b5f-4b7d-989d-fac3a9042e73",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## PROMPT",
        "height": 400,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        1020
      ],
      "id": "834327ba-05ed-4ed4-a4f8-390b59ebfe12",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Get IDEA",
        "height": 300,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        1120
      ],
      "id": "4f06657c-0fb6-4f69-a1a1-9dba6ae50a8f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Write",
        "height": 380,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        1040
      ],
      "id": "0a371b96-210b-44f2-9482-bdf22d5c2756",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbdbf8ed-ee27-41f1-9fca-f49b1969df40",
              "name": "row_number",
              "value": "={{ $('Style').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "e84c2dfd-0adf-457c-ab4e-e09595249ffe",
              "name": "POST",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "f14ab484-64a6-470e-8f06-987d5373773b",
              "name": "ESTADO",
              "value": "Pendiente",
              "type": "string"
            },
            {
              "id": "c8c0bd55-4c9e-4784-a21e-04972798a85d",
              "name": "PUBLICADO",
              "value": "NO",
              "type": "string"
            },
            {
              "id": "ca1e345d-a281-4460-b0ce-0f1c30b15b29",
              "name": "IMAGEN",
              "value": "NO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1140
      ],
      "id": "c506d5dd-1d90-4ab3-aa9e-39b281411a25",
      "name": "Set Data"
    },
    {
      "parameters": {
        "content": "## INPUT AUDIO",
        "height": 220,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        -20
      ],
      "id": "34925c57-6638-4f13-bf05-cf5880742e26",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## INPUT URL/TEXT",
        "height": 220,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        260
      ],
      "id": "461b0fa7-34d1-4972-a399-500d1c553cc3",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## INPUT AGENT",
        "height": 240,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        520
      ],
      "id": "92273c47-d288-4539-af80-eae10c25b06c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Esta es la idea o parte de una idea de una persona:\n\n\"\"\" \n{{ $json.Texto }}\n\"\"\"\n\nA partir de ese contenido, genera UNA IDEA unica, concreta para un post de LinkedIn. Que sea clara, aplicable, y con tono profesional. Devuelve solo la idea, sin ningún texto adicional."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -120,
        580
      ],
      "id": "406e3e26-4283-4d8e-9d44-3d788a0bb2c3",
      "name": "Generar Idea Url/Text"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y",
          "mode": "list",
          "cachedResultName": "Post Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "IDEAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAdBi6kgrn8aPQZUap2COWf45h1hDIhj_x1FI_-1T-Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "IDEA",
              "displayName": "IDEA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d8a91b4-2812-4cf7-ab59-a3222e60f2e8",
      "name": "Append Idea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        380,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generar Idea a partir de Url/Texto",
        "height": 620,
        "width": 1000,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        140
      ],
      "id": "5dd7eb7a-3898-4aa8-8fec-f9a6b3d75de3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1620,
        3060
      ],
      "id": "5e0d7196-d385-4f77-bd09-3acf047241bd",
      "name": "Schedule Trigger2",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ESTADO",
              "lookupValue": "Aprobado"
            }
          ]
        },
        "options": {}
      },
      "id": "c56414ae-8f1c-4fbe-92c6-b6a8ef2756b9",
      "name": "Get Ideas2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1400,
        3060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1180,
        3060
      ],
      "id": "e0b51ccf-5b35-4670-8480-72dacefe778d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IDEA: {{ $json.IDEA }},\nESTILO DE ESCRITURA: {{ $json[\"ESTILO DE ESCRITURA\"] }}",
        "options": {
          "systemMessage": "=Eres un redactor de contenido experto especializado en crear artículos de blog completos, auténticos y optimizados. Tu objetivo es escribir artículos que suenen exactamente como si los hubiera escrito la persona dueña del blog, manteniendo su estilo único y personalidad.\n\nCONTEXTO:\n- Vas a recibir una IDEA para el artículo\n- Vas a recibir el ESTILO DE ESCRITURA de la persona\n- Debes crear un artículo completo listo para publicar en Contentful (Rich Text)\n\nINSTRUCCIONES CRÍTICAS PARA AUTENTICIDAD:\n\n🎯 ADAPTACIÓN AL ESTILO PERSONAL:\n- Estudia cuidadosamente el estilo proporcionado\n- Replica su tono, vocabulario y estructura narrativa\n- Mantén su nivel de expertise y forma de explicar\n- Usa sus expresiones características y ejemplos típicos\n- Respeta su forma de conectar con la audiencia\n\n🚫 NUNCA HAGAS ESTO (Detectores de IA):\n- Empezar con \"En el mundo de...\", \"En la era digital...\"\n- Usar introduciones genéricas como \"Hoy hablaremos de...\"\n- Frases como \"Es importante mencionar que...\", \"No podemos negar que...\"\n- Listas excesivas sin contexto narrativo\n- Conclusiones que resumen todo lo dicho\n- Lenguaje demasiado académico o corporativo\n- Patrones repetitivos o estructura demasiado perfecta\n\n✅ SÍ HAZ ESTO (Contenido Humano y Valioso):\n- Comienza con una anécdota específica, situación real o pregunta provocativa\n- Usa experiencias personales creíbles y detalladas\n- Incluye errores cometidos, lecciones aprendidas, momentos de duda\n- Agrega opiniones controvertidas o perspectivas únicas\n- Usa datos específicos, nombres reales, fechas, lugares\n- Incluye digresiones naturales y pensamientos secundarios\n- Admite limitaciones del conocimiento o cuando algo no funcionó\n\n📝 ESTRUCTURA COMPLETA DEL ARTÍCULO:\n\n**INTRODUCCIÓN ENGANCHANTE (150-250 palabras):**\n- Hook inmediato: anécdota, estadística sorprendente, o declaración bold\n- Contexto personal o profesional relevante\n- Preview sutil del valor que aportará el artículo\n- Transición natural al desarrollo\n\n**DESARROLLO PRINCIPAL (800-1200 palabras):**\n- 3-5 secciones principales con subtítulos descriptivos\n- Cada sección con ejemplos específicos y casos reales\n- Historias personales que ilustren cada punto\n- Datos, estadísticas o referencias cuando sea apropiado\n- Errores comunes y cómo evitarlos\n- Herramientas, recursos o metodologías específicas\n\n**CASOS PRÁCTICOS/EJEMPLOS (200-400 palabras):**\n- Al menos 1-2 ejemplos detallados\n- Paso a paso de implementación\n- Resultados obtenidos (si es relevante)\n- Lecciones aprendidas del proceso\n\n**REFLEXIÓN PERSONAL (100-200 palabras):**\n- Tu perspectiva única sobre el tema\n- Cómo ha evolucionado tu pensamiento\n- Errores que has cometido y qué aprendiste\n- Predicciones o tendencias futuras\n\n**CONCLUSIÓN ACTIONABLE (150-250 palabras):**\n- Recap de los puntos más importantes (sin listar)\n- Siguiente paso concreto para el lector\n- Reflexión final o pregunta para generar engagement\n\n🔧 FORMATO RICH TEXT (Contentful):\n\nLONGITUD TOTAL:\n- Entre 1200-2000 palabras\n- Artículo completo y profundo\n- Equilibrio entre profundidad y lecturabilidad\n\nESTRUCTURA HTML:\n- Usa <h2> para secciones principales\n- Usa <h3> para subsecciones cuando sea necesario\n- Párrafos en <p> con buen espaciado (máximo 3-4 líneas)\n- <strong> para palabras clave importantes\n- <em> para énfasis sutil o pensamientos\n- <ul> y <li> para listas cuando aporten valor\n- <blockquote> para citas relevantes o destacar insights importantes\n\nELEMENTOS DE ENGAGEMENT:\n- Preguntas retóricas integradas naturalmente\n- Llamadas de atención sutiles (\"Aquí viene lo interesante...\")\n- Transiciones conversacionales entre secciones\n- Referencias a experiencias compartidas del lector\n\nSEO NATURAL:\n- Palabra clave principal integrada naturalmente\n- Sinónimos y variaciones a lo largo del texto\n- Subtítulos descriptivos y útiles\n- Contenido que responde preguntas reales\n\nELEMENTOS HUMANOS ESPECÍFICOS:\n\n🧠 PERSONALIZACIÓN PROFUNDA:\n- Referencias específicas a la industria/trabajo de la persona\n- Menciones de herramientas que realmente usa\n- Errores específicos de su sector\n- Metodologías que ha probado personalmente\n- Nombres de colegas, empresas, eventos (pueden ser ficticios pero creíbles)\n\n💭 AUTENTICIDAD NARRATIVA:\n- \"Recuerdo cuando hace X años...\"\n- \"Me costó entender esto hasta que...\"\n- \"Probablemente estés pensando lo mismo que yo pensé...\"\n- \"Al principio me resistí a esta idea porque...\"\n- \"Puede que no estés de acuerdo conmigo, pero...\"\n\n📊 VALOR CONCRETO Y ESPECÍFICO:\n- Números específicos y métricas reales\n- Pasos detallados de procesos\n- Herramientas específicas con casos de uso\n- Errores costosos y cómo evitarlos\n- Recursos adicionales genuinamente útiles\n\n🎨 STORYTELLING NATURAL:\n- Narrativa coherente a lo largo del artículo\n- Historias que conectan emocionalmente\n- Momentos de vulnerabilidad profesional\n- Evolución del pensamiento a lo largo del tiempo\n\nTONO Y VOZ:\n- Conversacional pero informativo\n- Experto pero accesible\n- Confidence sin arrogancia\n- Honesto sobre limitaciones y errores\n\nRESPUESTA ESPERADA:\nProporciona el artículo completo en formato HTML limpio, listo para insertar en un campo Rich Text de Contentful. Sin explicaciones adicionales, sin markdown, solo el contenido HTML final.\n\nEJEMPLO DE ESTRUCTURA (NO COPIES ESTO, SOLO ÚSALO COMO REFERENCIA):\n\n```html\n<p>Hace tres años, un cliente me preguntó algo que me dejó sin palabras...</p>\n\n<p>[Desarrollo natural de la introducción]</p>\n\n<h2>El Problema que Nadie Quiere Admitir</h2>\n\n<p>[Contenido natural y fluido]</p>\n\n<p>Recuerdo que la primera vez que me enfrenté a esto...</p>\n\n<h3>Lo que Realmente Funciona</h3>\n\n<p>[Más contenido específico]</p>\n\n<blockquote>\n<p>La clave no está en hacer más, sino en hacer lo correcto en el momento adecuado.</p>\n</blockquote>\n\n<p>[Continúa el desarrollo...]</p>\n```\n\nAhora, basándote en la IDEA y el ESTILO proporcionados, crea el artículo completo siguiendo estas directrices."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -520,
        2980
      ],
      "id": "a9f7ae9f-ee8e-4402-a80c-2133a4e83a2e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -500,
        3160
      ],
      "id": "f197cf38-3883-401e-8cfa-c98d4dbdd68e",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60cc45e9-533d-4769-9eeb-dd6c4f869798",
              "name": "row_number",
              "value": "={{ $('Loop Over Items1').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "a4a95abf-340a-4b87-8ae7-c6cf77fcb728",
              "name": "IDEA",
              "value": "={{ $('Loop Over Items1').item.json.IDEA }}",
              "type": "string"
            },
            {
              "id": "5d8388e5-af3c-4760-8ef2-dfc2108ad352",
              "name": "ESTILO DE ESCRITURA",
              "value": "=# Características principales del estilo:\n\n## Tono Conversacional y Auténtico\n\nUsa un lenguaje coloquial y natural (\"pues fácil\", \"cooooomo?\")\nIncorpora expresiones informales y jerga común\nRefleja el habla natural con alargamiento de palabras (\"tooooodo\", \"loooco\")\n\n\n## Estructura y Formato Distintivo\n\nOraciones cortas y directas\nUso frecuente de saltos de línea para crear pausas dramáticas\nPárrafos muy breves,  intercala con algunos de una sola línea\nUtiliza guiones y separadores (——————) para organizar ideas\n\n\n## Elementos Narrativos\n\nCuenta historias personales con vulnerabilidad y honestidad\nAlterna entre narración y diálogo interno\nIncluye conversaciones simuladas consigo mismo o con otros\nUsa preguntas retóricas para mantener el engagement\n\n\n## Técnicas de Énfasis\n\n\nUtiliza mayúsculas para enfatizar palabras clave (\"BIEN difícil\")\nEmplea asteriscos para resaltar secciones (El trabajo fácil)\nRepite ideas para dar énfasis\nUsa signos de puntuación múltiples para expresividad (\"?!\")\n\n\n## Estilo de Reflexión\n\n\nCombina insights profesionales con experiencias personales\nMuestra vulnerabilidad y admite errores abiertamente\nIncluye aprendizajes y conclusiones al final de cada texto\nBalancea humor con seriedad\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        3000
      ],
      "id": "40939ed3-7873-43b7-9c15-22c864a57e68",
      "name": "Style1"
    },
    {
      "parameters": {
        "content": "## Blog Writer",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1960,
        3060
      ],
      "id": "f825c537-9ae5-4c1f-a264-74b93fe6e347",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "IDEAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "ESTADO": "Blog"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "IDEA",
              "displayName": "IDEA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f7407802-7eca-452e-a291-41117bbe84c9",
      "name": "update Status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        3080
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "BLOG",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "BLOG",
              "displayName": "BLOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGEN",
              "displayName": "IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL IMAGEN",
              "displayName": "URL IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2dd475e8-ab21-4597-b686-751e2321f11b",
      "name": "Create Post1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "## PROMPT",
        "height": 400,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1000,
        2860
      ],
      "id": "9c89209f-3eec-4a1e-81ea-43f71be7d151",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Get IDEA",
        "height": 300,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1660,
        2960
      ],
      "id": "16fd2707-731e-4daa-a4b3-dded9d86ee9d",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Write",
        "height": 380,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        2880
      ],
      "id": "73ef4110-5895-46d8-b21e-d47d8f858bc7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbdbf8ed-ee27-41f1-9fca-f49b1969df40",
              "name": "row_number",
              "value": "={{ $('Style1').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "e84c2dfd-0adf-457c-ab4e-e09595249ffe",
              "name": "POST",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "f14ab484-64a6-470e-8f06-987d5373773b",
              "name": "ESTADO",
              "value": "Pendiente",
              "type": "string"
            },
            {
              "id": "c8c0bd55-4c9e-4784-a21e-04972798a85d",
              "name": "PUBLICADO",
              "value": "NO",
              "type": "string"
            },
            {
              "id": "ca1e345d-a281-4460-b0ce-0f1c30b15b29",
              "name": "IMAGEN",
              "value": "NO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        2980
      ],
      "id": "56ed1607-e56f-4d66-b157-73facd4bc077",
      "name": "Set Data1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8fb506b6-025f-47ab-a4c4-c1cf3fe4acaf",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1580,
        1800
      ],
      "id": "e943224c-3eba-424b-bfc5-cf0e5d069922",
      "name": "Webhook",
      "webhookId": "8fb506b6-025f-47ab-a4c4-c1cf3fe4acaf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38f9ff45-14c5-4ddb-a305-0634feadce01",
              "name": "row_number",
              "value": "={{ $json.body.row }}",
              "type": "number"
            },
            {
              "id": "adf9c092-6f76-4d2b-bd7c-7277a69d5931",
              "name": "POST",
              "value": "={{ $json.body.post }}",
              "type": "string"
            },
            {
              "id": "976432f6-0a09-4bd5-99cb-1590d4c64fca",
              "name": "FECHA Y HORA DE PUBLICACION",
              "value": "={{ $json.body.fechaHora }}",
              "type": "string"
            },
            {
              "id": "8740414e-b8a8-4c48-9bb7-591bda6af9fc",
              "name": "ESTADO",
              "value": "={{ $json.body.estado }}",
              "type": "string"
            },
            {
              "id": "c38b35f1-7984-490b-9cd6-80640994c162",
              "name": "PUBLICADO",
              "value": "={{ $json.body.publicado }}",
              "type": "string"
            },
            {
              "id": "b2196769-b847-4f95-82da-f76c334953e7",
              "name": "IMAGEN",
              "value": "={{ $json.body.imagen }}",
              "type": "string"
            },
            {
              "id": "5c74ce38-c8ef-46b0-ba3c-e99107b2d1d8",
              "name": "URL IMAGEN",
              "value": "={{ $json.body.urlImagen }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        1800
      ],
      "id": "1b078921-e72b-48e2-b954-d376adb39f84",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Post to LinkedIn Tradicionales",
        "height": 80,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1960,
        2400
      ],
      "id": "f973973d-dd68-4df6-abb0-508e21089a1e",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "person": "qvLa3xLN1w",
        "text": "={{ $json.POST }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -700,
        2300
      ],
      "id": "f4bb7bf3-ed57-423b-9a22-9a103aaf2b86",
      "name": "LinkedIn Image1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "iL3qpFvbFzCjftSm",
          "name": "LinkedIn Tradicional"
        }
      }
    },
    {
      "parameters": {
        "person": "qvLa3xLN1w",
        "text": "={{ $json.POST }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -920,
        2500
      ],
      "id": "523b3a0b-07ca-4de9-b368-d818f5d0298e",
      "name": "LinkedIn Text1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "iL3qpFvbFzCjftSm",
          "name": "LinkedIn Tradicional"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json[\"URL IMAGEN\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        2300
      ],
      "id": "25fa17ce-36c3-45c2-8103-04123a1c8da1",
      "name": "getImage1"
    },
    {
      "parameters": {
        "content": "## Post/Publish",
        "height": 520,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        2200
      ],
      "id": "32d03cab-28b5-43f1-a284-8aab803df8df",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "381b17c9-7cbe-430d-b0af-db0a84aa613f",
              "leftValue": "={{ $json.IMAGEN }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1140,
        2400
      ],
      "id": "99948514-c4ab-4eb7-a8a6-c77aa0bdd0d4",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If3').item.json.row_number }}",
            "PUBLICADO": "SI"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "POST",
              "displayName": "POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGEN",
              "displayName": "IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL IMAGEN",
              "displayName": "URL IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5d9efb14-bbdd-4830-945a-aef0f8a8485f",
      "name": "update Status Post2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -480,
        2300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-pGLCWonOfH81Wxb73g8M5pvmqYR7ezSzduV5ez6cSc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "POST",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If3').item.json.row_number }}",
            "PUBLICADO": "SI"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "POST",
              "displayName": "POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA DE PUBLICACION",
              "displayName": "FECHA DE PUBLICACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PUBLICADO",
              "displayName": "PUBLICADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGEN",
              "displayName": "IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL IMAGEN",
              "displayName": "URL IMAGEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6bad0d65-b58d-4d92-ad3f-3257bc5f4bbe",
      "name": "update Status Post3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -700,
        2500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Content",
        "height": 260,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1660,
        2340
      ],
      "id": "2760ece9-f01a-4136-9105-2c24034bbeff",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0d16898-a7f0-4ebd-a8e4-035c54e189ef",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1580,
        2400
      ],
      "id": "9daa8865-c4cb-494d-aa6e-5a39be02e5ae",
      "name": "Webhook1",
      "webhookId": "b0d16898-a7f0-4ebd-a8e4-035c54e189ef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38f9ff45-14c5-4ddb-a305-0634feadce01",
              "name": "row_number",
              "value": "={{ $json.body.row }}",
              "type": "number"
            },
            {
              "id": "adf9c092-6f76-4d2b-bd7c-7277a69d5931",
              "name": "POST",
              "value": "={{ $json.body.post }}",
              "type": "string"
            },
            {
              "id": "976432f6-0a09-4bd5-99cb-1590d4c64fca",
              "name": "FECHA Y HORA DE PUBLICACION",
              "value": "={{ $json.body.fechaHora }}",
              "type": "string"
            },
            {
              "id": "8740414e-b8a8-4c48-9bb7-591bda6af9fc",
              "name": "ESTADO",
              "value": "={{ $json.body.estado }}",
              "type": "string"
            },
            {
              "id": "c38b35f1-7984-490b-9cd6-80640994c162",
              "name": "PUBLICADO",
              "value": "={{ $json.body.publicado }}",
              "type": "string"
            },
            {
              "id": "b2196769-b847-4f95-82da-f76c334953e7",
              "name": "IMAGEN",
              "value": "={{ $json.body.imagen }}",
              "type": "string"
            },
            {
              "id": "5c74ce38-c8ef-46b0-ba3c-e99107b2d1d8",
              "name": "URL IMAGEN",
              "value": "={{ $json.body.urlImagen }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        2400
      ],
      "id": "e0d32e5f-7645-4586-8112-d673b76cc70d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "176878701",
        "text": "=->Nueva idea:\n{{ $json.IDEA }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        600
      ],
      "id": "138b466f-2f05-4880-bf17-c5703250e935",
      "name": "Telegram",
      "webhookId": "3bc7d3aa-fd34-4524-aeef-fc05045dc1d1",
      "credentials": {
        "telegramApi": {
          "id": "xrf1D2O5qOceQaVy",
          "name": "Valeia_Transcriber"
        }
      }
    }
  ],
  "pinData": {
    "If3": []
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:7 am": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": [
        10
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-05-12T19:27:57.741Z",
      "updatedAt": "2025-05-12T19:27:57.741Z",
      "id": "Ai2iGmarFJBdNk4w",
      "name": "Linkedin"
    },
    {
      "createdAt": "2025-05-24T00:14:40.674Z",
      "updatedAt": "2025-05-24T00:14:40.674Z",
      "id": "oT0NAHa9rDEzcTFX",
      "name": "Plantilla"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2025-06-12T16:07:07.292Z",
  "versionId": "d13306f4-4da8-40db-bda5-81c366b6071e"
}