Automation/2025/08/aAJRU1tLV2HGDrdA.json
{
  "active": true,
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reminder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Reminder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio diario": {
      "main": [
        [
          {
            "node": "reminder dayli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "get contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio semanal": {
      "main": [
        [
          {
            "node": "reminder dayli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio mensual": {
      "main": [
        [
          {
            "node": "reminder dayli2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initData": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get_conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_conversation": {
      "main": [
        [
          {
            "node": ">6Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get contact": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing15": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ">6Hours": {
      "main": [
        [
          {
            "node": "<24Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "<24Hours": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T21:45:53.048Z",
  "id": "aAJRU1tLV2HGDrdA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente reminder coach",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2672,
        3536
      ],
      "id": "47d070fd-e1f8-428d-883c-614e7c4e28f4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kuAijbcGhZkbdIR2",
          "name": "mony"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=MONY_chat_id_reminder_{{ $('Data').item.json.numero_whatsapp }}",
        "sessionTTL": 500000,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2816,
        3536
      ],
      "id": "784020bd-54ef-4771-b6c4-0d73ad54d25f",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENT MAIN",
        "height": 600,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        3088
      ],
      "id": "3b8258b3-b02f-4a6d-9821-e356dc71146b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## trigger Messages\n",
        "height": 588,
        "width": 1168,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        3072
      ],
      "id": "6a767fa6-11c8-4ee5-9c75-b9df0cbb80c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8721a225-ddfb-44a4-bf51-b0e18ba5b767",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2976,
        3328
      ],
      "id": "2301ed6c-cff8-425a-b6e8-e92e663bd9d6",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "diario"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        3104
      ],
      "id": "90f9a313-ebe3-403a-8f00-d2a4e1f42a28",
      "name": "reminder dayli",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        3104
      ],
      "id": "c6db58b3-60ed-413c-9003-c142e8d79d8d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        3104
      ],
      "id": "9466fc3e-407d-4d1e-9b6f-0ad8b80de290",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1024,
        3104
      ],
      "id": "bd72e5ce-876f-4e6f-aed1-ecc19027fa38",
      "name": "recordatorio diario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $json.user_data.numeroWhatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $json.user_data }}",
              "type": "object"
            },
            {
              "id": "9dca5b25-b6a7-411c-b0dd-c1bad8e70181",
              "name": "informe_data",
              "value": "={{ $json.informe_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        3296
      ],
      "id": "97749b9b-cc8c-4e91-a589-9fd1d35274e7",
      "name": "Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=nombre: \"{{ $json.user_data.nombreCompleto.split(' ')[0] }}\",\ntrigger_type: \"{{ $json.trigger_type }}\"\nuser_data: \"{{ JSON.stringify($json.user_data) }}\",\ninforme_data: {{  JSON.stringify($json.informe_data) }}\n",
        "options": {
          "systemMessage": "=# 1. ROL Y FILOSOFÍA CENTRAL\n\n*Tu Identidad:* Eres Mony Insights, el Analista Financiero Proactivo del usuario. No eres un coach conversacional; eres un curador de información financiera.\n\n*Tu Personalidad:* Eres conciso, claro y elegante. Tu comunicación es como un resumen ejecutivo: va directo al punto, pero está presentada de una forma profesional y visualmente agradable. Eres informativo y motivacional, pero no buscas iniciar un diálogo.\n\n*Tu Filosofía Central:* Tu objetivo es transformar los datos financieros complejos que recibes en píldoras de conocimiento fáciles de digerir en menos de 30 segundos, empoderando al usuario a lo largo de su día o semana.\n\n---\n\n# 2. MISIÓN PRINCIPAL\n\nTu única misión es analizar la información proporcionada en el *User Message* (`trigger_type`, `user_data`, `informe_data`) para construir y generar un único mensaje de WhatsApp, autocontenido y de alto valor.\n\nNo usas herramientas ni buscas datos; toda la información que necesitas te es proporcionada.\n\n---\n\n# 3. ANÁLISIS DEL CONTEXTO DE ENTRADA\n\nEn el *User Message* recibirás tres piezas de información clave que debes interpretar:\n\n- *trigger_type:* Esta cadena de texto define tu tarea. Identifica si es un recordatorio o un informe y su frecuencia.\n- *user_data:* Un objeto con los datos del usuario. Extrae su primer nombre para personalizar el saludo.\n- *informe_data:* Un objeto JSON rico en datos, disponible solo cuando el `trigger_type` es de tipo informe. Este es tu material de trabajo principal para construir los reportes.\n\n---\n\n## 4. LÓGICA DE PROCESAMIENTO Y CONSTRUCCIÓN DE MENSAJES\n\nTu única tarea es identificar el **trigger_type** y usar las siguientes directrices para construir una respuesta inteligente y dinámica.\n\n\n### 🔔 Caso: `trigger_type = recordatorio`\n\n**Directriz Clave:**  \nPara evitar la monotonía, debes variar estos mensajes. Elige una de las opciones de la lista correspondiente a la frecuencia cada vez que envíes un recordatorio.  \nNo envíes el mismo mensaje dos veces seguidas.\n\n\n#### 📆 Frecuencia: Diario\n(Elige **una opción** cada vez)\n\n1. **Enfocado en Metas**  \n   > ¡Hola, [nombre]! ☀️ Un pequeño paso hoy es un gran salto para tus metas mañana.  \n   > ¡No olvides registrar tus gastos de hoy! 💪  \n\n2. **Enfocado en Hábitos**  \n   > ¡Hola, [nombre]! ☕️ La claridad financiera es un hábito.  \n   > Dedica 30 segundos a registrar tus movimientos de hoy. ¡Tú tienes el control!  \n\n3. **Rápido y Directo**  \n   > ¡Hola, [nombre]! 📝 Un recordatorio rápido para mantener tus finanzas al día.  \n   > ¿Hubo algún gasto hoy? ¡Regístralo ahora!  \n\n\n#### 📆 Frecuencia: Semanal\n(Elige **una opción** cada vez)\n\n1. **Reflexivo**  \n   > ¡Hola, [nombre]! ✨ Fin de la semana, momento de claridad.  \n   > Tómate 5 minutos para revisar y registrar los gastos pendientes.  \n   > ¡Un pequeño resumen hoy te dará una gran ventaja mañana!  \n\n2. **Enfocado en Progreso**  \n   > ¡Hola, [nombre]! 🚀 ¿Listo para cerrar la semana con fuerza?  \n   > Asegurémonos de que cada gasto esté en su lugar para que tus reportes sean precisos.  \n   > ¡Vamos a ello!  \n\n3. **Simple y Amable**  \n   > ¡Hola, [nombre]! ☕️ Un café y 5 minutos es todo lo que necesitas para poner en orden tus finanzas de la semana.  \n   > ¡Tu futuro yo te lo agradecerá!  \n\n---\n\n## Si el `trigger_type` es de tipo *informe*:\n\nEstos son tus *\"Reportes de Valor\"*. Debes analizar el contenido de `informe_data` y construir el mensaje dinámicamente.\n\n👉 *Si una sección no tiene datos relevantes (ej. no hay ingresos, no hay metas), omítela* para mantener el mensaje conciso y valioso.\n\n### Directrices para *informe-diario*:\n\n* Crea un encabezado claro con la fecha actual.\n* Muestra el total de gastos del día.\n* Si hay transacciones en `informe_data.detalle_transacciones.gastos`, lista las dos más significativas. Si solo hay una, muestra solo esa.\n* Termina con un tip genérico y motivador.\n\n*Ejemplo de Salida:*\n\nResumen del Día ☀️ - 25 de Agosto  \n\n¡Hola, [nombre]! Así se movió tu dinero hoy:  \n• Gastos Totales: $[total_gastos]  \n• Transacciones Clave:  \n[descripcion_gasto_1] ($[monto_gasto_1])  \n\n💡 Tip del Día: Revisa si el gasto de hoy podría convertirse en un hábito. ¡Ser consciente es el primer paso!\n\n---\n\n### Directrices para *informe-semanal, informe-mensual, informe-trimestral*:\n\n- *Encabezado:* Menciona la frecuencia del informe.\n- *PANORAMA GENERAL:* Muestra ingresos, gastos y balance. Si los ingresos son cero, omite ingresos y balance para enfocarte solo en gastos.\n- *ANÁLISIS DE GASTOS:* Analiza `top_categorias_gasto`. Muestra hasta las 3 principales. Si solo hay 1 o 2, muestra esas.\n- *INSIGHT DEL COACH:*\n\n  * Si ingresos > gastos → insight positivo.\n  * Si gastos > ingresos → insight constructivo destacando la categoría principal.\n- *PROGRESO DE METAS:* Analiza `detalle_metas_ahorro_activas`. Si no está vacío, muestra el progreso de la meta principal. Si está vacío, omite toda la sección.\n- *Cierre:* Frase motivacional.\n\n*Ejemplo de Salida:*\n\n\nTu Informe Financiero Semanal 📊  \n\n¡Hola, [nombre]! Aquí tienes la historia que contaron tus números durante la última semana:  \n\nPANORAMA GENERAL  \n🟢 Ingresos: $[total_ingresos]  \n🔴 Gastos: $[total_gastos]  \n💰 Balance: $[saldo_actual]  \n\nANÁLISIS DE GASTOS 🔍  \nTu dinero se concentró principalmente en:  \n🥇 [categoria_1]: $[monto_1]  \n🥈 [categoria_2]: $[monto_2]  \n\n💡 INSIGHT DEL COACH  \n¡Excelente trabajo! Tus ingresos superaron tus gastos, lo que te permitió ahorrar $[saldo_actual]. Este es el camino para alcanzar tus metas más rápido.  \n\nPROGRESO DE METAS 🎯  \n¡No perdamos de vista tus sueños!  \n• [nombre_meta_1]: Has avanzado un [porcentaje]% del total. ¡Sigue así!  \n\nQue tengas una semana financieramente consciente. ✨\n\n\n---\n\n# 5. REGLAS DE ORO DE LA COMUNICACIÓN PROACTIVA\n\n- *CERO CONVERSACIÓN:* Tus mensajes son informativos y finales. Nunca termines con una pregunta que invite a una respuesta.\n- *LA BELLEZA ESTÁ EN EL FORMATO:* Usa negritas, cursivas, emojis y separadores (`---`) para una jerarquía visual clara y mensajes escaneables.\n- *SIEMPRE BASADO EN DATOS:* Construye tu mensaje exclusivamente con la información que recibes en el `User Message`. No inventes ni supongas nada.\n- *PERSONALIZACIÓN ES CLAVE:* Usa siempre el nombre del usuario para que el mensaje se sienta personal y directo.\n- *INTELIGENCIA DINÁMICA:* No rellenes plantillas ciegamente. Analiza los datos de `informe_data` y omite secciones irrelevantes para entregar un reporte más limpio y valioso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2688,
        3328
      ],
      "id": "1ca60088-e387-4d3f-ade7-ff9bbf7ba47c",
      "name": "Reminder",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "semanal"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        3296
      ],
      "id": "4fbce45d-f3d5-43a0-b80c-65e929c0b2b2",
      "name": "reminder dayli1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        3296
      ],
      "id": "d4f44f0e-1a62-40a2-bb27-bd6aa3173598",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        3296
      ],
      "id": "8ce1df1d-e980-411d-b5b3-f89fe3be9e6a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "mensual"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        3488
      ],
      "id": "210e4784-4187-4b2f-b86b-469293504df1",
      "name": "reminder dayli2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        3488
      ],
      "id": "e658b472-ece0-4900-83be-5fdf397f1c0f",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        3488
      ],
      "id": "df3f21f8-ab3b-4617-b419-7bbefb5a2cce",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1024,
        3296
      ],
      "id": "ad9a4f02-fa96-4117-a4dd-60d5cc4e1014",
      "name": "recordatorio semanal"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1024,
        3488
      ],
      "id": "93a303be-5b48-4454-88a8-df0b65d99668",
      "name": "recordatorio mensual"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2416,
        3312
      ],
      "id": "8056e201-be07-412c-a4d5-c9c7bf190e42",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte2) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4544,
        3136
      ],
      "id": "0e2ed6f8-36a7-45d4-ab97-98c23e78a7fc",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte3) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4144,
        3312
      ],
      "id": "28ab3928-a0c0-436d-bcbd-45e591f644fe",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte1) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        3152
      ],
      "id": "da01b147-7450-409c-a120-410c3e43b8ae",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4112,
        3152
      ],
      "id": "1b234048-cd17-40e1-9dc4-3f0e0e6fef33",
      "name": "Wait14",
      "webhookId": "421fa124-d19b-4b79-99dc-a3a3b6a82453"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3696,
        3328
      ],
      "id": "34bc57b1-3bb2-41d4-b7eb-2edae68553c7",
      "name": "Wait15",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte3}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        3328
      ],
      "id": "a45fe5d1-83ee-4598-a14c-e5f39f24ac3f",
      "name": "If15"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4336,
        3360
      ],
      "id": "379e37b2-d572-4fa7-a421-0eae72fb758e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "709f4717-003f-4f9f-b841-18d2f2f4ddb4",
              "leftValue": "={{ $json.message.content.parte2}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        3152
      ],
      "id": "e72b6711-21ea-4f2d-96e6-bebfe929dab1",
      "name": "If16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4752,
        3168
      ],
      "id": "30066cff-9b73-4406-adf0-f4eff0f9e1bb",
      "name": "No Operation, do nothing14"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3696,
        3552
      ],
      "id": "dadde827-7572-4e57-88d1-ff1289ffadc8",
      "name": "Wait16",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte4}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        3552
      ],
      "id": "606d4332-0505-4aea-a90e-45515b96f1ea",
      "name": "If17"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4336,
        3552
      ],
      "id": "ff4408ea-f21a-436d-a126-c4f2e7fac5b2",
      "name": "No Operation, do nothing15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte4) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        3536
      ],
      "id": "58361e17-d079-46e3-b110-cf060604a090",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "content": "## RESPONS AGENT",
        "height": 600,
        "width": 1720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        3088
      ],
      "id": "a2f0486d-4f40-4a5b-9a68-eeeda0c0d46d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nDivide el siguiente mensaje en hasta *4 partes más pequeñas* solo si es necesario, asegurándote de que cada parte tenga sentido completo.\n\n### *Reglas:*\n\n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en *una sola parte*.\n\n- Si es *mediano* (hasta *400 caracteres*), divídelo en *2 partes*.\n\n- Si es *largo* (hasta *600 caracteres*), divídelo en *3 partes*.\n\n- Si es *muy largo* (más de *600 caracteres*), agrégale una *parte4*.\n\n- *Evita dividir el mensaje innecesariamente*. Usa la *menor cantidad de partes posible*.\n\n- *No cortes oraciones en puntos, comas o conectores* para mantener la coherencia.\n\n- *Si hay una lista con varios ítems, no se debe dividir*, toda la lista debe ir en un mismo mensaje.\n\n- *No incluyas datos sensibles del usuario* en la respuesta, como:\n\n  - `user_id: <número>`\n  - `subscriber_id: <número>`\n  - `first_name: <nombre>`\n  - *Elimina estos datos sin dejar rastros.*\n\n- *Si no hay mensaje, no devuelvas nada.*\n\n---\n\n### *Formato de Salida:*\n\n- Devuelve la respuesta en *formato JSON* con *solo las partes necesarias*.\n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.\n- *Nunca uses comillas `\"` para resaltar palabras*. En su lugar, usa un solo asterisco: *palabra*.\n\n#### *Ejemplo de salida:*\n\n{\n\"parte1\": \"Texto de la primera parte.\",\n\"parte2\": \"Texto de la segunda parte.\"\n}\n\n### *Mensaje:*\n\n\"{{ $json.output }}\"\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3344,
        3152
      ],
      "id": "9190a563-6f63-41e3-ad62-76fbe8ac0930",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "pwlG2h4GySrxyfFD",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $('Data').item.json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $('Data').item.json.numero_whatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $('Data').item.json.user_data }}",
              "type": "object"
            },
            {
              "id": "9dca5b25-b6a7-411c-b0dd-c1bad8e70181",
              "name": "informe_data",
              "value": "={{ $('Data').item.json.informe_data }}",
              "type": "object"
            },
            {
              "id": "5ee0da44-2f91-4b7d-956a-2fdb75239a38",
              "name": "metadata",
              "value": "={\n  \"account_id\": \"3\",\n  \"conversation_id\": \"{{ $json.payload[0].messages[0].conversation_id }}\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        3312
      ],
      "id": "19d98491-8702-4e68-b274-06e3b90c31a9",
      "name": "initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78a51f47-bc0c-4552-bce9-4007b4e77d14",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        3152
      ],
      "id": "177e188e-a06d-4980-85f7-2f15f140f2ab",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        3136
      ],
      "id": "bd5df85f-26f4-4c9e-b826-b3611c23b881",
      "name": "get_conversation"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/search?q={{ $json.numero_whatsapp }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        3152
      ],
      "id": "5201eb7b-4777-4614-a437-e3cc4ac49c13",
      "name": "get contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b998b888-8446-4933-86c7-6152a9392cfc",
              "leftValue": "={{ (Date.now() / 1000) - $json[\"payload\"][0][\"meta\"][\"sender\"][\"last_activity_at\"] > 21600 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        3136
      ],
      "id": "35dc192a-7224-4c6b-a625-84c52412ccf2",
      "name": ">6Hours"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12391106-2717-4d64-a3b0-fc0720a3a214",
              "leftValue": "={{ (Date.now() / 1000) - $json[\"payload\"][0][\"meta\"][\"sender\"][\"last_activity_at\"] < 86400 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        3120
      ],
      "id": "1d557459-6a38-4c19-9fea-6d63d90898fe",
      "name": "<24Hours"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T21:45:53.048Z",
      "updatedAt": "2025-08-25T21:45:53.048Z",
      "role": "workflow:owner",
      "workflowId": "aAJRU1tLV2HGDrdA",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": {
    "node:resumen-financiero-hoy": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible": {
      "recurrenceRules": []
    },
    "node:resumen_semanal": {
      "recurrenceRules": []
    },
    "node:resumen_mensual": {
      "recurrenceRules": []
    },
    "node:resumen_trimestral": {
      "recurrenceRules": []
    },
    "node:alerta_presupuesto": {
      "recurrenceRules": []
    },
    "node:meta_en_riesgo": {
      "recurrenceRules": []
    },
    "node:recordatorio_suscripcion": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible1": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible2": {
      "recurrenceRules": []
    },
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-25T15:38:52Z"
    },
    "node:recordatorio diario": {
      "recurrenceRules": []
    },
    "node:recordatorio semanal": {
      "recurrenceRules": []
    },
    "node:recordatorio mensual": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-27T07:22:21.261Z",
      "updatedAt": "2025-08-27T07:22:21.261Z",
      "id": "yewU12nVfiCDIjkl",
      "name": "PRODUCCION"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-08-29T22:11:24.478Z",
  "versionId": "88fa5c17-4f6c-426d-8852-a8ab846d8a58"
}