Automation/2025/08/Bq4Kkf2M2z3awZmX.json
{
  "active": false,
  "connections": {
    "mensajes>0": {
      "main": [
        [
          {
            "node": "correo10%_enviado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correo5%": {
      "main": [
        [
          {
            "node": "Notificacion 5% Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descontar credito usado1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion 10% Creditos": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Not_blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar creditos": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validar creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "mensajes>0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correo10%_enviado?": {
      "main": [
        [
          {
            "node": "descontar credito usado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar_correo10%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_correo10%?": {
      "main": [
        [
          {
            "node": "Notificacion 10% Creditos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Not Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T20:14:56.224Z",
  "id": "Bq4Kkf2M2z3awZmX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tool Contador de Mensajes",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd4bf3e0-60b2-4dd2-800a-5521ad60d811",
              "leftValue": "={{ $json.creditos_restantes }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        272
      ],
      "id": "e878bdb1-bdb5-4462-a981-4786eae368d6",
      "name": "mensajes>0"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Oye {{ $json['contacto '] }} Tus  Creditos para {{ $json.model_agent }} se estan agotando ",
        "message": "=<p>Hola {{ $json['contacto '] }},</p>  <p>🚀 ¡Felicitaciones! 🎉🎊\nTu asistente IA <strong>{{ $json.model_agent }}</strong> ha demostrado su valor: <strong>El 90%📈 de tus créditos ya se han utilizado atendiendo y fidelizando a tus clientes</strong>.</p>  <p>Esto significa que tu inversión <strong>está dando resultados reales</strong>. Cada interacción generada ha sido una oportunidad para conectar, resolver y vender más.</p>  <p>Ahora bien… solo queda el <strong>10% de tus créditos</strong>. Y cuando tu asistente se detiene, también lo hace el flujo de oportunidades y la experiencia que tus clientes ya esperan de ti.</p>  <p><strong>No frenes tu impulso.</strong> Recarga ahora mismo y te daremos 10 creditos de cortesia, asegúrate de que tu asistente IA siga trabajando para ti 24/7, sin interrupciones.</p>  <p> <a href=\"https://tusitio.com/recargar\" style=\"background-color:#ff6f00;color:#fff;padding:14px 22px;text-decoration:none;font-weight:bold;border-radius:6px;display:inline-block;font-size:16px;\"> 💳 RECARGA AHORA Y MANTEN EL RITMO  </a> </p>  <p>El momento de actuar es ahora. Tus clientes ya están respondiendo.<br> El equipo de {{ $json.casa_matriz }}</p> ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        336
      ],
      "id": "a30d641e-0107-4e96-81ab-b12ff19c55c3",
      "name": "Notificacion 10% Creditos",
      "webhookId": "afc42567-0941-400e-878a-ea0626e51fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $json.remaining_percentage }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        -128
      ],
      "id": "dfeff302-7d93-4007-891f-fdbf7c84b5b2",
      "name": "correo5%"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "= {{ $json['contacto '] }} \nQueda solo el 5% de tus creditos para {{ $json.model_agent }}  ",
        "message": "=<p>Hola {{ $json['contacto '] }},</p>\n\n<p>⚠️ Tu asistente IA <strong>{{ $json.model_agent }}</strong> está a punto de detenerse: <strong>solo queda el 5% de tus créditos disponibles</strong>.</p>\n\n<p>En cuanto estos créditos se agoten, el asistente dejará de responder y <strong>los clientes de {{ $json.nombre_cliente }} no podrán seguir recibiendo atención</strong>. Esto puede significar conversaciones interrumpidas, pérdida de oportunidades y clientes insatisfechos.</p>\n<strong>No permitas que el servicio se interrumpa</strong>: recarga ahora y mantén la atención activa.</p>\n\n<p>\n<a href=\"https://tusitio.com/recargar\" style=\"background-color:#d32f2f;color:#fff;padding:12px 18px;text-decoration:none;font-weight:bold;border-radius:6px;display:inline-block;\">\n💳 RECARGAR ANTES DE BLOQUEO\n</a>\n</p>\n\n<p>Actúa ahora y evita que tu asistente se detenga.<br>\nsi tienes dudas o inconvenientes no dudes en contactarnos\nAtt, El equipo de {{ $json.casa_matriz }}</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -144
      ],
      "id": "41677986-1fe3-4c15-8245-8b9be7dd48f7",
      "name": "Notificacion 5% Creditos",
      "webhookId": "afc42567-0941-400e-878a-ea0626e51fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Datos actuales\nconst usados = Number($json[\"creditos_usados\"]) || 0;\nconst restantes = Number($json[\"creditos_restantes\"]) || 0;\n\n// Calcular nuevos valores\nreturn [\n  {\n    ...$json,\n    creditos_usados: usados + 1,\n    creditos_restantes: restantes - 1\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        80
      ],
      "id": "44de6ee8-916a-43cd-8ee0-073421ed8368",
      "name": "descontar credito usado1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "creditos_usados": "={{ $json.creditos_usados }}",
            "creditos_restantes": "={{ $json.creditos_restantes }}",
            "cliente_id": "={{ $json.cliente_id }}"
          },
          "matchingColumns": [
            "cliente_id"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        80
      ],
      "id": "ccbcc99d-7147-4325-be33-73c36a119730",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente_id",
              "lookupValue": "={{ $json.cliente_id }}"
            },
            {
              "lookupColumn": "inbox_id",
              "lookupValue": "={{ $json.inbox_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        272
      ],
      "id": "356dfa3e-74c6-4ca3-8ffd-50b33e3d8361",
      "name": "Validar creditos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cliente_id",
              "type": "any"
            },
            {
              "name": "message"
            },
            {
              "name": "inbox_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        272
      ],
      "id": "1c0b354e-83c3-4c82-a44d-11f3a65e5618",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b469ddb-5b6e-4469-b085-ee76564b41dd",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "2060fd9b-5c10-443f-a58f-a53cb59e55ce",
              "name": "inbox_id",
              "value": "={{ $json.inbox_id }}",
              "type": "number"
            },
            {
              "id": "90eb4318-073a-4ef0-a746-12572122c319",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "number"
            },
            {
              "id": "eadd8e2d-f2bf-46ca-a9a6-fc3f62e9ffa7",
              "name": "creditos_restantes",
              "value": "={{ $json.creditos_restantes }}",
              "type": "number"
            },
            {
              "id": "be8895ee-8e0e-474c-ad5e-04faf02dfeaf",
              "name": "Bloqueo",
              "value": "={{ $json.Bloqueo }}",
              "type": "boolean"
            },
            {
              "id": "98df4f83-b011-436f-96dc-919d49f30c72",
              "name": "correo_5%",
              "value": "={{ $json['correo_5%'] }}",
              "type": "boolean"
            },
            {
              "id": "6bb53e44-9e13-409d-9902-7746629c9e39",
              "name": "correo_10%",
              "value": "={{ $json['correo_10%'] }}",
              "type": "boolean"
            },
            {
              "id": "70966e3f-d097-447e-94d4-493fc77f865a",
              "name": "enviado 5%",
              "value": "={{ $json['enviado 5%'] }}",
              "type": "boolean"
            },
            {
              "id": "77b04893-2b70-442b-976b-319b2f6badfe",
              "name": "enviado 10%",
              "value": "={{ $json['enviado 10%'] }}",
              "type": "boolean"
            },
            {
              "id": "a22b80ef-2646-4a45-85d5-df13c7729b0e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "0840bfdc-50ec-433a-baff-c14d23eb84c1",
              "name": "contacto ",
              "value": "={{ $json['contacto '] }}",
              "type": "string"
            },
            {
              "id": "e28df1d4-ae79-4102-85d8-558a40c2ff4a",
              "name": "model_agent",
              "value": "={{ $json.model_agent }}",
              "type": "string"
            },
            {
              "id": "c413ea5d-bdd5-4f71-a3d3-6f8c9b975cfe",
              "name": "casa_matriz",
              "value": "={{ $json.casa_matriz }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        272
      ],
      "id": "ac956bdc-eda6-46b8-b61a-61266f5a5cba",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $json['enviado 10%'] }}",
              "rightValue": 10,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        256
      ],
      "id": "1098a13e-96c0-46b5-97a1-5cecf9d3aa34",
      "name": "correo10%_enviado?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $('Edit Fields2').item.json['correo_10%'] }}",
              "rightValue": 10,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        352
      ],
      "id": "764b81ca-7bd8-4be1-ab97-986d6bf64cce",
      "name": "enviar_correo10%?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Validar creditos').item.json.row_number }}",
            "enviado 10%": "TRUE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bloqueo",
              "displayName": "Bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enviado 10%",
              "displayName": "enviado 10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enviado 5%",
              "displayName": "enviado 5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        336
      ],
      "id": "41224297-251f-46ca-ba6b-5b977f7bcbe6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1744,
        544
      ],
      "id": "dd782763-0f82-4929-94d5-82d43b235b9e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e4d16c-c294-498d-8074-a18bbe848f72",
              "name": "Bloqueado",
              "value": "False",
              "type": "string"
            },
            {
              "id": "49d0f4a3-026a-404c-aca0-0672914ca3fa",
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        80
      ],
      "id": "84d26bcb-b1a0-4c8d-8d0c-d6f28829f4de",
      "name": "Not_blocked"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e4d16c-c294-498d-8074-a18bbe848f72",
              "name": "Bloqueado",
              "value": "False",
              "type": "string"
            },
            {
              "id": "49d0f4a3-026a-404c-aca0-0672914ca3fa",
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        336
      ],
      "id": "42b6f822-462c-480d-bff9-cdf9b125b145",
      "name": "Not Blocked"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e4d16c-c294-498d-8074-a18bbe848f72",
              "name": "Bloqueado",
              "value": "True",
              "type": "string"
            },
            {
              "id": "30ee0828-4c5b-4d46-8de9-ce851a47c4cc",
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        528
      ],
      "id": "152402aa-48fa-4749-bc5b-171024b86e50",
      "name": "Blocked"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-23T01:28:42.391Z",
  "versionId": "3e426ba8-4e23-4d6e-bba7-28872e7a1028"
}