Automation/2025/08/Bq4Kkf2M2z3awZmX.json
{
  "active": false,
  "connections": {
    "mensajes>0": {
      "main": [
        [
          {
            "node": "descontar credito usado1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SET 5%",
            "type": "main",
            "index": 0
          },
          {
            "node": "SET 10%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blocked",
            "type": "main",
            "index": 0
          },
          {
            "node": "SET 0%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descontar credito usado1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion 10% Creditos": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Not_blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar creditos": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validar creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "mensajes>0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_correo10%?": {
      "main": [
        [
          {
            "node": "Se ha enviado antes?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Update row in sheet2": {
      "main": [
        []
      ]
    },
    "enviar_correo5%?": {
      "main": [
        [
          {
            "node": "se ha enviado antes?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion 5% Creditos1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET 5%": {
      "main": [
        [
          {
            "node": "enviar_correo5%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET 10%": {
      "main": [
        [
          {
            "node": "enviar_correo10%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blocked": {
      "main": [
        []
      ]
    },
    "Notificacion creditos agotados": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        []
      ]
    },
    "SET 0%": {
      "main": [
        [
          {
            "node": "enviar_correo0%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se ha enviado antes?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificacion 10% Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se ha enviado antes?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificacion 5% Creditos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_correo0%?": {
      "main": [
        [
          {
            "node": "se ha enviado antes?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se ha enviado antes?2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificacion creditos agotados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T20:14:56.224Z",
  "id": "Bq4Kkf2M2z3awZmX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tool Contador de Mensajes",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd4bf3e0-60b2-4dd2-800a-5521ad60d811",
              "leftValue": "={{ $json.creditos_restantes }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        -336
      ],
      "id": "e878bdb1-bdb5-4462-a981-4786eae368d6",
      "name": "mensajes>0"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "= {{ $json['primer nombre'] }} Tus  Creditos para {{ $json.model_agent }} se estan agotando, 😨 solo queda el 10%",
        "message": "=<p>Hola {{ $json['primer nombre'] }},</p>  <p>🚀 ¡Felicitaciones! 🎉🎊\nTu asistente  <strong>{{ $json.model_agent }}</strong> ha demostrado su valor: <strong>El 90%📈 de tus créditos ya se han utilizado atendiendo y fidelizando a tus clientes</strong>.</p>  <p>Esto significa que tu inversión <strong>está dando resultados reales</strong>. Cada interacción generada ha sido una oportunidad para conectar, resolver y vender más.</p>  <p>Ahora bien… solo queda el <strong>10% de tus créditos</strong>. Y cuando tu asistente se detiene, también lo hace el flujo de oportunidades y la experiencia que tus clientes ya esperan de ti.</p>  <p><strong>No frenes tu impulso.</strong> Recarga ahora mismo y te daremos 10 creditos de cortesia, asegúrate de que tu asistente IA siga trabajando para ti 24/7, sin interrupciones.</p>  <p> <a href=\"https://tusitio.com/recargar\" style=\"background-color:#ff6f00;color:#fff;padding:14px 22px;text-decoration:none;font-weight:bold;border-radius:6px;display:inline-block;font-size:16px;\"> 💳 RECARGA AHORA Y MANTEN EL RITMO  </a> </p>  <p>El momento de actuar es ahora. Tus clientes ya están respondiendo.\n\n<br> Cordialmente, \nEl equipo de {{ $json.casa_matriz }}</p> ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -1280
      ],
      "id": "a30d641e-0107-4e96-81ab-b12ff19c55c3",
      "name": "Notificacion 10% Creditos",
      "webhookId": "afc42567-0941-400e-878a-ea0626e51fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Datos actuales\nconst usados = Number($json[\"creditos_usados\"]) || 0;\nconst restantes = Number($json[\"creditos_restantes\"]) || 0;\n\n// Calcular nuevos valores\nreturn [\n  {\n    ...$json,\n    creditos_usados: usados + 1,\n    creditos_restantes: restantes - 1\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -128
      ],
      "id": "44de6ee8-916a-43cd-8ee0-073421ed8368",
      "name": "descontar credito usado1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "creditos_usados": "={{ $json.creditos_usados }}",
            "creditos_restantes": "={{ $json.creditos_restantes }}",
            "cliente_id": "={{ $json.cliente_id }}"
          },
          "matchingColumns": [
            "cliente_id"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bloqueo",
              "displayName": "Bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 10%",
              "displayName": "enviado 10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 5%",
              "displayName": "enviado 5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        32,
        -128
      ],
      "id": "ccbcc99d-7147-4325-be33-73c36a119730",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente_id",
              "lookupValue": "={{ $json.cliente_id }}"
            },
            {
              "lookupColumn": "inbox_id",
              "lookupValue": "={{ $json.inbox_id }}{{ $json['id de la bandeja de entrada'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        -336
      ],
      "id": "356dfa3e-74c6-4ca3-8ffd-50b33e3d8361",
      "name": "Validar creditos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cliente_id",
              "type": "any"
            },
            {
              "name": "message"
            },
            {
              "name": "inbox_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        -336
      ],
      "id": "1c0b354e-83c3-4c82-a44d-11f3a65e5618",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b469ddb-5b6e-4469-b085-ee76564b41dd",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "2060fd9b-5c10-443f-a58f-a53cb59e55ce",
              "name": "inbox_id",
              "value": "={{ $json.inbox_id }}",
              "type": "number"
            },
            {
              "id": "90eb4318-073a-4ef0-a746-12572122c319",
              "name": "cliente_id",
              "value": "={{ $json.cliente_id }}",
              "type": "number"
            },
            {
              "id": "eadd8e2d-f2bf-46ca-a9a6-fc3f62e9ffa7",
              "name": "creditos_restantes",
              "value": "={{ $json.creditos_restantes }}",
              "type": "number"
            },
            {
              "id": "be8895ee-8e0e-474c-ad5e-04faf02dfeaf",
              "name": "Bloqueo",
              "value": "={{ $json.Bloqueo }}",
              "type": "boolean"
            },
            {
              "id": "98df4f83-b011-436f-96dc-919d49f30c72",
              "name": "correo_5%",
              "value": "={{ $json['correo_5%'] }}",
              "type": "boolean"
            },
            {
              "id": "6bb53e44-9e13-409d-9902-7746629c9e39",
              "name": "correo_10%",
              "value": "={{ $json['correo_10%'] }}",
              "type": "boolean"
            },
            {
              "id": "70966e3f-d097-447e-94d4-493fc77f865a",
              "name": "enviado 5%",
              "value": "={{ $json['enviado 5%'] }}",
              "type": "string"
            },
            {
              "id": "77b04893-2b70-442b-976b-319b2f6badfe",
              "name": "enviado 10%",
              "value": "={{ $json['enviado 10%'] }}",
              "type": "string"
            },
            {
              "id": "a22b80ef-2646-4a45-85d5-df13c7729b0e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "0840bfdc-50ec-433a-baff-c14d23eb84c1",
              "name": "contacto ",
              "value": "={{ $json['contacto '] }}",
              "type": "string"
            },
            {
              "id": "e28df1d4-ae79-4102-85d8-558a40c2ff4a",
              "name": "model_agent",
              "value": "={{ $json.model_agent }}",
              "type": "string"
            },
            {
              "id": "c413ea5d-bdd5-4f71-a3d3-6f8c9b975cfe",
              "name": "casa_matriz",
              "value": "={{ $json.casa_matriz }}",
              "type": "string"
            },
            {
              "id": "69507810-fa5a-4edb-b5f3-26a6f7574883",
              "name": "creditos_usados",
              "value": "={{ $json.creditos_usados }}",
              "type": "string"
            },
            {
              "id": "756f6d20-6945-4940-9410-63e57caec26c",
              "name": "numero_creditos",
              "value": "={{ $json.numero_creditos }}",
              "type": "number"
            },
            {
              "id": "277ab046-3f9c-4990-85d0-c1df513aaf31",
              "name": "correo_0%",
              "value": "={{ $json['correo_0%'] }}",
              "type": "boolean"
            },
            {
              "id": "ea3e0060-3d92-48ef-b067-86d0a9173568",
              "name": "Enviado 0%",
              "value": "={{ $json['Enviado 0%'] }}",
              "type": "boolean"
            },
            {
              "id": "aee017bb-8762-4038-980f-0cecc11cc6cd",
              "name": "primer nombre",
              "value": "={{ $json['primer nombre'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -336
      ],
      "id": "ac956bdc-eda6-46b8-b61a-61266f5a5cba",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $('Edit Fields2').item.json['correo_10%'] }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -1424
      ],
      "id": "764b81ca-7bd8-4be1-ab97-986d6bf64cce",
      "name": "enviar_correo10%?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Validar creditos').item.json.row_number }}",
            "enviado 10%": "TRUE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bloqueo",
              "displayName": "Bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 10%",
              "displayName": "enviado 10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enviado 5%",
              "displayName": "enviado 5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -1280
      ],
      "id": "41224297-251f-46ca-ba6b-5b977f7bcbe6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        -1056
      ],
      "id": "dd782763-0f82-4929-94d5-82d43b235b9e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e4d16c-c294-498d-8074-a18bbe848f72",
              "name": "Bloqueado",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49d0f4a3-026a-404c-aca0-0672914ca3fa",
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -128
      ],
      "id": "84d26bcb-b1a0-4c8d-8d0c-d6f28829f4de",
      "name": "Not_blocked"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e4d16c-c294-498d-8074-a18bbe848f72",
              "name": "Bloqueado",
              "value": "True",
              "type": "string"
            },
            {
              "id": "30ee0828-4c5b-4d46-8de9-ce851a47c4cc",
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.message }}",
              "type": "string"
            },
            {
              "id": "b783063d-0403-4aed-a580-dbcc53f1c6ad",
              "name": "contacto ",
              "value": "={{ $('Edit Fields2').item.json['contacto '] }}",
              "type": "string"
            },
            {
              "id": "3e756689-0b9a-45c8-a0e3-b349fce7def0",
              "name": "email",
              "value": "={{ $('Edit Fields2').item.json.email }}",
              "type": "string"
            },
            {
              "id": "7464b78b-6262-4e66-a37a-36e8da9ff9bc",
              "name": "model_agent",
              "value": "={{ $('Edit Fields2').item.json.model_agent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        48
      ],
      "id": "152402aa-48fa-4749-bc5b-171024b86e50",
      "name": "Blocked"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Validar creditos').item.json.row_number }}",
            "enviado 5%": "TRUE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bloqueo",
              "displayName": "Bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 10%",
              "displayName": "enviado 10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 5%",
              "displayName": "enviado 5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -880
      ],
      "id": "99b795c2-9bca-4df0-bdf2-1c16993c268f",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $('Edit Fields2').item.json['correo_5%'] }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -1024
      ],
      "id": "a14f8929-915f-469a-a222-7bdb320d3780",
      "name": "enviar_correo5%?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "= {{ $json['contacto '] }} \nQueda solo el 5% de tus creditos para {{ $json.model_agent }}  ",
        "message": "=<p>Hola {{ $json['contacto '] }},</p>\n\n<p>⚠️ Tu asistente IA <strong>{{ $json.model_agent }}</strong> está a punto de detenerse: <strong>solo queda el 5% de tus créditos disponibles</strong>.</p>\n\n<p>En cuanto estos créditos se agoten, el asistente dejará de responder y <strong>los clientes de {{ $json.nombre_cliente }} no podrán seguir recibiendo atención</strong>. Esto puede significar conversaciones interrumpidas, pérdida de oportunidades y clientes insatisfechos.</p>\n<strong>No permitas que el servicio se interrumpa</strong>: recarga ahora y mantén la atención activa.</p>\n\n<p>\n<a href=\"https://tusitio.com/recargar\" style=\"background-color:#d32f2f;color:#fff;padding:12px 18px;text-decoration:none;font-weight:bold;border-radius:6px;display:inline-block;\">\n💳 RECARGAR ANTES DE BLOQUEO\n</a>\n</p>\n\n<p>Actúa ahora y evita que tu asistente se detenga.<br>\nsi tienes dudas o inconvenientes no dudes en contactarnos\nAtt, El equipo de {{ $json.casa_matriz }}</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -880
      ],
      "id": "94b960b2-e983-402b-aeec-bdd43f3ad635",
      "name": "Notificacion 5% Creditos1",
      "webhookId": "afc42567-0941-400e-878a-ea0626e51fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8c9e868-678b-4ddc-b85b-b963dfd47dc0",
              "name": "enviado 5%",
              "value": "={{ $json['enviado 5%'] }}",
              "type": "string"
            },
            {
              "id": "b91dc373-37d7-43c7-b148-849cbd4ec8b4",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ac046be8-291e-4560-b69c-d4a5332a3008",
              "name": "casa_matriz",
              "value": "={{ $json.casa_matriz }}",
              "type": "string"
            },
            {
              "id": "60eff66c-c2cb-4c89-b24b-c5a27b77bded",
              "name": "model_agent",
              "value": "={{ $json.model_agent }}",
              "type": "string"
            },
            {
              "id": "273f82dc-3b48-4883-ba49-edc566ee44af",
              "name": "contacto ",
              "value": "={{ $json['contacto '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -1024
      ],
      "id": "dbcb5a34-b1b2-467a-8099-c44f9901b988",
      "name": "SET 5%"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c08f656-3b47-4f67-b423-73e851ea27ae",
              "name": "enviado 10%",
              "value": "={{ $json['enviado 10%'] }}",
              "type": "string"
            },
            {
              "id": "123f6196-7ce3-4a9c-a891-ee70e4d700cb",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "f483b3f2-a34b-482c-b4a1-daf6a52dabd7",
              "name": "primer nombre",
              "value": "={{ $json['primer nombre'] }}",
              "type": "string"
            },
            {
              "id": "c5adef39-fd49-4e60-9293-2550b23d6be8",
              "name": "model_agent",
              "value": "={{ $json.model_agent }}",
              "type": "string"
            },
            {
              "id": "a3ba5aba-27f3-4a92-9bac-4e23c2ebd54a",
              "name": "casa_matriz",
              "value": "={{ $json.casa_matriz }}",
              "type": "string"
            },
            {
              "id": "e4e614dc-3dca-4825-8da6-0e04d3a4b514",
              "name": "primer nombre",
              "value": "={{ $('Edit Fields2').item.json['primer nombre'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -1424
      ],
      "id": "00562f58-9f1e-4db7-a617-c8524810286e",
      "name": "SET 10%"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=😥Lo sentimos, {{ $json['contacto '] }} tus creditos se agotaron",
        "message": "=<p>Hola {{ $json['contacto '] }},</p>  <p>🚀 Tus creditos para <strong>{{ $json.model_agent }}</strong> Se han Agotado</strong>.</p>  <p>Recarga ahora y sigue sacando provecho de la Inteligencia Artificial diseñada especialmente para ti. </p>  <p> <a href=\"https://tusitio.com/recargar\" style=\"background-color:#ff6f00;color:#fff;padding:14px 22px;text-decoration:none;font-weight:bold;border-radius:6px;display:inline-block;font-size:16px;\"> 💳 RECARGA AHORA   </a> </p>  <p>El momento de actuar es ahora. Tus clientes ya están respondiendo.\n\n<br> El equipo de Zaion Agency</p> ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        -464
      ],
      "id": "671cb264-8a92-4363-87f6-6cd7f493b0e9",
      "name": "Notificacion creditos agotados",
      "webhookId": "afc42567-0941-400e-878a-ea0626e51fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "content": "# Validacion de Creditos\n",
        "height": 448,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -240
      ],
      "typeVersion": 1,
      "id": "f93638a9-7be9-4c2f-9c66-f2b5d49c7716",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Notificaciones al Cliente\n",
        "height": 1248,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -1536
      ],
      "typeVersion": 1,
      "id": "5c1acc54-9c1d-48d0-bc8f-ce10cf22174b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        -1456
      ],
      "id": "d91800c1-3061-4ea1-a260-b68fe1a2e5d1",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        -848
      ],
      "id": "355a7100-92a4-4a0a-8ce2-05ca4d5a66d2",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b783063d-0403-4aed-a580-dbcc53f1c6ad",
              "name": "contacto ",
              "value": "={{ $('Edit Fields2').item.json['contacto '] }}",
              "type": "string"
            },
            {
              "id": "3e756689-0b9a-45c8-a0e3-b349fce7def0",
              "name": "email",
              "value": "={{ $('Edit Fields2').item.json.email }}",
              "type": "string"
            },
            {
              "id": "7464b78b-6262-4e66-a37a-36e8da9ff9bc",
              "name": "model_agent",
              "value": "={{ $('Edit Fields2').item.json.model_agent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -608
      ],
      "id": "8204fdb4-db4e-47f3-b370-27210f90384c",
      "name": "SET 0%"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        -640
      ],
      "id": "6d2c4638-43ab-4645-94e4-0422331d16c5",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA",
          "mode": "list",
          "cachedResultName": "Contador de Mensajes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H-z5bQVGTaJJ_OlOq8OBh3cdKcE1-YTdQfwSaSdFqpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Validar creditos').item.json.row_number }}",
            "Enviado 0%": "TRUE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "casa_matriz",
              "displayName": "casa_matriz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cliente_id",
              "displayName": "cliente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contacto ",
              "displayName": "contacto ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "primer nombre",
              "displayName": "primer nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sitio_web_Contacto",
              "displayName": "sitio_web_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human_in_the_Loop",
              "displayName": "Human_in_the_Loop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model_agent",
              "displayName": "model_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_creditos",
              "displayName": "numero_creditos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_usados",
              "displayName": "creditos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creditos_restantes",
              "displayName": "creditos_restantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remaining_percentage",
              "displayName": "remaining_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_10%",
              "displayName": "correo_10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo_5%",
              "displayName": "correo_5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bloqueo",
              "displayName": "Bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 10%",
              "displayName": "enviado 10%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enviado 5%",
              "displayName": "enviado 5%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado 0%",
              "displayName": "Enviado 0%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -464
      ],
      "id": "08c043dc-df05-49c1-8f58-c4f66cc4b44b",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        -1232
      ],
      "id": "2a36ab20-6c52-4156-96b5-baa9057003e4",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $json['enviado 10%'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -1440
      ],
      "id": "1098a13e-96c0-46b5-97a1-5cecf9d3aa34",
      "name": "Se ha enviado antes?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $json['enviado 5%'] }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -1040
      ],
      "id": "a81224ef-5656-4f29-ad02-13a87ed6c923",
      "name": "se ha enviado antes?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $('Edit Fields2').item.json['correo_0%'] }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -608
      ],
      "id": "2d9f7c8c-95c6-4c1c-a72e-bd9bcde1a159",
      "name": "enviar_correo0%?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        -448
      ],
      "id": "dcb65bd1-2fef-4e01-9c10-3b1263cd7f9e",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33986b50-528b-43f2-a76a-b03c520d8a5f",
              "leftValue": "={{ $('Edit Fields2').item.json['Enviado 0%'] }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -624
      ],
      "id": "cda764b0-0513-40e5-86bb-35682755c88d",
      "name": "se ha enviado antes?2"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "createdAt": "2025-08-08T20:14:56.224Z",
      "updatedAt": "2025-08-08T20:14:56.224Z",
      "role": "workflow:owner",
      "workflowId": "Bq4Kkf2M2z3awZmX",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-27T20:12:29.377Z",
  "versionId": "80cba3fa-19dc-454e-8633-86c1aa7c0f76"
}