Automation/2025/08/c0fFGUQEncFx3e6v.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reminder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Reminder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_transactions": {
      "ai_tool": [
        [
          {
            "node": "Reminder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_user_categories": {
      "ai_tool": [
        [
          {
            "node": "Reminder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_saving_goals": {
      "ai_tool": [
        [
          {
            "node": "Reminder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_user_subscriptions": {
      "ai_tool": [
        [
          {
            "node": "Reminder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "analyze_spending_habits": {
      "ai_tool": [
        [
          {
            "node": "Reminder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio diario": {
      "main": [
        [
          {
            "node": "reminder dayli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "get contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio semanal": {
      "main": [
        [
          {
            "node": "reminder dayli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio mensual": {
      "main": [
        [
          {
            "node": "reminder dayli2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get_conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get contact": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initData": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_conversation": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing15": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_conversation1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Conversations": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "add_label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "get_conversation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get contact1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Conversations1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Send_Encuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Conversations2": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T21:46:33.295Z",
  "id": "c0fFGUQEncFx3e6v",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente send informe coach",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2976,
        3552
      ],
      "id": "2cec619d-8944-4b47-9341-277a46a70ca6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kuAijbcGhZkbdIR2",
          "name": "mony"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=MONY_chat_id_reminder_{{ $('Data').item.json.numero_whatsapp }}",
        "sessionTTL": 500000,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3104,
        3552
      ],
      "id": "af6d74ae-7451-447e-91e0-79dfc1ff3083",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENT MAIN",
        "height": 600,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        3104
      ],
      "id": "e8a53dab-74f2-4a54-ac84-5fce747814f7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## trigger Messages\n",
        "height": 700,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        3072
      ],
      "id": "36b44425-a12b-4c54-be0c-f53734c121d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "toolDescription": "Recupera todas las transacciones del usuario en un período de tiempo definido",
        "url": "https://api.mony.whitelabel.lat/api/v1/transactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pagina",
              "value": "={{ $fromAI('pagina', `numero de la pagina a consultar`, 'string') }}"
            },
            {
              "name": "limite",
              "value": "50"
            },
            {
              "name": "fechaInicio",
              "value": "={{ $fromAI('fechaInicio', `Fecha en formato YYYY-MM-DD`, 'string') }}"
            },
            {
              "name": "fechaFin",
              "value": "={{ $fromAI('fechaFin', `Fecha en formato YYYY-MM-DD`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-user-id",
              "value": "={{ $fromAI('userId', `id del usuario`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3232,
        3552
      ],
      "id": "b4f96ed9-1600-4281-b5df-d95338c16eb3",
      "name": "get_transactions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "obtiene las categorias de un usuario con su presupuesto y detalles",
        "url": "https://api.mony.whitelabel.lat/api/v1/categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $fromAI('userId', `id del usuario`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3360,
        3552
      ],
      "id": "f496f7dc-2a71-47f7-8e3e-160da2474dc8",
      "name": "get_user_categories",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta el estado de las metas de ahorro activas del usuario",
        "url": "https://api.mony.whitelabel.lat/api/v1/saving-goals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "estado",
              "value": "activa"
            },
            {
              "name": "pagina",
              "value": "1"
            },
            {
              "name": "limite",
              "value": "10"
            },
            {
              "name": "ordenarPor",
              "value": "fechaCreacion"
            },
            {
              "name": "direccion",
              "value": "desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-user-id",
              "value": "={{ $fromAI('userId', `id del usuario`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3488,
        3552
      ],
      "id": "854db987-48a3-4c63-a914-10363eff356b",
      "name": "get_saving_goals",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8721a225-ddfb-44a4-bf51-b0e18ba5b767",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3744,
        3328
      ],
      "id": "a5d9bd1a-49d6-446b-a5c2-8746b596c5fe",
      "name": "If2"
    },
    {
      "parameters": {
        "toolDescription": "Consulta el todas las subscripciones del usuario del usuario",
        "url": "https://api.mony.whitelabel.lat/api/v1/user-subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-user-id",
              "value": "={{ $fromAI('userId', `id del usuario`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3616,
        3552
      ],
      "id": "af5b2848-0992-4ed0-a413-9d7ef15efd86",
      "name": "get_user_subscriptions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Analiza los gastos de un período para identificar las 2 categorías con mayor gasto y los 'gastos hormiga' (transacciones pequeñas y frecuentes en una misma categoría",
        "url": "https://api.mony.whitelabel.lat/api/v1/analytics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fechaInicio",
              "value": "={{ $fromAI(   'fechaInicio',   'Fecha de fin en formato YYYY-MM-DD',   'string' ) }}"
            },
            {
              "name": "fechaFin",
              "value": "={{ $fromAI(   'fechaFin',   'Fecha de inicio en formato YYYY-MM-DD',   'string' ) }}"
            },
            {
              "name": "agrupacion",
              "value": "={{ $fromAI('agrupacion', `Tipo de agrupación temporal (día, semana, mes, año)`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-user-id",
              "value": "={{ $fromAI('userId', `id del usuario`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3792,
        3552
      ],
      "id": "c2eb2bc0-777e-4803-8203-8cea23a3f9cd",
      "name": "analyze_spending_habits",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "diario"
            },
            {
              "name": "tipo",
              "value": "informe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        3152
      ],
      "id": "79f3bb60-260f-4118-a348-bfd506e7563d",
      "name": "reminder dayli",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={{ $json.usuarios.informe }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        3152
      ],
      "id": "572b05a8-fd56-4672-8928-d185d575b1fa",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        3152
      ],
      "id": "6d49a8f4-3a3c-4ad2-b3d1-4ebec138d0a7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        688,
        3152
      ],
      "id": "3828de59-5d3b-4b34-b9a9-46d2c35bbca8",
      "name": "recordatorio diario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $json.user_data.numeroWhatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $json.user_data }}",
              "type": "object"
            },
            {
              "id": "9dca5b25-b6a7-411c-b0dd-c1bad8e70181",
              "name": "informe_data",
              "value": "={{ $json.informe_data }}",
              "type": "object"
            },
            {
              "id": "5ee0da44-2f91-4b7d-956a-2fdb75239a38",
              "name": "phone_number_id",
              "value": "735679592965149",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        3344
      ],
      "id": "c5b36cd7-f464-4d58-816b-7c2e76a4630e",
      "name": "Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=nombre: \"{{ $json.user_data.nombreCompleto.split(' ')[0] }}\",\ntrigger_type: \"{{ $json.trigger_type }}\"\nuser_data: \"{{ JSON.stringify($json.user_data) }}\",\ninforme_data: {{  JSON.stringify($json.informe_data) }}\n",
        "options": {
          "systemMessage": "=# 1. ROL Y FILOSOFÍA CENTRAL\n\n*Tu Identidad:* Eres Mony Insights, el Analista Financiero Proactivo del usuario. No eres un coach conversacional; eres un curador de información financiera.\n\n*Tu Personalidad:* Eres conciso, claro y elegante. Tu comunicación es como un resumen ejecutivo: va directo al punto, pero está presentada de una forma profesional y visualmente agradable. Eres informativo y motivacional, pero no buscas iniciar un diálogo.\n\n*Tu Filosofía Central:* Tu objetivo es transformar los datos financieros complejos que recibes en píldoras de conocimiento fáciles de digerir en menos de 30 segundos, empoderando al usuario a lo largo de su día o semana.\n\n---\n\n# 2. MISIÓN PRINCIPAL\n\nTu única misión es analizar la información proporcionada en el *User Message* (`trigger_type`, `user_data`, `informe_data`) para construir y generar un único mensaje de WhatsApp, autocontenido y de alto valor.\n\nNo usas herramientas ni buscas datos; toda la información que necesitas te es proporcionada.\n\n---\n\n# 3. ANÁLISIS DEL CONTEXTO DE ENTRADA\n\nEn el *User Message* recibirás tres piezas de información clave que debes interpretar:\n\n- *trigger_type:* Esta cadena de texto define tu tarea. Identifica si es un recordatorio o un informe y su frecuencia.\n- *user_data:* Un objeto con los datos del usuario. Extrae su primer nombre para personalizar el saludo.\n- *informe_data:* Un objeto JSON rico en datos, disponible solo cuando el `trigger_type` es de tipo informe. Este es tu material de trabajo principal para construir los reportes.\n\n---\n\n## 4. LÓGICA DE PROCESAMIENTO Y CONSTRUCCIÓN DE MENSAJES\n\nTu única tarea es identificar el **trigger_type** y usar las siguientes directrices para construir una respuesta inteligente y dinámica.\n\n\n### 🔔 Caso: `trigger_type = recordatorio`\n\n**Directriz Clave:**  \nPara evitar la monotonía, debes variar estos mensajes. Elige una de las opciones de la lista correspondiente a la frecuencia cada vez que envíes un recordatorio.  \nNo envíes el mismo mensaje dos veces seguidas.\n\n\n#### 📆 Frecuencia: Diario\n(Elige **una opción** cada vez)\n\n1. **Enfocado en Metas**  \n   > ¡Hola, [nombre]! ☀️ Un pequeño paso hoy es un gran salto para tus metas mañana.  \n   > ¡No olvides registrar tus gastos de hoy! 💪  \n\n2. **Enfocado en Hábitos**  \n   > ¡Hola, [nombre]! ☕️ La claridad financiera es un hábito.  \n   > Dedica 30 segundos a registrar tus movimientos de hoy. ¡Tú tienes el control!  \n\n3. **Rápido y Directo**  \n   > ¡Hola, [nombre]! 📝 Un recordatorio rápido para mantener tus finanzas al día.  \n   > ¿Hubo algún gasto hoy? ¡Regístralo ahora!  \n\n\n#### 📆 Frecuencia: Semanal\n(Elige **una opción** cada vez)\n\n1. **Reflexivo**  \n   > ¡Hola, [nombre]! ✨ Fin de la semana, momento de claridad.  \n   > Tómate 5 minutos para revisar y registrar los gastos pendientes.  \n   > ¡Un pequeño resumen hoy te dará una gran ventaja mañana!  \n\n2. **Enfocado en Progreso**  \n   > ¡Hola, [nombre]! 🚀 ¿Listo para cerrar la semana con fuerza?  \n   > Asegurémonos de que cada gasto esté en su lugar para que tus reportes sean precisos.  \n   > ¡Vamos a ello!  \n\n3. **Simple y Amable**  \n   > ¡Hola, [nombre]! ☕️ Un café y 5 minutos es todo lo que necesitas para poner en orden tus finanzas de la semana.  \n   > ¡Tu futuro yo te lo agradecerá!  \n\n---\n\n## Si el `trigger_type` es de tipo *informe*:\n\nEstos son tus *\"Reportes de Valor\"*. Debes analizar el contenido de `informe_data` y construir el mensaje dinámicamente.\n\n👉 *Si una sección no tiene datos relevantes (ej. no hay ingresos, no hay metas), omítela* para mantener el mensaje conciso y valioso.\n\n### Directrices para *informe-diario*:\n\n* Crea un encabezado claro con la fecha actual.\n* Muestra el total de gastos del día.\n* Si hay transacciones en `informe_data.detalle_transacciones.gastos`, lista las dos más significativas. Si solo hay una, muestra solo esa.\n* Termina con un tip genérico y motivador.\n\n*Ejemplo de Salida:*\n\nResumen del Día ☀️ - 25 de Agosto  \n\n¡Hola, [nombre]! Así se movió tu dinero hoy:  \n• Gastos Totales: $[total_gastos]  \n• Transacciones Clave:  \n[descripcion_gasto_1] ($[monto_gasto_1])  \n\n💡 Tip del Día: Revisa si el gasto de hoy podría convertirse en un hábito. ¡Ser consciente es el primer paso!\n\n---\n\n### Directrices para *informe-semanal, informe-mensual, informe-trimestral*:\n\n- *Encabezado:* Menciona la frecuencia del informe.\n- *PANORAMA GENERAL:* Muestra ingresos, gastos y balance. Si los ingresos son cero, omite ingresos y balance para enfocarte solo en gastos.\n- *ANÁLISIS DE GASTOS:* Analiza `top_categorias_gasto`. Muestra hasta las 3 principales. Si solo hay 1 o 2, muestra esas.\n- *INSIGHT DEL COACH:*\n\n  * Si ingresos > gastos → insight positivo.\n  * Si gastos > ingresos → insight constructivo destacando la categoría principal.\n- *PROGRESO DE METAS:* Analiza `detalle_metas_ahorro_activas`. Si no está vacío, muestra el progreso de la meta principal. Si está vacío, omite toda la sección.\n- *Cierre:* Frase motivacional.\n\n*Ejemplo de Salida:*\n\n\nTu Informe Financiero Semanal 📊  \n\n¡Hola, [nombre]! Aquí tienes la historia que contaron tus números durante la última semana:  \n\nPANORAMA GENERAL  \n🟢 Ingresos: $[total_ingresos]  \n🔴 Gastos: $[total_gastos]  \n💰 Balance: $[saldo_actual]  \n\nANÁLISIS DE GASTOS 🔍  \nTu dinero se concentró principalmente en:  \n🥇 [categoria_1]: $[monto_1]  \n🥈 [categoria_2]: $[monto_2]  \n\n💡 INSIGHT DEL COACH  \n¡Excelente trabajo! Tus ingresos superaron tus gastos, lo que te permitió ahorrar $[saldo_actual]. Este es el camino para alcanzar tus metas más rápido.  \n\nPROGRESO DE METAS 🎯  \n¡No perdamos de vista tus sueños!  \n• [nombre_meta_1]: Has avanzado un [porcentaje]% del total. ¡Sigue así!  \n\nQue tengas una semana financieramente consciente. ✨\n\n\n---\n\n# 5. REGLAS DE ORO DE LA COMUNICACIÓN PROACTIVA\n\n- *CERO CONVERSACIÓN:* Tus mensajes son informativos y finales. Nunca termines con una pregunta que invite a una respuesta.\n- *LA BELLEZA ESTÁ EN EL FORMATO:* Usa negritas, cursivas, emojis y separadores (`---`) para una jerarquía visual clara y mensajes escaneables.\n- *SIEMPRE BASADO EN DATOS:* Construye tu mensaje exclusivamente con la información que recibes en el `User Message`. No inventes ni supongas nada.\n- *PERSONALIZACIÓN ES CLAVE:* Usa siempre el nombre del usuario para que el mensaje se sienta personal y directo.\n- *INTELIGENCIA DINÁMICA:* No rellenes plantillas ciegamente. Analiza los datos de `informe_data` y omite secciones irrelevantes para entregar un reporte más limpio y valioso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        3296,
        3328
      ],
      "id": "dda3f4c2-2b70-4392-84e6-7fd9c3e4043f",
      "name": "Reminder",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "semanal"
            },
            {
              "name": "tipo",
              "value": "informe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        3344
      ],
      "id": "e1cfd3b8-ae9a-45ef-bca7-e617a6b43f51",
      "name": "reminder dayli1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={{ $json.usuarios.informe }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        3344
      ],
      "id": "b0475c37-63b0-4123-b1e9-b689a2add30c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        3344
      ],
      "id": "c8eccfb3-c96e-436a-9b79-83427221bf15",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "mensual"
            },
            {
              "name": "tipo",
              "value": "informe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        3536
      ],
      "id": "92929c33-b15a-4988-b3f3-b21e66e8a19a",
      "name": "reminder dayli2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={{ $json.usuarios.informe }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        3536
      ],
      "id": "204b759b-dd6e-4eb3-aba4-04421c166aba",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        3536
      ],
      "id": "1c3282cd-01a7-4b15-a193-428f47713fc4",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        688,
        3344
      ],
      "id": "274f9858-a210-49d9-b9ac-2a45438535da",
      "name": "recordatorio semanal"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        688,
        3536
      ],
      "id": "9a08f08f-82d4-4d64-a43b-f2339c2b8103",
      "name": "recordatorio mensual"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78a51f47-bc0c-4552-bce9-4007b4e77d14",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2896,
        3136
      ],
      "id": "40ec7486-7b0f-4da8-9a31-f1f15120ec79",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        3136
      ],
      "id": "0550efd0-da3b-4c8d-befc-02ff36c895c1",
      "name": "get_conversation"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/search?q={{ $json.numero_whatsapp }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        3136
      ],
      "id": "dc6ec2af-094c-4a47-a136-7520a799e3e6",
      "name": "get contact"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2896,
        3344
      ],
      "id": "f58d51bc-484f-4966-9010-37edf7f7b79e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $('Data').item.json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $('Data').item.json.numero_whatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $('Data').item.json.user_data }}",
              "type": "object"
            },
            {
              "id": "9dca5b25-b6a7-411c-b0dd-c1bad8e70181",
              "name": "informe_data",
              "value": "={{ $('Data').item.json.informe_data }}",
              "type": "object"
            },
            {
              "id": "5ee0da44-2f91-4b7d-956a-2fdb75239a38",
              "name": "metadata",
              "value": "={\n  \"account_id\": \"3\",\n  \"conversation_id\": \"{{ $json.payload[0].messages[0].conversation_id }}\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        3344
      ],
      "id": "49215d37-2001-4713-802c-353a11f1f693",
      "name": "initData"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte2) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5664,
        3168
      ],
      "id": "7e6db4fe-cb4d-4988-8d2c-2bb2c3cb95c2",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte3) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5264,
        3344
      ],
      "id": "a126e187-75f5-4e64-96f0-a7b4d012a051",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte1) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4944,
        3184
      ],
      "id": "b984e23f-6bf8-44a0-b19e-6717ec574d5d",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5232,
        3184
      ],
      "id": "eb624c1b-ec99-4e8f-8f51-4716994d479c",
      "name": "Wait14",
      "webhookId": "421fa124-d19b-4b79-99dc-a3a3b6a82453"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4816,
        3360
      ],
      "id": "5c31d648-1e0d-4fa1-8ef4-18bc9a230475",
      "name": "Wait15",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte3}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        3360
      ],
      "id": "53d322fe-612e-4e1c-979d-94ceeee15293",
      "name": "If15"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5456,
        3392
      ],
      "id": "f8bf7679-d1cc-4436-a2fb-fc65866cadbc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "709f4717-003f-4f9f-b841-18d2f2f4ddb4",
              "leftValue": "={{ $json.message.content.parte2}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        3184
      ],
      "id": "175ef316-5ad2-4e46-b46b-e3f0af021d20",
      "name": "If16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5872,
        3200
      ],
      "id": "2c733321-2c63-4cac-b967-c64eb339a87b",
      "name": "No Operation, do nothing14"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4816,
        3584
      ],
      "id": "32fd4e62-016f-45fc-8f5f-b0347ec9cb26",
      "name": "Wait16",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte4}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        3584
      ],
      "id": "4b919ac0-78f8-4a68-8edc-8b1606eb15c4",
      "name": "If17"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5456,
        3584
      ],
      "id": "032ca526-7377-4be9-9bc2-144773515b8f",
      "name": "No Operation, do nothing15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte4) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        3568
      ],
      "id": "c8fe842d-192f-4017-8dcd-a56646c13c2a",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "content": "## RESPONS AGENT",
        "height": 600,
        "width": 1720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4368,
        3120
      ],
      "id": "33615702-ba44-4a5a-bf76-1556753fdfbe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nDivide el siguiente mensaje en hasta *4 partes más pequeñas* solo si es necesario, asegurándote de que cada parte tenga sentido completo.\n\n### *Reglas:*\n\n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en *una sola parte*.\n\n- Si es *mediano* (hasta *400 caracteres*), divídelo en *2 partes*.\n\n- Si es *largo* (hasta *600 caracteres*), divídelo en *3 partes*.\n\n- Si es *muy largo* (más de *600 caracteres*), agrégale una *parte4*.\n\n- *Evita dividir el mensaje innecesariamente*. Usa la *menor cantidad de partes posible*.\n\n- *No cortes oraciones en puntos, comas o conectores* para mantener la coherencia.\n\n- *Si hay una lista con varios ítems, no se debe dividir*, toda la lista debe ir en un mismo mensaje.\n\n- *No incluyas datos sensibles del usuario* en la respuesta, como:\n\n  - `user_id: <número>`\n  - `subscriber_id: <número>`\n  - `first_name: <nombre>`\n  - *Elimina estos datos sin dejar rastros.*\n\n- *Si no hay mensaje, no devuelvas nada.*\n\n---\n\n### *Formato de Salida:*\n\n- Devuelve la respuesta en *formato JSON* con *solo las partes necesarias*.\n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.\n- *Nunca uses comillas `\"` para resaltar palabras*. En su lugar, usa un solo asterisco: *palabra*.\n\n#### *Ejemplo de salida:*\n\n{\n\"parte1\": \"Texto de la primera parte.\",\n\"parte2\": \"Texto de la segunda parte.\"\n}\n\n### *Mensaje:*\n\n\"{{ $json.output }}\"\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4464,
        3184
      ],
      "id": "374506ff-e86c-4722-bc85-b661a7ae8d6e",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "pwlG2h4GySrxyfFD",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e91ac48-4cd0-41ea-a396-4a103fec7b78",
              "leftValue": "={{ $json.usuarios.informe.resumen.actual.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "6ec93c44-eca8-44dc-ac81-1ee18c80b54b",
              "leftValue": "={{ $json.usuarios.informe.resumen.anterior.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        3152
      ],
      "id": "69f7ed3a-1d87-492a-bbaf-ba3178f9f11c",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e91ac48-4cd0-41ea-a396-4a103fec7b78",
              "leftValue": "={{ $json.usuarios.informe.resumen.actual.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "6ec93c44-eca8-44dc-ac81-1ee18c80b54b",
              "leftValue": "={{ $json.usuarios.informe.resumen.anterior.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        3344
      ],
      "id": "52b0be74-4762-4b24-bec6-011968eda0b2",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e91ac48-4cd0-41ea-a396-4a103fec7b78",
              "leftValue": "={{ $json.usuarios.informe.resumen.actual.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "6ec93c44-eca8-44dc-ac81-1ee18c80b54b",
              "leftValue": "={{ $json.usuarios.informe.resumen.anterior.transacciones }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        3536
      ],
      "id": "59f259ee-8eb8-4003-82d6-d6ff23f639f3",
      "name": "If4"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/conversations?status=all&page=3&per_page=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        4032
      ],
      "id": "d2b4e5eb-d338-486b-a030-5636c2297bc7",
      "name": "get_conversation1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.payload",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        4032
      ],
      "id": "a1be6cb4-76e8-421f-a260-90c76ec417cc",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "jsCode": "const BASE_URL = \"https://crm.whitelabel.lat/api/v1/accounts/3/conversations\";\nconst TOKEN = \"uuWT9PNsY83ucax7HeqBEUSi\";\n\nasync function getAllConversations() {\n  let page = 1;\n  const perPage = 25;\n  const results = [];\n\n  while (true) {\n    const response = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `${BASE_URL}?status=all&page=${page}&per_page=${perPage}`,\n      headers: {\n        \"api_access_token\": TOKEN,\n        \"Content-Type\": \"application/json\",\n      },\n      json: true,\n    });\n\n    const payload = response.data?.payload || [];\n\n    if (payload.length === 0) break;\n\n    for (const conv of payload) {\n      results.push({\n        conversation_id: conv.id,\n        contact_id: conv.meta?.sender?.id,\n        name: conv.meta?.sender?.name || null,\n        phone_number: conv.meta?.sender?.phone_number || null,\n        account_id: conv.account_id,\n        labels: conv.labels || [],\n        status: conv.status,\n      });\n    }\n\n    page++;\n  }\n\n  return results.map(r => ({ json: r }));\n}\n\nreturn await getAllConversations();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        4192
      ],
      "id": "77757ece-f259-4fcf-8aef-201f30fbffc8",
      "name": "Get_Conversations",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc71d298-231b-4852-aa86-b42f2131eecf",
              "leftValue": "={{ $json.labels }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        4192
      ],
      "id": "728a4708-b96c-4ba2-aca7-6ca2d146550a",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"no_registrado\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        4176
      ],
      "id": "8e843280-14a1-4198-8c0b-aa9e94dadb46",
      "name": "add_label"
    },
    {
      "parameters": {
        "content": "## Crm\n",
        "height": 768,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        3984
      ],
      "id": "a152da97-14e4-4ca9-9b5a-508bb6fd0dd6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78a51f47-bc0c-4552-bce9-4007b4e77d14",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        4368
      ],
      "id": "14b9ef65-7b0a-4f2c-8758-0b579d44fe27",
      "name": "If6"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        4368
      ],
      "id": "9e293877-43f7-45ca-8a07-bc0fee4b78ad",
      "name": "get_conversation2"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/search?q={{ $json.numero_whatsapp }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "uuWT9PNsY83ucax7HeqBEUSi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        4368
      ],
      "id": "43b57f6c-00d6-4712-a5d4-1200bca50a26",
      "name": "get contact1"
    },
    {
      "parameters": {
        "jsCode": "const BASE_URL = \"https://crm.whitelabel.lat/api/v1/accounts/3/conversations\";\nconst TOKEN = \"uuWT9PNsY83ucax7HeqBEUSi\";\n\nasync function getAllConversations() {\n  let page = 1;\n  const perPage = 25;\n  const results = [];\n\n  while (true) {\n    const response = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `${BASE_URL}?status=all&page=${page}&per_page=${perPage}`,\n      headers: {\n        \"api_access_token\": TOKEN,\n        \"Content-Type\": \"application/json\",\n      },\n      json: true,\n    });\n\n    const payload = response.data?.payload || [];\n\n    if (payload.length === 0) break;\n\n    for (const conv of payload) {\n      results.push({\n        conversation_id: conv.id,\n        contact_id: conv.meta?.sender?.id,\n        name: conv.meta?.sender?.name || null,\n        phone_number: conv.meta?.sender?.phone_number || null,\n        account_id: conv.account_id,\n        labels: conv.labels || [],\n        status: conv.status,\n      });\n    }\n\n    page++;\n  }\n\n  return results.map(r => ({ json: r }));\n}\n\nreturn await getAllConversations();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        3936
      ],
      "id": "6c541e3e-d7a5-4f65-aec7-56f0753e6803",
      "name": "Get_Conversations1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc71d298-231b-4852-aa86-b42f2131eecf",
              "leftValue": "={{ $json.labels }}",
              "rightValue": "registrado",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "f56f0803-364f-49e0-8ee2-1df4137504b1",
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "+573228854498",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        3936
      ],
      "id": "0b9d4424-9c16-4db8-b9dd-b0d91fd86b07",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "const BASE_URL = \"https://crm.whitelabel.lat/api/v1/accounts/3/conversations\";\nconst TOKEN = \"uuWT9PNsY83ucax7HeqBEUSi\";\n\nasync function getAllConversations() {\n  let page = 1;\n  const perPage = 25;\n  const results = [];\n\n  while (true) {\n    const response = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `${BASE_URL}?status=all&page=${page}&per_page=${perPage}`,\n      headers: {\n        \"api_access_token\": TOKEN,\n        \"Content-Type\": \"application/json\",\n      },\n      json: true,\n    });\n\n    const payload = response.data?.payload || [];\n\n    if (payload.length === 0) break;\n\n    for (const conv of payload) {\n      results.push({\n        conversation_id: conv.id,\n        contact_id: conv.meta?.sender?.id,\n        name: conv.meta?.sender?.name || null,\n        phone_number: conv.meta?.sender?.phone_number || null,\n        account_id: conv.account_id,\n        labels: conv.labels || [],\n        status: conv.status,\n      });\n    }\n\n    page++;\n  }\n\n  return results.map(r => ({ json: r }));\n}\n\nreturn await getAllConversations();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        4176
      ],
      "id": "c2c9e4d2-4f8b-4506-a169-2644c7019f46",
      "name": "Get_Conversations2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc71d298-231b-4852-aa86-b42f2131eecf",
              "leftValue": "={{ $json.labels }}",
              "rightValue": "registrado",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "f56f0803-364f-49e0-8ee2-1df4137504b1",
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "+573228854498",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2608,
        4176
      ],
      "id": "f4e58430-187f-4211-883b-edbcc92fa09b",
      "name": "If8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"¿Cómo calificarías nuestro servicio?\",\n  \"content_type\": \"input_select\",\n  \"content_attributes\": {\n    \"items\": [\n      { \"title\": \"Excelente 😀\", \"value\": \"5\" },\n      { \"title\": \"Bueno 🙂\", \"value\": \"4\" },\n      { \"title\": \"Regular 😐\", \"value\": \"3\" },\n      { \"title\": \"Malo 🙁\", \"value\": \"2\" },\n      { \"title\": \"Terrible 😞\", \"value\": \"1\" }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        3920
      ],
      "id": "1730c737-efcd-4f13-83bc-1ff42525f21a",
      "name": "Send_Encuesta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"form\",\n  \"content_type\": \"form\",\n  \"content_attributes\": {\n    \"items\": [\n      { \"name\":\"email\", \"placeholder\":\"Please enter your email\", \"type\":\"email\", \"label\":\"Email\", \"default\":\"[email protected]\" },\n      { \"name\":\"text_aread\", \"placeholder\":\"Please enter text\", \"type\":\"text_area\", \"label\":\"Large Text\", \"default\":\"Sample text\" },\n      { \"name\":\"text\", \"placeholder\":\"Please enter text\", \"type\":\"text\", \"label\":\"text\", \"default\":\"sample input\" },\n      { \"name\":\"select\", \"label\":\"Select Option\", \"type\":\"select\",\n        \"options\":[ { \"label\":\"Burito\",\"value\":\"Burito\" }, { \"label\":\"Pasta\",\"value\":\"Pasta\" } ]\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3008,
        4160
      ],
      "id": "67323719-032d-4547-8861-8625cd54c5e1",
      "name": "Formulario",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T21:46:33.295Z",
      "updatedAt": "2025-08-25T21:46:33.295Z",
      "role": "workflow:owner",
      "workflowId": "c0fFGUQEncFx3e6v",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": {
    "node:resumen-financiero-hoy": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible": {
      "recurrenceRules": []
    },
    "node:resumen_semanal": {
      "recurrenceRules": []
    },
    "node:resumen_mensual": {
      "recurrenceRules": []
    },
    "node:resumen_trimestral": {
      "recurrenceRules": []
    },
    "node:alerta_presupuesto": {
      "recurrenceRules": []
    },
    "node:meta_en_riesgo": {
      "recurrenceRules": []
    },
    "node:recordatorio_suscripcion": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible1": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible2": {
      "recurrenceRules": []
    },
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-25T15:38:52Z"
    },
    "node:recordatorio diario": {
      "recurrenceRules": []
    },
    "node:recordatorio semanal": {
      "recurrenceRules": []
    },
    "node:recordatorio mensual": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-08-29T20:39:24.899Z",
  "versionId": "05633f1c-d30c-4b9e-9269-3504bb4525e4"
}