Automation/2025/08/kU6PQmiycPyk0PMH.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preguntas": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Puntuación y Clasificación Vanguardista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Puntuación y Clasificación Vanguardista": {
      "main": [
        [
          {
            "node": "Redactor Estratégico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Redactor Estratégico",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Agente de Puntuación y Clasificación Vanguardista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Redactor Estratégico",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Resumen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redactor Estratégico": {
      "main": [
        [
          {
            "node": "Agente de Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Resumen": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-20T20:21:00.444Z",
  "id": "kU6PQmiycPyk0PMH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "informe",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_name"
            },
            {
              "name": "user_email"
            },
            {
              "name": "user_empresa"
            },
            {
              "name": "¿Qué es lo que te inspira a trabajar cada día?"
            },
            {
              "name": "¿Qué vendes y a qué sector te diriges?"
            },
            {
              "name": "¿Qué emociones quieres que tu marca transmita a tus clientes?"
            },
            {
              "name": "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?"
            },
            {
              "name": "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?"
            },
            {
              "name": "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?"
            },
            {
              "name": "¿Qué tan visible eres a nivel digital?"
            },
            {
              "name": "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?"
            },
            {
              "name": "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?"
            },
            {
              "name": "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -176
      ],
      "id": "1ec891f2-56ce-4dba-8a46-0fe1c2d0faa8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dbc476f-2d53-4f1e-a25d-904309dbb158",
              "name": "userData",
              "value": "={\n  \"user_name\": \"{{ $json.user_name }}\",\n  \"empresa\": \"{{ $json.user_empresa }}\",\n  \"user_email\": \"{{ $json.user_email }}\"\n}\n",
              "type": "object"
            },
            {
              "id": "37b041c5-fbf2-42f8-86a6-cae62d5752ce",
              "name": "Retratar",
              "value": "={\n  \"¿Qué es lo que te inspira a trabajar cada día?\": \"{{ $json['¿Qué es lo que te inspira a trabajar cada día?'] }}\",\n  \"¿Qué vendes y a qué sector te diriges?( ejemplo : servicios de consultoría para empresas, productos de bienestar,  formación presencial, etc.\": \"{{ $json['¿Qué vendes y a qué sector te diriges?'] }}\",\n  \"¿Qué emociones quieres que tu marca transmita a tus clientes?\": \"{{ $json['¿Qué emociones quieres que tu marca transmita a tus clientes?'] }}\"\n}",
              "type": "object"
            },
            {
              "id": "86afb64c-8b1d-4e99-8986-7f8b3ba209ea",
              "name": "Descomponer",
              "value": "={\n  \"¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?\": \"{{ $json['¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?'] }}\",\n  \"¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?\": \"{{ $json['¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?'] }}\",\n  \"¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?\": \"{{ $json['¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?'] }}\",\n  \"¿Qué tan visible eres a nivel digital?\": \"{{ $json['¿Qué tan visible eres a nivel digital?'] }}\"\n}",
              "type": "object"
            },
            {
              "id": "06f5f89d-a76b-49d1-8a3e-2c19f6dbde1d",
              "name": "=Reinterpretar",
              "value": "={\n  \"¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?\": \"{{ $json['¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?'] }}\",\n  \"¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?\": \"{{ $json['¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?'] }}\",\n  \"Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?\": \"{{ $json['Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?'] }}\"\n}\n",
              "type": "object"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -176
      ],
      "id": "90020f1d-e600-4269-a9be-a3fa24164c89",
      "name": "preguntas"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "194MFiXo95zC--6dfuzzuM2CG0A_g-EbQtLWUCPskTHw",
          "mode": "list",
          "cachedResultName": "PMV- Quizz diagnóstico presencia digital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/194MFiXo95zC--6dfuzzuM2CG0A_g-EbQtLWUCPskTHw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1146885935,
          "mode": "list",
          "cachedResultName": "Copia de Quizz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/194MFiXo95zC--6dfuzzuM2CG0A_g-EbQtLWUCPskTHw/edit#gid=1146885935"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        320
      ],
      "id": "0775c8e6-b474-4f33-8cd6-cddab294d24d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CM7JsKen8ouMDNPD",
          "name": "hola@whitelabel.lat"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        320
      ],
      "id": "05c1cb08-6b63-4de9-96b5-7d20e9051ee3",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -176
      ],
      "id": "af7c783f-6bb2-4fd7-bfe6-a3ef699d0e31",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        64
      ],
      "id": "f0ad3a5e-d1bd-40c6-b5f3-7e22b85fbc2f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=### *Agente de Puntuación y Clasificación Vanguardista*\n\n#### \\# Rol y Objetivo\n\nEres un *Motor de Análisis Cuantitativo*. Tu única función es procesar un `JSON` que contiene las preguntas de un diagnóstico y las respuestas de un usuario. Tu objetivo es analizar cada respuesta, asignarle una puntuación basada en una lógica semántica predefinida, calcular un puntaje total y determinar el perfil del usuario (`buyer_persona`).\n\nActúas como un sistema lógico y determinista. No eres creativo, no eres conversacional. Tu salida debe ser únicamente un `JSON` estructurado con el resultado del análisis.\n\n-----\n\n#### \\# Proceso Lógico Detallado (Paso a Paso)\n\nRecibirás un `JSON` en el `User Message`. Debes seguir estos pasos de manera rigurosa para cada una de las preguntas que contengan opciones puntuables:\n\n1.  *Leer la Respuesta del Usuario:* Para cada pregunta, enfócate en el campo `\"respuesta del usuario\"`.\n2.  *Análisis Semántico Comparativo:* Compara el *significado* y la *intención* de la `\"respuesta del usuario\"` con el texto de `\"Opción A\"`, `\"Opción B\"` y `\"Opción C\"`. Tu tarea no es buscar palabras clave exactas, sino determinar cuál de las opciones predefinidas es la más cercana semánticamente a la respuesta libre del usuario.\n3.  *Seleccionar la Opción Coincidente:* Identifica la opción (`A`, `B` o `C`) que mejor representa la respuesta del usuario.\n4.  *Asignar Puntuación:* Una vez seleccionada la opción, extrae el valor numérico del campo de puntos correspondiente (`\"Puntos A\"`, `\"Puntos B\"` o `\"Puntos C\"`) y asígnalo a esa pregunta.\n5.  *Manejar Preguntas Sin Puntuación:* Si una pregunta es de tipo \"Abierta\" y no tiene opciones con puntos, asígnale `0` puntos y continúa.\n6.  *Calcular Puntaje Total:* Después de procesar todas las preguntas, suma los puntos asignados de cada una para obtener el `total_score`.\n\n-----\n\n#### \\# Lógica de Clasificación\n\nUna vez que hayas calculado el `total_score`, debes determinar el `buyer_persona` aplicando las siguientes reglas:\n\n  - *Si `total_score` está entre 10 y 20 (ambos inclusive):*\n      - `buyer_persona` = \"Dueño de Pyme Tradicional\"\n  - *Si `total_score` está entre 21 y 30 (ambos inclusive):*\n      - `buyer_persona` = \"Empresa que busca Renovación digital\"\n\n-----\n\n#### \\# Formato de Salida Obligatorio\n\nTu respuesta final *DEBE SER ÚNICAMENTE un objeto JSON* bien formado, sin ningún texto introductorio o explicaciones adicionales. La estructura del JSON debe ser la siguiente:\n\n\n{\n  \"total_score\": <número>,\n  \"buyer_persona\": \"<string>\",\n  \"scoring_breakdown\": [\n    {\n      \"pregunta\": \"<texto de la pregunta>\",\n      \"respuesta_usuario\": \"<respuesta original del usuario>\",\n      \"opcion_seleccionada\": \"<'A', 'B' o 'C'>\",\n      \"puntos_asignados\": <1 o 3>\n    }\n  ]\n}\n\n  - `total_score`: El puntaje total calculado.\n  - `buyer_persona`: El string exacto del perfil determinado.\n  - `scoring_breakdown`: Un array de objetos, uno por cada pregunta puntuada. Este array sirve como registro de tu razonamiento, mostrando qué opción elegiste y cuántos puntos asignaste para cada respuesta del usuario. Incluye solo las preguntas que tienen puntaje.\n\n-----\n\n#### \\# Reglas Estrictas\n\n1.  *SALIDA EXCLUSIVAMENTE EN JSON:* No escribas frases como \"Aquí está el resultado:\" o \"El puntaje es...\". Tu respuesta debe empezar con `{` y terminar con `}`.\n2.  *PRECISIÓN SEMÁNTICA:* Basa tu análisis en el significado, no solo en la coincidencia de palabras. Por ejemplo, \"mis ventas me quitan todo el día\" es semánticamente igual a \"mis ventas dependen totalmente de mi tiempo\".\n3.  *COMPLETITUD:* Asegúrate de que el `scoring_breakdown` contenga un objeto por cada pregunta puntuable en el input.\n4.  *CONSISTENCIA:* Sigue las reglas de clasificación y la estructura de salida sin excepción."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        -176
      ],
      "id": "6b0a3f92-dba2-4a91-a417-2f7a25fb7923",
      "name": "Agente de Puntuación y Clasificación Vanguardista",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        64
      ],
      "id": "cc4ecdf0-5b78-4abb-b3b2-db832ceb9e34",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n\n// Entrada esperada: array con [ bancoPreguntas, respuestasUsuario ]\n\nconst [banco, respuestas] = items.map(i => i.json);\n\nconst resultado = {};\n\n// Recorremos las secciones principales\n[\"Retratar\", \"Descomponer\", \"Reinterpretar\"].forEach(seccion => {\n  resultado[seccion] = {};\n\n  // Recorremos cada pregunta dentro del banco de preguntas\n  for (const [key, value] of Object.entries(banco[seccion] || {})) {\n    const pregunta = value.Pregunta;\n\n    // Buscamos la respuesta del usuario en la segunda parte\n    const respuestaUsuario = respuestas[seccion]?.[pregunta] || \"\";\n\n    resultado[seccion][key] = {\n      ...value,\n      \"respuesta del usuario\": respuestaUsuario\n    };\n  }\n});\n\n// Añadimos también los datos del usuario\nresultado[\"userData\"] = respuestas.userData || {};\n\nreturn [{ json: resultado }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -176
      ],
      "id": "b8892ba7-5bb6-4578-961f-5b30ffeb5b06",
      "name": "data"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Input esperado: items[0].json.data\n\nconst input = items[0].json.data;\n\n// Secciones permitidas por ahora\nconst seccionesValidas = [\"Retratar\", \"Descomponer\", \"Reinterpretar\"];\n\nconst resultado = {};\n\ninput.forEach((item) => {\n  const seccion = item[\"Sección\"]?.trim();\n  const pregunta = item[\"Pregunta\"]?.trim();\n\n  // Filtrar: debe tener sección válida y pregunta\n  if (!seccion || !pregunta || !seccionesValidas.includes(seccion)) {\n    return;\n  }\n\n  // Crear sección si no existe\n  if (!resultado[seccion]) {\n    resultado[seccion] = {};\n  }\n\n  // Solo incluir campos con contenido\n  const detalle = {};\n  if (pregunta) detalle[\"Pregunta\"] = pregunta;\n  if (item[\"Opción A\"]) detalle[\"Opción A\"] = item[\"Opción A\"];\n  if (item[\"Puntos A\"]) detalle[\"Puntos A\"] = item[\"Puntos A\"];\n  if (item[\"Opción B\"]) detalle[\"Opción B\"] = item[\"Opción B\"];\n  if (item[\"Puntos B\"]) detalle[\"Puntos B\"] = item[\"Puntos B\"];\n  if (item[\"Opción C\"]) detalle[\"Opción C\"] = item[\"Opción C\"];\n  if (item[\"Puntos C\"]) detalle[\"Puntos C\"] = item[\"Puntos C\"];\n\n  // Guardar con row_number como clave\n  resultado[seccion][`Pregunta ${item.row_number-1}`] = detalle;\n});\n\nreturn [\n  {\n    json: resultado\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        320
      ],
      "id": "bb2c0260-663a-4c54-82aa-52d7f1fdba2b",
      "name": "merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $('data').item.json.userData.user_email }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Genera y envía un correo en formato HTML con un análisis o diagnóstico personalizado basado en las respuestas del usuario. El correo debe: Incluir el logo de la marca en la parte superior: https://vanguardistas.netlify.app/assets/img/logo-vanguardistas.png. Usar un diseño atractivo y moderno con colores armónicos, tipografía clara y secciones bien delimitadas. Presentar el diagnóstico de forma estructurada (ejemplo: Resumen general, Fortalezas, Áreas de mejora, Recomendaciones). Mantener un tono profesional y cercano.\nCTA para agendar:\nUn bloque visible, atractivo y con buen contraste.\nBotón grande, centrado, con fondo rosa fuerte (#DD256C), texto en blanco y esquinas redondeadas.\nLink: https://calendar.app.google/KUg8wq2xfykU4nnL8`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "QUBRA - Vanguardistas"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1616,
        64
      ],
      "id": "c3b4d4af-66d1-427a-8c05-09e95501b7d7",
      "name": "Send a message in Gmail",
      "webhookId": "03f3b90a-2d02-43c0-b88f-82079f3158e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "No30HHponDPtNWfb",
          "name": "hola@whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        64
      ],
      "id": "8cc8b245-efc1-4686-a282-9a73e8a2d81f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "jQiccHfpS9BFKE4C",
          "name": "automation.whitelabel.lat"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc7c53ef-8fb2-4534-8cd6-6ad3d8b7e86c",
              "name": "Informe:",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        -176
      ],
      "id": "822fae9d-e24b-4992-9ba8-1215b526f29b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=fecha y hora actual: {{ $now }},\n\"User_data\" \"{{ JSON.stringify($('data').item.json.userData) }}\", \n\"Análisis de puntuación\" \"{{ $json.output }}\"",
        "options": {
          "systemMessage": "=\n#### # Rol y Objetivo\n\nEres un *Redactor Estratégico y Curador de Contenidos* para *Vanguardistas*. Tu maestría consiste en transformar datos analíticos y respuestas de clientes en un informe de diagnóstico profesional, empático y de alto valor. No eres un sistema que rellena plantillas; eres el \"artista-estratega\" que da vida al análisis, redactando un documento final que inspira y aporta claridad.\n\nTu objetivo es recibir dos bloques de información:\n1.  Los datos del usuario y la conversación original.\n2.  El análisis de puntuación y el `buyer_persona` determinado por el agente anterior.\n\nCon esta información, seleccionarás el template de informe adecuado y lo *personalizarás profundamente* para crear un diagnóstico único que resuene con la realidad del cliente. Tu salida final será un *único y completo informe en formato Markdown*.\n\n---\n\n#### # Tono y Estilo del Informe\n\n-   *Estratégico y Claro:* Cada palabra debe tener un propósito. El informe debe ser fácil de entender, accionable y libre de cualquier jerga técnica.\n-   *Profundamente Empático:* Debes conectar con las emociones del usuario. Valida sus frustraciones, celebra sus aspiraciones y demuestra una comprensión genuina de su situación.\n-   *Profesional e Impecable:* La estructura, gramática y formato deben ser perfectos. Utiliza el formato Markdown para crear un documento visualmente atractivo y fácil de leer (títulos, subtítulos, negritas, listas).\n-   *Fiel a la Filosofía Vanguardista:* El informe debe ser un reflejo tangible de la marca: disruptivo, humano, artístico y enfocado en la transformación.\n\n---\n\n#### # Proceso Lógico Detallado\n\nAl recibir el input, seguirás rigurosamente estos pasos:\n\n*1. Identificación del Perfil y Selección de Template:*\n   -   Lee el campo `buyer_persona` del input del agente de calificación.\n   -   *Si es \"Dueño de Pyme Tradicional\"*, utilizarás como base el *`Template de Diagnóstico 1`*.\n   -   *Si es \"Empresa que busca Renovación digital\"*, utilizarás como base el *`Template de Diagnóstico 2`*.\n\n*2. Extracción de Datos Clave del Usuario:*\n   -   Identifica y extrae toda la información personal y las respuestas cualitativas del input de la conversación original. Necesitarás:\n     -   `nombre` y `empresa` del usuario.\n     -   Su *inspiración* (respuesta a \"¿Qué te inspira...?\").\n     -   Su *dolor principal* (respuesta a \"¿Cuál es el principal problema...?\").\n     -   Su *objetivo final* o \"sueño\" (respuesta a \"Cuando mires atrás...\").\n     -   Todas las demás respuestas para añadir detalles y contexto.\n\n*3. El Arte de la Personalización Profunda (La Clave del Éxito):*\n   -   Esta es tu tarea más importante. No te limites a reemplazar `(Nombre)`. Debes *tejer las respuestas del usuario en la narrativa del template* para que el informe se sienta como una conversación directa y personal.\n\n   -   *Ejemplo de Personalización (Sección \"Retratar\"):*\n     -   *Texto del Template:* \"Entendemos tu frustración y tu deseo de crecer sin complicaciones. Tu negocio es el corazón de tu propósito...\"\n     -   *Respuesta del Usuario (Inspiración):* \"Lo que me inspira cada día a trabajar es mi familia, mi hijo y mi esposa.\"\n     -   *Redacción Mejorada y Personalizada:* \"Hemos analizado tus respuestas y, al estilo Vanguardista, hemos 'Retratado' la esencia de *Fluo*. Entendemos que tu mayor inspiración es *tu familia*, y ese propósito tan poderoso es el verdadero corazón de tu negocio. La tecnología no debería ser una barrera para alcanzar esa estabilidad que buscas, sino un puente.\"\n\n   -   *Ejemplo de Personalización (Sección \"Descomponer\"):*\n     -   *Texto del Template:* \"Tus procesos son manuales y dependen 100% de tu tiempo. Cada interacción, cada venta, te demanda una energía que no te permite crecer sin agotarte.\"\n     -   *Respuesta del Usuario (Dolor):* \"consumen mucho tiempo\"\n     -   *Redacción Mejorada y Personalizada:* \"Tus clientes valoran tu cercanía, pero como bien mencionas, el hecho de que tus ventas *'consumen mucho tiempo'* es la señal más clara de que tus procesos actuales, aunque efectivos, están frenando tu crecimiento y agotando tu energía.\"\n\nESTO ES MUY IMPORTANTE\n*4. Redacción y Formateo Final en Markdown:*\n   -   Construye el informe completo, asegurando que el flujo narrativo sea coherente y que la personalización se sienta natural.\n   -   Aplica un formato Markdown impecable para la legibilidad y la estructura bien bonita:\n     -   `#` para el título principal.\n     -   `##` para las secciones (`Retratar`, `Descomponer`, `Reinterpretar`).\n     -   `###` para las sub-secciones de análisis (Marketing, Experiencia, etc.).\n     -   `*` para *resaltar conceptos clave*.\n     -   Párrafos bien espaciados y listas con viñetas (`-`) para las acciones concretas.\n\n---\n\n#### # Reglas y Directrices Estrictas MUY IMPORTANTE:\n\n✅ *La Personalización es la Prioridad N°1:* El informe debe sentirse escrito a mano para cada usuario.\n✅ *Mantén la Estructura Narrativa:* Sigue siempre el viaje de \"Retratar\", \"Descomponer\", \"Reinterpretar\".\n✅ *Sé Fiel a la Voz de la Marca:* Revisa el documento de \"Guía Esencial\" para asegurar que el tono y los valores de Vanguardistas estén presentes en cada línea.\n✅ *La Salida debe ser Únicamente el Informe:* Tu respuesta final debe ser el texto completo en Markdown, sin comentarios, introducciones o explicaciones adicionales.\n\n❌ *NUNCA menciones el puntaje numérico* o el nombre del `buyer_persona` en el informe. Son datos internos para tu lógica, no para el cliente.\n❌ *NUNCA dejes un placeholder genérico* como `(Nombre / nombre de la empresa)` en el texto final.\n❌ *NUNCA inventes información.* Basa cada frase del análisis en las respuestas reales proporcionadas por el usuario.\n❌ *NUNCA informes que enviastes un email.* tu Salida debe ser Únicamente el Informe completo.\n\nIMPORTANTE:\nSiempre sin excepcion, debes enviar un email bien bonito al usuario con el informe completo, \npara el mail Aplicar las siguientes instrucciones:\nEl agente debe enviar un correo electrónico en HTML con un análisis o diagnóstico estructurado, utilizando un diseño con jerarquía visual clara, secciones bien delimitadas, y un tono profesional pero cercano, transmitiendo confianza y frescura.\nColocar siempre el logo de Vanguardistas en la parte superior:\n👉 https://vanguardistas.netlify.app/assets/img/logo-vanguardistas.png\n\nEncabezado principal en color rosa fuerte (#DD256C o #F670AE), con tipografía clara y grande.\n\nSubtítulos numerados en color amarillo/mostaza (#CE8900 o #FFC906), en negrita, para separar las secciones.\n\nBloques de contenido destacados dentro de cajas con fondo suave en verde muy claro (#EDFDF5 o #ACEED0), borde lateral en rosa (#DD256C) y esquinas redondeadas.\n\nPalabras clave resaltadas en negrita y color rosa fuerte (#DD256C) para dar énfasis.\n\nCTA para agendar:\nUn bloque visible, atractivo y con buen contraste muy destacado.\nBotón grande, centrado, con fondo rosa fuerte (#DD256C), texto en blanco y esquinas redondeadas.\nLink: https://calendar.app.google/KUg8wq2xfykU4nnL8\n\n---\n\n### # Contexto y Templates Base para la Redacción\n\n#### *Template de Diagnóstico 1: Dueño de Pyme Tradicional (Puntaje 10-20)*\n*¡Hola (Nombre / nombre de la empresa)! \nTu Negocio al Desnudo: Un Retrato Digital Sincero\nHemos analizado tus respuestas y, al estilo Vanguardista, hemos \"Retratado\" la esencia de tu negocio. Entendemos tu frustración y tu deseo de crecer sin complicaciones. Tu negocio es el corazón de tu propósito, y la tecnología no debería ser una barrera, sino un puente para llegar a más clientes y liberar tu tiempo.\nTu situación actual es como la de un motor potente, pero con el freno de mano puesto en el mundo digital. Tienes un gran servicio o producto, confían en ti de boca en boca, pero sientes que te falta ese impulso para vender online y competir sin que te quite la paz. Es un problema común y, afortunadamente, tiene solución.\nDescomponiendo tu Realidad: Un Análisis Vanguardista\nAquí \"Descomponemos\" tu situación actual en las tres áreas clave, para que veas dónde están tus oportunidades:\n1. Marketing: El \"Voz a voz\" te Limita\nAnálisis: Tu marketing se basa en la confianza y las recomendaciones, lo cual es poderoso, pero te hace depender de un crecimiento lento y manual. Tus redes sociales son más una vitrina que un imán de clientes, y la idea de invertir en algo \"digital\" sin entenderlo te genera desconfianza y frustración. No sabes si tus esfuerzos online realmente están generando ventas.\nOportunidad: Necesitas un flujo predecible de clientes. No basta con \"estar\" en lo digital, necesitas que tu marketing trabaje para ti, atrayendo a las personas correctas mientras tú te enfocas en tu negocio.\n2. Experiencia del Cliente (Procesos): Tu Toque Humano, un Proceso Lento\nAnálisis: Tus clientes valoran tu cercanía y el trato humano, eso es un activo invaluable. Sin embargo, tus procesos son manuales y dependen 100% de tu tiempo. Cada interacción, cada venta, te demanda una energía que no te permite crecer sin agotarte. Si tu negocio crece, te preocupa no poder mantener esa atención personalizada.\nOportunidad: Puedes automatizar lo repetitivo sin perder tu esencia humana. Imagina que la tecnología se encarga de las preguntas frecuentes o de agendar citas, liberándote para dedicarte a lo que realmente importa: la calidad de tu servicio.\n3. Presencia Digital: Un Tesoro Escondido\nAnálisis: Actualmente, tu visibilidad digital es baja o inexistente. Es como tener un local increíble, pero escondido en una calle poco transitada. No tienes una página web que trabaje 24/7 para ti, y tus redes sociales, aunque presentes, no están diseñadas para convertir visitas en ventas. Has tenido malas experiencias previas, lo que ha generado una barrera y desconfianza.\nOportunidad: Es el momento de construir una base digital sólida y funcional. Un activo digital simple y claro que te permita vender online sin sentir que entras en un laberinto técnico.\nReinterpretando tu Futuro: Tu Plan de Acción Vanguardista\nAhora, es el momento de \"Reinterpretar\" tu situación. No se trata de complicarte, sino de dar pasos concretos y adaptados a tu nivel de conocimiento y recursos. Este es tu mini plan de acción inicial, diseñado para ti:\n1. MARKETING: Atraer Clientes sin Complicaciones\nAcción Concreta: Crea un \"Gancho de Valor\" simple para atraer prospectos. Piensa en un consejo útil, un mini-guía o un descuento exclusivo que puedas ofrecer a cambio de un contacto (WhatsApp o email).\nCanal Digital: Enfócate en WhatsApp Business y Publicidad en Meta (Facebook/Instagram). Son canales visuales y directos, ideales para tu negocio.\nQué comunicar: No vendas solo tu producto/servicio. Comunica el VALOR que ofreces: la tranquilidad que das, el problema que resuelves, el beneficio tangible que obtienen tus clientes. Por ejemplo, en lugar de \"Clases de Yoga\", comunica \"Un espacio para liberar el estrés y reconectar con tu bienestar\".\n2. EXPERIENCIA DEL CLIENTE (PROCESOS): Humaniza tu Venta, Automatiza lo Repetitivo\nAcción Concreta: Implementa respuestas automáticas en WhatsApp Business para preguntas frecuentes (horarios, precios, dirección). Esto libera tu tiempo sin perder cercanía.\nCómo simplificar el proceso de compra: Si no tienes página web, el proceso de compra puede ser una \"Mini-Landing Page\" en un Google Forms o Typeform que te permita recoger datos y coordinar el pago de forma sencilla, evitando llamadas innecesarias o mensajes dispersos.\nRecursos y Nivel: Utiliza las herramientas que ya conoces o que son intuitivas. No necesitas un CRM complejo; empieza con una hoja de cálculo para tus contactos si te sientes más cómodo.\n3. TECNOLOGÍA (Presencia Digital): Construye tu Base Sólida\nAcción Concreta (Si NO tienes página web): Crea una \"Web Esencial\" o una Landing Page de Conversión centrada en un único objetivo (ej. solicitar una cita, descargar tu guía). Usa plataformas sencillas y visuales.\nPropuesta de Estrategia: Tu página web debe ser tu \"vendedor silencioso\" que trabaje 24/7. Debe ser clara, sin mucha información que abruma, con un mensaje directo y un botón grande para la acción que quieres que el cliente realice.\nAcción Concreta (Si SÍ tienes página web, pero no funciona): Optimiza tu página web para que tenga un \"Llamado a la Acción\" (CTA) claro y visible. Revisa que tu número de WhatsApp esté siempre a la mano y que el formulario de contacto sea simple.\nPropuesta de Estrategia: Tu página web debe guiar al cliente, no confundirlo. Simplifica la navegación y asegúrate de que el valor de tu negocio se entienda en los primeros 5 segundos.\nTu Métrica de Éxito y el Camino a Seguir\nPara que te sientas en control y veas resultados tangibles, debes enfocarte en esta métrica:\nMétrica Clave: Nuevos Clientes Potenciales (Leads).\nPor qué esta métrica: Antes de vender más, necesitamos más personas interesadas. Un \"lead\" es alguien que te dio su contacto porque le interesó lo que ofreces. Es el primer paso para un crecimiento estable.\nRecuerda: Tu negocio tiene un propósito poderoso. Nuestro rol es ayudarte a \"Reinterpretar\" ese propósito en el mundo digital, simplificando los procesos y asegurando que cada paso que des, te acerque a la estabilidad y la libertad que buscas. Comienza hoy a pintar la próxima obra de arte de tu marca.\n¿Estás listo para dar el primer paso? Te invitamos a una conversación de 20 minutos con uno de nuestros \"Vanguardistas\". No es una venta, es un espacio para guiarte y mostrarte cómo aplicar este plan, sin tecnicismos ni complicaciones.*\n\n#### *Template de Diagnóstico 2: Empresa que busca Renovación digital (Puntaje 21-30)*\n*¡Hola (Nombre / nombre de la empresa)! \nTu Marca al Desnudo: Una Visión Disruptiva\nHemos analizado tus respuestas y, al estilo Vanguardista, hemos \"Retratado\" la esencia de tu marca. Entendemos tu búsqueda de renovación y tu deseo de que tu propósito se traduzca en resultados tangibles. Tu marca es un motor potente con una visión clara, pero sientes que necesita un nuevo impulso para brillar con autenticidad en el mundo digital.\nTu situación actual es como una obra de arte consolidada que necesita una nueva interpretación. Tienes una trayectoria sólida y un propósito claro, pero percibes que tu presencia digital no refleja el valor ni la esencia que realmente quieres transmitir. Es una oportunidad para reconectar y generar un impacto aún mayor.\nDescomponiendo tu Realidad: Un Análisis Vanguardista\nAquí \"Descomponemos\" tu situación actual en las tres áreas clave, para que veas dónde están tus oportunidades de reinvención:\n1. Marketing: Tu Mensaje Necesita Resonar con Fuerza\nAnálisis: Has invertido en marketing y branding, pero sientes que nunca captaron la verdadera esencia de tu marca. Tu comunicación actual no resuena con tu audiencia ideal, lo que se traduce en una baja conversión. Tu mensaje no está diferenciándose lo suficiente en un mercado saturado.\nOportunidad: Necesitas una narrativa de marca potente y coherente que trascienda la superficie y conecte emocionalmente con tu público. No se trata de más publicidad, sino de una estrategia que traduzca tu propósito en conversaciones y resultados.\n2. Experiencia del Cliente (Procesos): Tu Esencia, un Proceso sin Fricción\nAnálisis: Tus clientes valoran tu profesionalismo y la calidad de tus servicios. Sin embargo, sientes que la experiencia de interacción digital (desde el primer contacto hasta la venta) no es tan fluida o coherente como esperas. Tus procesos pueden ser manuales o poco optimizados, lo que limita la escalabilidad y la gestión de esa lealtad que ya has construido.\nOportunidad: Puedes optimizar tus procesos digitales para que la experiencia sea fluida y refleje la excelencia de tu marca. ¿Cómo? Simplificando y automatizando tareas repetitivas. Por ejemplo, en lugar de coordinar citas por WhatsApp, usa un sistema de agenda online. O, en vez de enviar correos manuales, configura respuestas automáticas y secuencias de email para nutrir a tus prospectos. Esto te libera para dedicar más tiempo a la conexión estratégica y al valor real que ofreces.\n\n\n3. Presencia Digital: Tu Legado Espera una Nueva Visión\nAnálisis: Tu empresa es estable, pero tu presencia digital no está al nivel de tu trayectoria. Tienes canales, pero no reflejan tu verdadero valor ni te posicionan como referente. Los entregables que has recibido de otros proveedores han sido \"bonitos pero poco estratégicos\", lo que ha generado una desconexión entre tu esencia y lo que proyectas online.\nOportunidad: Es el momento de \"Reinterpretar\" y consolidar tu ecosistema digital. Un ecosistema digital significa que todos tus canales online (tu página web, redes sociales, email, publicidad) trabajan juntos y de manera coherente. Es como una orquesta donde cada instrumento toca la misma melodía: necesitas que tu mensaje, diseño y la experiencia sean los mismos en todos lados. ¿Por qué es crucial? Porque el cliente interactúa con tu marca en múltiples puntos. Si un canal dice una cosa y otro dice otra, se pierde la confianza. Una presencia digital unificada y coherente está diseñada para generar conversiones y consolidar tu liderazgo en el sector.\nReinterpretando tu Futuro: Tu Plan de Acción Vanguardista\nAhora, es el momento de \"Reinterpretar\" tu situación. No se trata de empezar de cero, sino de potenciar lo que ya tienes con una visión estratégica clara. Este es tu mini plan de acción inicial, diseñado para ti:\n1. MARKETING: Renovar tu Mensaje y Conectar con Propósito\nAcción Concreta: Desarrolla una \"Narrativa de Marca Singular\" que capture tu propósito y te diferencie claramente en el mercado. Esta historia será la base de toda tu comunicación.\nCanal Digital: Enfócate en LinkedIn y Email Marketing. Estos canales son ideales para construir autoridad, nutrir relaciones estratégicas y conectar con tu audiencia profesional.\nQué comunicar: Va más allá de las características de tus servicios. Comunica la TRANSFORMACIÓN y el IMPACTO que tu marca genera. Usa storytelling experiencial que invite a tu audiencia a ser parte de tu visión. ¿A qué nos referimos? No cuentes solo \"qué haces\", cuenta \"qué logran tus clientes\" y \"cómo se sienten\" al trabajar contigo. Usa historias reales, testimonios, casos de éxito que muestren la transformación que ofreces, no solo las funcionalidades de tus servicios. Haz que tu audiencia se imagine viviendo esa experiencia.\n2. EXPERIENCIA DEL CLIENTE (PROCESOS): Optimizar y Generar Fidelización\nAcción Concreta: Audita tu \"Viaje del Cliente Digital\" para identificar puntos de fricción. ¿Cómo hacerlo más sencillo? Imagina que eres un cliente nuevo y recorre todo el camino:\nVisita tu web: ¿Es fácil encontrar la información? ¿El formulario es corto y claro?\nEnvía un mensaje: ¿Recibes una respuesta rápida? ¿Es personalizada o genérica?\nPregunta por un servicio: ¿El proceso para obtener la información es simple?\nIntenta comprar/contratar: ¿Hay pasos innecesarios? ¿Se siente complicado? Identifica dónde el cliente podría frustrarse o abandonarte.\nCómo simplificar el proceso de compra: Implementa un embudo de ventas \"Sin Fricción\". Piensa en esto como crear un camino súper liso para tu cliente, donde cada paso es obvio y fácil. Por ejemplo:\nFormularios claros: Pide solo la información necesaria.\nSeguimientos automatizados: Envía emails de confirmación o recordatorios de forma automática.\nComunicación consistente: Asegúrate de que el mensaje de tu marca sea siempre el mismo, sin importar el canal. Todo esto ayuda a que el cliente avance de forma intuitiva, sin obstáculos, reforzando tu propuesta de valor a cada paso.\nRecursos y Nivel: Considera la implementación de un CRM (Customer Relationship Management) para centralizar y gestionar eficientemente tus clientes, permitiéndote una personalización a escala.\n3. TECNOLOGÍA (Presencia Digital): Un Ecosistema Coherente y Potente\nAcción Concreta: Evalúa tus \"Activos Digitales Actuales\" (web, redes, embudos) y determina cómo pueden ser optimizados o renovados para reflejar tu nueva narrativa y propósito.\nPropuesta de Estrategia (para sitios web): Si tienes un sitio web, este debe ser una \"Plataforma Web Avanzada\" que no solo informe, sino que guíe la experiencia del usuario, facilite la conversión y se integre con tus procesos de venta. Para ser más específico, en la primera sección de tu página (lo primero que se ve sin hacer scroll), debes dejar clarísimo qué problema resuelves a tus clientes y cómo los ayudas. No se trata de listar tus servicios, sino de hablar directamente del beneficio para ellos. Por ejemplo, en lugar de \"Ofrecemos consultoría en bienestar\", di: \"¿Te sientes abrumado por el estrés en tu empresa? Te ayudamos a transformar el bienestar corporativo para que tu equipo prospere.\"\nAcción Concreta: Implementa \"Analítica y Métricas Transparentes\" para medir el rendimiento de tus canales digitales.\nPropuesta de Estrategia: Necesitas datos que te permitan tomar decisiones estratégicas. Para simplificar, los KPIs (Key Performance Indicators) son simplemente los números clave que te indican si estás logrando tus objetivos. Por ejemplo, en lugar de solo medir las visitas a tu web, un KPI sería el porcentaje de esas visitas que se convierten en contactos. Otro podría ser el número de interacciones con tu contenido en LinkedIn. Define estos números claros que te muestren cómo tu propósito se está traduciendo en resultados medibles y un impacto real.\n\nTu Métrica de Éxito y el Camino a Seguir\nPara que sientas que tu proceso de renovación es un éxito tangible, debes enfocarte en esta métrica:\nMétrica Clave: Porcentaje de Conversión de la Página Web.\nPor qué esta métrica: Tu marca ya atrae atención. Ahora, el objetivo es que cada visita a tu sitio web se traduzca en un lead cualificado o una venta. Es la prueba de que tu mensaje está resonando y tus procesos están funcionando.\nRecuerda: Tu marca tiene un propósito transformador y un legado que construir. Nuestro rol es ayudarte a \"Reinterpretar\" esa visión en el mundo digital, logrando que tu esencia brille y tus resultados se multipliquen. Estás a punto de iniciar una nueva era para tu negocio.\nDescubre cómo reinterpretar tu futuro. Agenda una sesión estratégica de 30 minutos con un Vanguardista. No es una venta, es una oportunidad para profundizar en tu marca y diseñar un camino a medida para tu renovación.\n*\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1472,
        -176
      ],
      "id": "dd5458bc-a036-4041-a68e-1e29deb757fb",
      "name": "Redactor Estratégico",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Sanea strings que contienen JSON con errores comunes (p. ej. comillas sin escapar dentro de valores).\n// Si logra parsear → devuelve objeto/array.\n// Si no logra parsear → deja el valor original como string (seguro).\n\nfunction fixInvalidQuotes(jsonLike) {\n  const s = jsonLike;\n  const out = [];\n  let i = 0;\n  const len = s.length;\n\n  function skipSpaces(idx) {\n    while (idx < len && /\\s/.test(s[idx])) idx++;\n    return idx;\n  }\n\n  let inValueString = false;\n\n  while (i < len) {\n    const ch = s[i];\n\n    if (!inValueString) {\n      // Copiamos normal, pero si vemos \":\" seguido de comillas -> comienza un valor string\n      if (ch === ':') {\n        out.push(ch);\n        i++;\n        let j = skipSpaces(i);\n        if (j < len && s[j] === '\"') {\n          // añadimos los espacios intermedios + comilla inicial del valor\n          out.push(s.slice(i, j + 1));\n          i = j + 1; // nos colocamos después de la comilla inicial del valor\n          inValueString = true;\n          continue;\n        } else {\n          continue;\n        }\n      } else {\n        out.push(ch);\n        i++;\n        continue;\n      }\n    } else {\n      // Estamos dentro de un valor string (entre comillas después de un ':')\n      const c = s[i];\n\n      if (c === '\\\\') {\n        // Mantener escapes existentes tal cual\n        if (i + 1 < len) {\n          out.push(c, s[i + 1]);\n          i += 2;\n        } else {\n          out.push(c);\n          i++;\n        }\n        continue;\n      }\n\n      if (c === '\"') {\n        // ¿Es comilla de cierre del valor o comilla interna que rompe JSON?\n        let k = skipSpaces(i + 1);\n        const next = s[k] || '';\n        if (next === ',' || next === '}' || next === ']' ) {\n          // Cierra el valor\n          out.push('\"');\n          i++;\n          inValueString = false;\n          continue;\n        } else {\n          // Comilla interna dentro del contenido → escaparla\n          out.push('\\\\\"');\n          i++;\n          continue;\n        }\n      }\n\n      // Carácter normal dentro del valor\n      out.push(c);\n      i++;\n    }\n  }\n\n  return out.join('');\n}\n\nfunction sanitizeJsonLike(str) {\n  if (typeof str !== 'string') return str;\n  let s = str.trim();\n\n  // Si no parece JSON, no tocar\n  if (!(s.startsWith('{') || s.startsWith('['))) return str;\n\n  // Quitar BOM si existe\n  s = s.replace(/^\\uFEFF/, '');\n\n  // Intento directo\n  try { return JSON.parse(s); } catch (e) {}\n\n  // Quitar comas colgantes\n  let t = s.replace(/,\\s*([}\\]])/g, '$1');\n  try { return JSON.parse(t); } catch (e) {}\n\n  // Reparar comillas internas en valores string\n  const fixed = fixInvalidQuotes(t);\n  try { return JSON.parse(fixed); } catch (e) {}\n\n  // Último recurso: devolver string (seguro)\n  return str;\n}\n\nfunction deepSanitize(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return sanitizeJsonLike(obj);\n  if (Array.isArray(obj)) return obj.map(deepSanitize);\n  if (typeof obj === 'object') {\n    const out = {};\n    for (const [k, v] of Object.entries(obj)) {\n      out[k] = deepSanitize(v);\n    }\n    return out;\n  }\n  return obj;\n}\n\nreturn items.map(item => {\n  const clean = deepSanitize(item.json);\n  return { json: clean };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -80
      ],
      "id": "80a33151-018c-4fef-a4c4-2c92aacee29a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nreturn [\n  {\n    json: {\n      Retratar: {\n        \"Pregunta 1\": {\n          \"Pregunta\": \"¿Qué es lo que te inspira a trabajar cada día?\",\n          \"Opción A\": \"Ver a mis clientes contentos y saber que mi servicio es de confianza para ellos.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Construir un negocio estable para mi familia.\",\n          \"Puntos B\": 1,\n          \"Opción C\": \"Saber que estoy dejando una huella y generando un movimiento de cambio en mi sector.\",\n          \"Puntos C\": 3\n        },\n        \"Pregunta 2\": {\n          \"Pregunta\": \"¿Qué vendes y a qué sector te diriges?( ejemplo : servicios de consultoría para empresas, productos de bienestar,  formación presencial, etc.\",\n          \"Opción A\": \"Abierta( para el resultado. usar esta respuesta como una variable que se debe incluir en el diagnostico. para que se vea personalizado\"\n        },\n        \"Pregunta 3\": {\n          \"Pregunta\": \"¿Qué emociones quieres que tu marca transmita a tus clientes?\",\n          \"Opción A\": \"Confianza, responsabilidad y un servicio de calidad. Que la gente sepa que pueden contar conmigo.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Autenticidad, coherencia y profesionalismo. Que la gente se sienta inspirada.\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Seguridad, simplicidad y cercanía. Que mis clientes se sientan acompañados y sin frustración.\",\n          \"Puntos C\": 1\n        }\n      },\n      Descomponer: {\n        \"Pregunta 4\": {\n          \"Pregunta\": \"¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?\",\n          \"Opción A\": \"No sé cómo vender por internet. Todo es por referidos y el 'boca a boca\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Mi sitio web o embudo de ventas no está convirtiendo. Recibo visitas, pero no se traducen en clientes.\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Mis ventas dependen totalmente de mi tiempo, y siento que no puedo crecer más sin sacrificar mi vida personal.\",\n          \"Puntos C\": 1\n        },\n        \"Pregunta 5\": {\n          \"Pregunta\": \"¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?\",\n          \"Opción A\": \"Conozco a mis clientes por el trato personal, pero no tengo una estrategia definida para identificar a nuevos clientes.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Siento que me he desconectado de mi cliente ideal. Mi comunicación ya no resuena con sus necesidades.\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Sé que tengo un valor único, pero me cuesta comunicarlo y diferenciarme de la competencia.\",\n          \"Puntos C\": 3\n        },\n        \"Pregunta 6\": {\n          \"Pregunta\": \"¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?\",\n          \"Opción A\": \"La atención es muy cercana y humana, pero los procesos para vender son lentos y manuales.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Mi servicio es excelente, pero mi presencia digital no está a la altura de mi marca y me hace ver menos profesional\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Mis clientes son leales, pero el proceso de compra tiene muchos pasos. Necesito simplificar más.\",\n          \"Puntos C\": 3\n        },\n        \"Pregunta 7\": {\n          \"Pregunta\": \"¿Qué tan visible eres a nivel digital?\",\n          \"Opción A\": \"Cero. No tengo página web y mis redes sociales son una tarjeta de presentación.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"La gente me encuentra, pero no convierte. Siento que mi presencia digital es básica y no genera resultados\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Mi sitio web y redes sociales no reflejan la esencia de mi marca.\",\n          \"Puntos C\": 3\n        }\n      },\n      Reinterpretar: {\n        \"Pregunta 8\": {\n          \"Pregunta\": \"¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?\",\n          \"Opción A\": \"Quiero vender mis productos / servicios por internet sin complicaciones, para tener un ingreso extra y crecer de forma segura.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Necesito una renovación profunda que conecte la esencia de mi marca con resultados tangibles.\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Quiero que mi marca recupere su diferenciación, inspire a mi audiencia y genere resultados medibles.\",\n          \"Puntos C\": 3\n        },\n        \"Pregunta 9\": {\n          \"Pregunta\": \"¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?\",\n          \"Opción A\": \"No tengo presupuesto fijo para marketing digital, pero si veo valor y resultados, haré el esfuerzo.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"He invertido en marketing y branding antes, pero no logré los resultados esperados.\",\n          \"Puntos B\": 3,\n          \"Opción C\": \"Tengo un equipo que opera, pero sentimos que la marca perdió su frescura y dirección.\",\n          \"Puntos C\": 3\n        },\n        \"Pregunta 10\": {\n          \"Pregunta\": \"Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?\",\n          \"Opción A\": \"Lograr un flujo constante de clientes nuevos al mes, sin depender del 'boca a boca' y de forma estable para mi negocio.\",\n          \"Puntos A\": 1,\n          \"Opción B\": \"Poder tomarme unas vacaciones sin miedo a que el negocio se detenga, porque ya funciona digitalmente.\",\n          \"Puntos B\": 1,\n          \"Opción C\": \"Sentirme en control de mi negocio, sabiendo que puedo competir y atraer clientes sin la frustración que me causa la tecnología.\",\n          \"Puntos C\": 3\n        }\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -272
      ],
      "id": "785307c8-55f4-4698-aeeb-3f3ac8ccb4e2",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"User_data\" \"{{ JSON.stringify($('data').item.json.userData) }}\", \n\"Diagnostico completo\": \"{{ $json.output }}\"",
        "options": {
          "systemMessage": "=#### \\# Rol y Objetivo\n\nEres un **Sintetizador de Contenidos Estratégicos** de *Vanguardistas*. Tu especialidad es destilar la esencia de informes de diagnóstico complejos y convertirlos en resúmenes claros, potentes y de alto impacto. No eres un simple acortador de texto; eres un editor experto que sabe identificar y resaltar la información más crucial sin perder el tono, el mensaje ni la personalización.\n\nTu objetivo es recibir un informe de diagnóstico completo y personalizado en formato Markdown y generar una **versión resumida**, también en Markdown, que sea perfecta para mostrar en una landing page. Este resumen debe ser un \"aperitivo\" que demuestre valor inmediato y motive al usuario a esperar con interés el informe completo que recibirá por correo.\n\n-----\n\n#### \\# Tono y Estilo del Resumen\n\n  - **Conciso y Directo:** Usa frases cortas y potentes. Elimina cualquier texto de relleno o párrafos largos.\n  - **Altamente Escaneable:** La estructura debe ser impecable, utilizando títulos, negritas y, sobre todo, listas con viñetas (`-` o `*`) para que el usuario pueda captar las ideas principales en segundos.\n  - **Impactante y Valioso:** Aunque sea breve, debe mantener el tono empático y estratégico de Vanguardistas, haciendo que el usuario sienta que ha recibido un análisis real y valioso.\n  - **Jerárquico:** Usa la jerarquía de Markdown (`##`, `###`, `**`) para organizar la información de manera lógica y visualmente clara.\n\n-----\n\n#### \\# Proceso Lógico Detallado (Paso a Paso)\n\nAl recibir el informe completo, seguirás rigurosamente este proceso de síntesis por secciones:\n\n1.  **Título y Saludo:**\n\n      - Mantén el saludo personalizado. `¡Hola, [Nombre]!`\n      - Crea un nuevo título principal conciso. Por ejemplo: `## Tu Diagnóstico Vanguardista en Resumen`.\n\n2.  **Síntesis de la Sección \"Retratar\":**\n\n      - Lee la introducción completa.\n      - Destila la idea central en **una o dos frases máximo**. Captura la metáfora principal (ej. \"motor con el freno de mano\") y la validación empática del estado actual del negocio.\n\n3.  **Síntesis de la Sección \"Descomponer\" (Análisis):**\n\n      - Esta es la sección más importante del resumen.\n      - Crea un subtítulo como `### Los Fragmentos de Oportunidad en tu Negocio:`.\n      - Transforma los párrafos de análisis de las tres áreas en una **lista de viñetas clara y directa**. Cada viñeta debe resumir el problema central de cada área.\n      - **Ejemplo:**\n          - **Marketing:** Tu crecimiento actual depende del \"boca a boca\", lo que limita tu alcance y predictibilidad.\n          - **Experiencia del Cliente:** Tus procesos manuales, aunque cercanos, consumen tu tiempo y frenan tu capacidad para escalar.\n          - **Presencia Digital:** Tu visibilidad online es baja, lo que te impide atraer clientes de forma automática y constante.\n\n4.  **Síntesis de la Sección \"Reinterpretar\" (Plan de Acción):**\n\n      - Crea un subtítulo como `### Tus Primeros Pasos Hacia la Transformación:`.\n      - De nuevo, utiliza una **lista de viñetas**.\n      - Para cada una de las tres áreas, extrae la **\"Acción Concreta\" más importante y accionable** del informe completo. Sé muy específico.\n      - **Ejemplo:**\n          - **Marketing:** Crear un \"Gancho de Valor\" simple (como una mini-guía o descuento) para capturar contactos de forma proactiva.\n          - **Procesos:** Automatizar respuestas a preguntas frecuentes en WhatsApp Business para liberar tu tiempo.\n          - **Tecnología:** Desarrollar una \"Web Esencial\" enfocada en un único objetivo: que los clientes te contacten.\n\n5.  **Síntesis del Cierre:**\n\n      - Resume la \"Métrica de Éxito\" en una sola frase clave. Ejemplo: `**Tu Métrica Clave para empezar:** Nuevos Clientes Potenciales (Leads).`\n      - Crea un cierre final que gestione las expectativas. Debe ser una llamada a la acción clara que invite a revisar el correo electrónico.\n\n-----\n\n#### \\# Reglas y Directrices Estrictas\n\n✅ **CONSERVA LA ESTRUCTURA:** El resumen debe mantener visiblemente las secciones clave del informe original (Análisis, Plan de Acción, etc.).\n✅ **MANTÉN LA PERSONALIZACIÓN:** Usa siempre el nombre del usuario y cualquier dato personalizado que esté en el informe original. El resumen no debe sentirse genérico.\n✅ **PRIORIZA LAS LISTAS:** Usa viñetas siempre que sea posible para hacer la información digerible.\n✅ **SÉ FIEL AL MENSAJE:** No cambies el significado, el diagnóstico ni las recomendaciones. Tu trabajo es **condensar**, no reinterpretar.\n\n❌ **NO escribas párrafos largos.** Si una idea toma más de dos líneas, probablemente deba ser una viñeta.\n❌ **NO elimines la esencia empática.** Aunque sea corto, debe sonar como Vanguardistas.\n❌ **NO seas ambiguo.** Las acciones y los problemas deben ser cristalinos.\n❌ **Tu salida debe ser únicamente el resumen en Markdown.** Sin comentarios adicionales.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1824,
        -176
      ],
      "id": "2ad71b2e-75eb-4941-91ed-baf8969afcd4",
      "name": "Agente de Resumen",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_name": "Pedro",
          "user_email": "pro.pedro0413@gmail.com",
          "user_empresa": "Fluo",
          "¿Qué es lo que te inspira a trabajar cada día?": "Lo que me inspira cada día a trabajar es mi familia, mi hijo y mi esposa.,",
          "¿Qué vendes y a qué sector te diriges?": "Vengo automatizaciones para empresas.,",
          "¿Qué emociones quieres que tu marca transmita a tus clientes?": "Quiero transmitir confianza, seguridad, que no se sientan abandonados en el proceso.,",
          "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy? ": "consumen mucho tiempo,",
          "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?": "Pues los conozco un poco, quiero clientes que tengan claro lo que quieren.,",
          "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?": "Es personalizada, cada cliente requiere algo en particular para su empresa.,",
          "¿Qué tan visible eres a nivel digital?": "Un poco, necesito arreglar mi landing y hacer más trabajo de publicidad.,",
          "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?": "Quiero vender más.,",
          "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?": "herramientas y equipo,",
          "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?": "uff poder irme a las Bahamas sin preocuparme del negocio, y que todo fluya como si nada,"
        }
      }
    ],
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "Sección": "Retratar",
          "Pregunta": "¿Qué es lo que te inspira a trabajar cada día?",
          "Opción A": "Ver a mis clientes contentos y saber que mi servicio es de confianza para ellos.",
          "Puntos A": 1,
          "Opción B": "Construir un negocio estable para mi familia.",
          "Puntos B": 1,
          "Opción C": "Saber que estoy dejando una huella y generando un movimiento de cambio en mi sector.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 3,
          "Sección": "Retratar",
          "Pregunta": "¿Qué vendes y a qué sector te diriges?( ejemplo : servicios de consultoría para empresas, productos de bienestar,  formación presencial, etc.",
          "Opción A": "Abierta( para el resultado. usar esta respuesta como una variable que se debe incluir en el diagnostico. para que se vea personalizado",
          "Puntos A": "",
          "Opción B": "",
          "Puntos B": "",
          "Opción C": "",
          "Puntos C": ""
        }
      },
      {
        "json": {
          "row_number": 4,
          "Sección": "Retratar",
          "Pregunta": "¿Qué emociones quieres que tu marca transmita a tus clientes?",
          "Opción A": "Confianza, responsabilidad y un servicio de calidad. Que la gente sepa que pueden contar conmigo.",
          "Puntos A": 1,
          "Opción B": "Autenticidad, coherencia y profesionalismo. Que la gente se sienta inspirada.",
          "Puntos B": 3,
          "Opción C": "Seguridad, simplicidad y cercanía. Que mis clientes se sientan acompañados y sin frustración.",
          "Puntos C": 1
        }
      },
      {
        "json": {
          "row_number": 5,
          "Sección": "Descomponer",
          "Pregunta": "¿Cuál es el principal problema que enfrentas con respecto a tus ventas hoy?\n",
          "Opción A": "No sé cómo vender por internet. Todo es por referidos y el 'boca a boca",
          "Puntos A": 1,
          "Opción B": "Mi sitio web o embudo de ventas no está convirtiendo. Recibo visitas, pero no se traducen en clientes.",
          "Puntos B": 3,
          "Opción C": "Mis ventas dependen totalmente de mi tiempo, y siento que no puedo crecer más sin sacrificar mi vida personal.",
          "Puntos C": 1
        }
      },
      {
        "json": {
          "row_number": 6,
          "Sección": "Descomponer",
          "Pregunta": "¿Hasta qué punto conoces a profundidad a tu cliente ideal y el problema específico que tu marca/empresa resuelve para ellos?",
          "Opción A": "Conozco a mis clientes por el trato personal, pero no tengo una estrategia definida para identificar a nuevos clientes.",
          "Puntos A": 1,
          "Opción B": "Siento que me he desconectado de mi cliente ideal. Mi comunicación ya no resuena con sus necesidades.",
          "Puntos B": 3,
          "Opción C": "Sé que tengo un valor único, pero me cuesta comunicarlo y diferenciarme de la competencia.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 7,
          "Sección": "Descomponer",
          "Pregunta": "¿Cómo describirías la experiencia que tus clientes viven al interactuar con tu marca?",
          "Opción A": "La atención es muy cercana y humana, pero los procesos para vender son lentos y manuales.",
          "Puntos A": 1,
          "Opción B": "Mi servicio es excelente, pero mi presencia digital no está a la altura de mi marca y me hace ver menos profesional",
          "Puntos B": 3,
          "Opción C": "Mis clientes son leales, pero el proceso de compra tiene muchos pasos. Necesito simplificar más.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 8,
          "Sección": "Descomponer",
          "Pregunta": "¿Qué tan visible eres a nivel digital?",
          "Opción A": "Cero. No tengo página web y mis redes sociales son una tarjeta de presentación.",
          "Puntos A": 1,
          "Opción B": "La gente me encuentra, pero no convierte. Siento que mi presencia digital es básica y no genera resultados",
          "Puntos B": 3,
          "Opción C": "Mi sitio web y redes sociales no reflejan la esencia de mi marca.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 9,
          "Sección": "Reinterpretar",
          "Pregunta": "¿Qué objetivo refleja mejor lo que quieres lograr con tu marca a nivel digital?",
          "Opción A": "Quiero vender mis productos / servicios por internet sin complicaciones, para tener un ingreso extra y crecer de forma segura.",
          "Puntos A": 1,
          "Opción B": "Necesito una renovación profunda que conecte la esencia de mi marca con resultados tangibles.",
          "Puntos B": 3,
          "Opción C": "Quiero que mi marca recupere su diferenciación, inspire a mi audiencia y genere resultados medibles.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 10,
          "Sección": "Reinterpretar",
          "Pregunta": "¿Cuáles son los recursos existentes que cuentas actualmente para mejorar tu presencia digital?",
          "Opción A": "No tengo presupuesto fijo para marketing digital, pero si veo valor y resultados, haré el esfuerzo.",
          "Puntos A": 1,
          "Opción B": "He invertido en marketing y branding antes, pero no logré los resultados esperados.",
          "Puntos B": 3,
          "Opción C": "Tengo un equipo que opera, pero sentimos que la marca perdió su frescura y dirección.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 11,
          "Sección": "Reinterpretar",
          "Pregunta": "Cuando mires atrás, ¿qué te hará sentir que este proceso ha sido un éxito para tu negocio?",
          "Opción A": "Lograr un flujo constante de clientes nuevos al mes, sin depender del 'boca a boca' y de forma estable para mi negocio.",
          "Puntos A": 1,
          "Opción B": "Poder tomarme unas vacaciones sin miedo a que el negocio se detenga, porque ya funciona digitalmente.",
          "Puntos B": 1,
          "Opción C": "Sentirme en control de mi negocio, sabiendo que puedo competir y atraer clientes sin la frustración que me causa la tecnología.",
          "Puntos C": 3
        }
      },
      {
        "json": {
          "row_number": 14,
          "Sección": "Puntuación",
          "Pregunta": "",
          "Opción A": "",
          "Puntos A": "",
          "Opción B": "",
          "Puntos B": "",
          "Opción C": "",
          "Puntos C": ""
        }
      },
      {
        "json": {
          "row_number": 15,
          "Sección": "Buyer persona 1 -  Dueño de Pyme Tradicional ",
          "Pregunta": "1 punto",
          "Opción A": "Puntuación Baja (10-20 puntos): Dueño de Pyme Tradicional ",
          "Puntos A": "",
          "Opción B": "",
          "Puntos B": "",
          "Opción C": "",
          "Puntos C": ""
        }
      },
      {
        "json": {
          "row_number": 16,
          "Sección": "BUYER 2 Empresa que busca Renovación digital",
          "Pregunta": "3 puntos",
          "Opción A": "Puntuación Media-Alta (21-30 puntos): Empresa que busca Renovación digital",
          "Puntos A": "",
          "Opción B": "",
          "Puntos B": "",
          "Opción C": "",
          "Puntos C": ""
        }
      }
    ]
  },
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "createdAt": "2025-08-20T20:21:00.444Z",
      "updatedAt": "2025-08-20T20:21:00.444Z",
      "role": "workflow:owner",
      "workflowId": "kU6PQmiycPyk0PMH",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-11T21:37:46.047Z",
  "versionId": "3173a651-8a0a-49a1-a3c1-93f49ef53861"
}