Automation/2025/08/oBlrlENOyZmLWuKg.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reminder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Reminder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio diario": {
      "main": [
        [
          {
            "node": "reminder dayli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder dayli2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio semanal": {
      "main": [
        [
          {
            "node": "reminder dayli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio mensual": {
      "main": [
        [
          {
            "node": "reminder dayli2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "get_contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_contacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initData": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get_conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing15": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_conversation": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T13:40:58.866Z",
  "id": "oBlrlENOyZmLWuKg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente reminder coach",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2592,
        3552
      ],
      "id": "93e12c0f-9aef-4282-bda4-c43546866c68",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kuAijbcGhZkbdIR2",
          "name": "mony"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=MONY_chat_id_reminder_{{ $('Data').item.json.numero_whatsapp }}",
        "sessionTTL": 500000,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2720,
        3568
      ],
      "id": "d08c53a3-1208-40af-b052-7950002781bf",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "yzvE00xFtVHtaoZ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENT MAIN",
        "height": 600,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        3088
      ],
      "id": "9564f8b4-6274-4e19-9be2-5aa66fc6d9dc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## trigger Messages\n",
        "height": 588,
        "width": 1168,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        3088
      ],
      "id": "e50c769c-6148-46f0-9d57-0c4e7c62fdc6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8721a225-ddfb-44a4-bf51-b0e18ba5b767",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        3376
      ],
      "id": "85b032f4-1bbd-4b55-80bf-620497cc42e9",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "diario"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        3136
      ],
      "id": "d54f899d-2d43-4da2-8441-da455fc60b9e",
      "name": "reminder dayli",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        3136
      ],
      "id": "eb5ab9d5-9340-4eb4-9ed0-1a8c0b3642f1",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        3136
      ],
      "id": "10f035b8-d163-4150-aed8-39bcec43959a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        3136
      ],
      "id": "dc158fa7-7239-41d0-b893-b3d0a8005230",
      "name": "recordatorio diario"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=nombre: \"{{ $json.user_data.nombreCompleto.split(' ')[0] }}\",\ntrigger_type: \"{{ $json.trigger_type }}\"\nuser_data: \"{{ JSON.stringify($json.user_data) }}\",\ninforme_data: {{  JSON.stringify($json.informe_data) }}\n",
        "options": {
          "systemMessage": "=# 1. ROL Y FILOSOFÍA CENTRAL\n\n*Tu Identidad:* Eres Mony Insights, el Analista Financiero Proactivo del usuario. No eres un coach conversacional; eres un curador de información financiera.\n\n*Tu Personalidad:* Eres conciso, claro y elegante. Tu comunicación es como un resumen ejecutivo: va directo al punto, pero está presentada de una forma profesional y visualmente agradable. Eres informativo y motivacional, pero no buscas iniciar un diálogo.\n\n*Tu Filosofía Central:* Tu objetivo es transformar los datos financieros complejos que recibes en píldoras de conocimiento fáciles de digerir en menos de 30 segundos, empoderando al usuario a lo largo de su día o semana.\n\n---\n\n# 2. MISIÓN PRINCIPAL\n\nTu única misión es analizar la información proporcionada en el *User Message* (`trigger_type`, `user_data`, `informe_data`) para construir y generar un único mensaje de WhatsApp, autocontenido y de alto valor.\n\nNo usas herramientas ni buscas datos; toda la información que necesitas te es proporcionada.\n\n---\n\n# 3. ANÁLISIS DEL CONTEXTO DE ENTRADA\n\nEn el *User Message* recibirás tres piezas de información clave que debes interpretar:\n\n- *trigger_type:* Esta cadena de texto define tu tarea. Identifica si es un recordatorio o un informe y su frecuencia.\n- *user_data:* Un objeto con los datos del usuario. Extrae su primer nombre para personalizar el saludo.\n- *informe_data:* Un objeto JSON rico en datos, disponible solo cuando el `trigger_type` es de tipo informe. Este es tu material de trabajo principal para construir los reportes.\n\n---\n\n## 4. LÓGICA DE PROCESAMIENTO Y CONSTRUCCIÓN DE MENSAJES\n\nTu única tarea es identificar el **trigger_type** y usar las siguientes directrices para construir una respuesta inteligente y dinámica.\n\n\n### 🔔 Caso: `trigger_type = recordatorio`\n\n**Directriz Clave:**  \nPara evitar la monotonía, debes variar estos mensajes. Elige una de las opciones de la lista correspondiente a la frecuencia cada vez que envíes un recordatorio.  \nNo envíes el mismo mensaje dos veces seguidas.\n\n\n#### 📆 Frecuencia: Diario\n(Elige **una opción** cada vez)\n\n1. **Enfocado en Metas**  \n   > ¡Hola, [nombre]! ☀️ Un pequeño paso hoy es un gran salto para tus metas mañana.  \n   > ¡No olvides registrar tus gastos de hoy! 💪  \n\n2. **Enfocado en Hábitos**  \n   > ¡Hola, [nombre]! ☕️ La claridad financiera es un hábito.  \n   > Dedica 30 segundos a registrar tus movimientos de hoy. ¡Tú tienes el control!  \n\n3. **Rápido y Directo**  \n   > ¡Hola, [nombre]! 📝 Un recordatorio rápido para mantener tus finanzas al día.  \n   > ¿Hubo algún gasto hoy? ¡Regístralo ahora!  \n\n\n#### 📆 Frecuencia: Semanal\n(Elige **una opción** cada vez)\n\n1. **Reflexivo**  \n   > ¡Hola, [nombre]! ✨ Fin de la semana, momento de claridad.  \n   > Tómate 5 minutos para revisar y registrar los gastos pendientes.  \n   > ¡Un pequeño resumen hoy te dará una gran ventaja mañana!  \n\n2. **Enfocado en Progreso**  \n   > ¡Hola, [nombre]! 🚀 ¿Listo para cerrar la semana con fuerza?  \n   > Asegurémonos de que cada gasto esté en su lugar para que tus reportes sean precisos.  \n   > ¡Vamos a ello!  \n\n3. **Simple y Amable**  \n   > ¡Hola, [nombre]! ☕️ Un café y 5 minutos es todo lo que necesitas para poner en orden tus finanzas de la semana.  \n   > ¡Tu futuro yo te lo agradecerá!  \n\n---\n\n## Si el `trigger_type` es de tipo *informe*:\n\nEstos son tus *\"Reportes de Valor\"*. Debes analizar el contenido de `informe_data` y construir el mensaje dinámicamente.\n\n👉 *Si una sección no tiene datos relevantes (ej. no hay ingresos, no hay metas), omítela* para mantener el mensaje conciso y valioso.\n\n### Directrices para *informe-diario*:\n\n* Crea un encabezado claro con la fecha actual.\n* Muestra el total de gastos del día.\n* Si hay transacciones en `informe_data.detalle_transacciones.gastos`, lista las dos más significativas. Si solo hay una, muestra solo esa.\n* Termina con un tip genérico y motivador.\n\n*Ejemplo de Salida:*\n\nResumen del Día ☀️ - 25 de Agosto  \n\n¡Hola, [nombre]! Así se movió tu dinero hoy:  \n• Gastos Totales: $[total_gastos]  \n• Transacciones Clave:  \n[descripcion_gasto_1] ($[monto_gasto_1])  \n\n💡 Tip del Día: Revisa si el gasto de hoy podría convertirse en un hábito. ¡Ser consciente es el primer paso!\n\n---\n\n### Directrices para *informe-semanal, informe-mensual, informe-trimestral*:\n\n- *Encabezado:* Menciona la frecuencia del informe.\n- *PANORAMA GENERAL:* Muestra ingresos, gastos y balance. Si los ingresos son cero, omite ingresos y balance para enfocarte solo en gastos.\n- *ANÁLISIS DE GASTOS:* Analiza `top_categorias_gasto`. Muestra hasta las 3 principales. Si solo hay 1 o 2, muestra esas.\n- *INSIGHT DEL COACH:*\n\n  * Si ingresos > gastos → insight positivo.\n  * Si gastos > ingresos → insight constructivo destacando la categoría principal.\n- *PROGRESO DE METAS:* Analiza `detalle_metas_ahorro_activas`. Si no está vacío, muestra el progreso de la meta principal. Si está vacío, omite toda la sección.\n- *Cierre:* Frase motivacional.\n\n*Ejemplo de Salida:*\n\n\nTu Informe Financiero Semanal 📊  \n\n¡Hola, [nombre]! Aquí tienes la historia que contaron tus números durante la última semana:  \n\nPANORAMA GENERAL  \n🟢 Ingresos: $[total_ingresos]  \n🔴 Gastos: $[total_gastos]  \n💰 Balance: $[saldo_actual]  \n\nANÁLISIS DE GASTOS 🔍  \nTu dinero se concentró principalmente en:  \n🥇 [categoria_1]: $[monto_1]  \n🥈 [categoria_2]: $[monto_2]  \n\n💡 INSIGHT DEL COACH  \n¡Excelente trabajo! Tus ingresos superaron tus gastos, lo que te permitió ahorrar $[saldo_actual]. Este es el camino para alcanzar tus metas más rápido.  \n\nPROGRESO DE METAS 🎯  \n¡No perdamos de vista tus sueños!  \n• [nombre_meta_1]: Has avanzado un [porcentaje]% del total. ¡Sigue así!  \n\nQue tengas una semana financieramente consciente. ✨\n\n\n---\n\n# 5. REGLAS DE ORO DE LA COMUNICACIÓN PROACTIVA\n\n- *CERO CONVERSACIÓN:* Tus mensajes son informativos y finales. Nunca termines con una pregunta que invite a una respuesta.\n- *LA BELLEZA ESTÁ EN EL FORMATO:* Usa negritas, cursivas, emojis y separadores (`---`) para una jerarquía visual clara y mensajes escaneables.\n- *SIEMPRE BASADO EN DATOS:* Construye tu mensaje exclusivamente con la información que recibes en el `User Message`. No inventes ni supongas nada.\n- *PERSONALIZACIÓN ES CLAVE:* Usa siempre el nombre del usuario para que el mensaje se sienta personal y directo.\n- *INTELIGENCIA DINÁMICA:* No rellenes plantillas ciegamente. Analiza los datos de `informe_data` y omite secciones irrelevantes para entregar un reporte más limpio y valioso."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2608,
        3376
      ],
      "id": "3f578824-65b8-4edc-b883-e6599c305532",
      "name": "Reminder",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "semanal"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        3328
      ],
      "id": "abfc2177-fde9-4546-a15e-50719ab2a1a8",
      "name": "reminder dayli1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        3328
      ],
      "id": "4204d162-50aa-4c9d-a636-85faeb888d93",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        3328
      ],
      "id": "2c7502e4-2494-4986-8f61-f660a26abc4c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "https://api.mony.whitelabel.lat/api/v1/notifications/users-by-preferences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "frecuencia",
              "value": "mensual"
            },
            {
              "name": "tipo",
              "value": "recordatorio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        3520
      ],
      "id": "54a20ae7-d9f1-483f-8b1d-751a72885737",
      "name": "reminder dayli2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VvugYsKO6X1LCmbE",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26d69594-17aa-4180-80c9-5273d91dfd42",
              "name": "trigger_type",
              "value": "={{ $json.tipo }} - {{ $json.frecuencia }}",
              "type": "string"
            },
            {
              "id": "83c0cfb1-c7c8-4626-bbcb-77f10068a1a5",
              "name": "user_data",
              "value": "={{ $json.usuarios.usuario }}",
              "type": "object"
            },
            {
              "id": "298b3066-04ee-4a3a-b2a3-72d8ded98bf5",
              "name": "informe_data",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        3520
      ],
      "id": "1e7da0f2-ea59-4751-b003-2775a1449f31",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usuarios",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tipo, frecuencia",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        3520
      ],
      "id": "9bb6f549-c2da-4017-95c3-7de0219468c0",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        3328
      ],
      "id": "0f5188ed-2f29-4816-8520-1520bf308fed",
      "name": "recordatorio semanal"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        3520
      ],
      "id": "f4c16239-ec8b-4a8b-b22e-432a15dd8927",
      "name": "recordatorio mensual"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2416,
        3360
      ],
      "id": "5dfe1b7b-4d53-41e8-ac4c-38a20f2193da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte2) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4544,
        3152
      ],
      "id": "05e3ad9c-e574-489e-89c5-fe4721378c13",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte3) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4144,
        3328
      ],
      "id": "c1c6427c-4fb1-4ad2-8809-bb469ae6ca68",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte1) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        3168
      ],
      "id": "e4b0350c-c660-401c-b89e-def614ef4e92",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4112,
        3168
      ],
      "id": "86ac4636-29b1-4ec3-8f0c-dac33a0b7efe",
      "name": "Wait14",
      "webhookId": "421fa124-d19b-4b79-99dc-a3a3b6a82453"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3696,
        3344
      ],
      "id": "53543ff8-79d5-4a6b-9532-7735fce55a6f",
      "name": "Wait15",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte3}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        3344
      ],
      "id": "bd1f5d27-21ca-46aa-a83c-70b559668b9b",
      "name": "If15"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4336,
        3376
      ],
      "id": "52254905-5a63-4808-a996-727119b44149",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "709f4717-003f-4f9f-b841-18d2f2f4ddb4",
              "leftValue": "={{ $json.message.content.parte2}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        3168
      ],
      "id": "6ccf6894-89b7-4038-9c42-9081a3ac757c",
      "name": "If16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4752,
        3184
      ],
      "id": "bef84aa1-f5cf-4783-9a28-be10529e49c3",
      "name": "No Operation, do nothing14"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3696,
        3568
      ],
      "id": "eaa223b2-f3dc-449c-abf2-f4191160ea51",
      "name": "Wait16",
      "webhookId": "ab691256-a33d-4e5e-b5d8-8cccd92a0134"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b98c759-b4b7-4353-a5e4-d2ff1c030744",
              "leftValue": "={{ $json.message.content.parte4}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        3568
      ],
      "id": "13b6e2e3-7659-4345-97cb-f9fd031aed5a",
      "name": "If17"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4336,
        3568
      ],
      "id": "c7171c03-cd64-4bd9-a4b7-1ba7c68a09a9",
      "name": "No Operation, do nothing15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/{{ $('initData').item.json.metadata.account_id }}/conversations/{{ $('initData').item.json.metadata.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.message.content.parte4) }},\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        3552
      ],
      "id": "9bbac229-044b-4517-bd08-d0c431481843",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AvCyIF7yhNyF4QRt",
          "name": "mony Hablaya"
        }
      }
    },
    {
      "parameters": {
        "content": "## RESPONS AGENT",
        "height": 600,
        "width": 1720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        3088
      ],
      "id": "75b5a377-196d-4b9f-80e6-93e7cb05a1f9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nDivide el siguiente mensaje en hasta *4 partes más pequeñas* solo si es necesario, asegurándote de que cada parte tenga sentido completo.\n\n### *Reglas:*\n\n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en *una sola parte*.\n\n- Si es *mediano* (hasta *400 caracteres*), divídelo en *2 partes*.\n\n- Si es *largo* (hasta *600 caracteres*), divídelo en *3 partes*.\n\n- Si es *muy largo* (más de *600 caracteres*), agrégale una *parte4*.\n\n- *Evita dividir el mensaje innecesariamente*. Usa la *menor cantidad de partes posible*.\n\n- *No cortes oraciones en puntos, comas o conectores* para mantener la coherencia.\n\n- *Si hay una lista con varios ítems, no se debe dividir*, toda la lista debe ir en un mismo mensaje.\n\n- *No incluyas datos sensibles del usuario* en la respuesta, como:\n\n  - `user_id: <número>`\n  - `subscriber_id: <número>`\n  - `first_name: <nombre>`\n  - *Elimina estos datos sin dejar rastros.*\n\n- *Si no hay mensaje, no devuelvas nada.*\n\n---\n\n### *Formato de Salida:*\n\n- Devuelve la respuesta en *formato JSON* con *solo las partes necesarias*.\n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.\n- *Nunca uses comillas `\"` para resaltar palabras*. En su lugar, usa un solo asterisco: *palabra*.\n\n#### *Ejemplo de salida:*\n\n{\n\"parte1\": \"Texto de la primera parte.\",\n\"parte2\": \"Texto de la segunda parte.\"\n}\n\n### *Mensaje:*\n\n\"{{ $json.output }}\"\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3344,
        3168
      ],
      "id": "985b0070-54d1-4ed8-9482-f288c2cca54a",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "pwlG2h4GySrxyfFD",
          "name": "Mony"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $json.user_data.numeroWhatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $json.user_data }}",
              "type": "object"
            },
            {
              "id": "9dca5b25-b6a7-411c-b0dd-c1bad8e70181",
              "name": "informe_data",
              "value": "={{ $json.informe_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        3328
      ],
      "id": "a725f6e1-693e-469d-894f-880c41e30139",
      "name": "Data"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/search?q={{ $json.numero_whatsapp }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"api_access_token\": \"uuWT9PNsY83ucax7HeqBEUSi\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        3152
      ],
      "id": "500253e3-7d76-431d-bd99-770b5512e929",
      "name": "get_contacts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1878dfd8-93d8-424e-adad-eb001b303f7b",
              "name": "trigger_type",
              "value": "={{ $('Data').item.json.trigger_type }}",
              "type": "string"
            },
            {
              "id": "ee72c582-17c1-4ca0-84ba-dde0d82420d7",
              "name": "numero_whatsapp",
              "value": "={{ $('Data').item.json.user_data.numeroWhatsapp }}",
              "type": "string"
            },
            {
              "id": "424bdb40-efa1-49dc-9473-792a53521435",
              "name": "user_data",
              "value": "={{ $('Data').item.json.user_data }}",
              "type": "object"
            },
            {
              "id": "82200ec5-1a42-47fb-88a4-436694c898de",
              "name": "informe_data",
              "value": "={{ $('Data').item.json.informe_data }}",
              "type": "object"
            },
            {
              "id": "5ee0da44-2f91-4b7d-956a-2fdb75239a38",
              "name": "metadata",
              "value": "={\"account_id\": \"3\", \"conversation_id\": \"{{ $json.payload[0].messages[0].conversation_id }}\"}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2224,
        3360
      ],
      "id": "0c569c83-7b04-4fdf-b9a1-715ad3ccd311",
      "name": "initData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e99e1372-baa1-4de4-b6d6-7125385a1136",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        3152
      ],
      "id": "c6d25441-87e8-4dfd-ac59-e1f175616c56",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://crm.whitelabel.lat/api/v1/accounts/3/contacts/{{ $json.payload[0].id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"api_access_token\": \"uuWT9PNsY83ucax7HeqBEUSi\"}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        3136
      ],
      "id": "6e63545e-530c-4bd6-8b28-db082c1b4da4",
      "name": "get_conversation"
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7CI8d1lC1EC1eqnL"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T13:40:58.866Z",
      "updatedAt": "2025-08-25T13:40:58.866Z",
      "role": "workflow:owner",
      "workflowId": "oBlrlENOyZmLWuKg",
      "projectId": "jOPTDk8NtR0eZIqG"
    }
  ],
  "staticData": {
    "node:resumen-financiero-hoy": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible": {
      "recurrenceRules": []
    },
    "node:resumen_semanal": {
      "recurrenceRules": []
    },
    "node:resumen_mensual": {
      "recurrenceRules": []
    },
    "node:resumen_trimestral": {
      "recurrenceRules": []
    },
    "node:alerta_presupuesto": {
      "recurrenceRules": []
    },
    "node:meta_en_riesgo": {
      "recurrenceRules": []
    },
    "node:recordatorio_suscripcion": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible1": {
      "recurrenceRules": []
    },
    "node:anuncio_disponible2": {
      "recurrenceRules": []
    },
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-25T15:38:52Z"
    },
    "node:recordatorio diario": {
      "recurrenceRules": []
    },
    "node:recordatorio semanal": {
      "recurrenceRules": []
    },
    "node:recordatorio mensual": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-09-01T22:26:21.079Z",
  "versionId": "ceeb4cc1-f919-4b7a-950d-cc9acd06232e"
}