Automation/2025/10/iOqrbjzccCOcVj7p.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "initData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataImage": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataPdf": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Push Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type message Whatsap": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataText": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "DataText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataAudio": {
      "main": [
        [
          {
            "node": "setData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Unir Mensajes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Message1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Mensajes1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatwootData": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatwoot": {
      "main": [
        [
          {
            "node": "env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initData": {
      "main": [
        [
          {
            "node": "type message Whatsap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setData": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "DataImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "DataPdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env": {
      "main": [
        [
          {
            "node": "ChatwootData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "DataAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Personalizacion de Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalizacion de Agente": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in NocoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent with Langfuse",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T14:08:03.570Z",
  "id": "iOqrbjzccCOcVj7p",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Onbording  acondionando",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abaa9de2-4388-46df-9440-7c458be2669a",
              "leftValue": "={{ $json.receptor }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b50ffbe-a3c8-4299-b6f3-86f9f79de33b",
              "leftValue": "={{ $json.tags }}",
              "rightValue": "=apagar-agente",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        256
      ],
      "id": "d7ab39ea-216c-454a-95b5-ecaf5a79cd7a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -608,
        416
      ],
      "id": "e8b86c09-b897-4ec2-aa13-e96e684b6d89",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<img>{{ $json.content.parts[0].text }}</img>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        448
      ],
      "id": "08c1f131-f22f-41b2-91c4-3f5f4102f5cd",
      "name": "DataImage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<pdf>{{ $json.content.parts[0].text }}</pdf>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        288
      ],
      "id": "4d749ab5-dde9-40a6-bb6a-b5ec2e5ef09c",
      "name": "DataPdf"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "nombre",
              "value": "={{ $json.nombre }}"
            },
            {
              "key": "phone_number",
              "value": "={{ $json.phone_number }}"
            },
            {
              "key": "tipo_mensaje",
              "value": "={{ $json.tipo_mensaje }}"
            },
            {
              "key": "mensaje",
              "value": "={{ $json.mensaje }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        496,
        240
      ],
      "id": "f623c2a8-574f-48b6-8ec5-9a199ca5f9ce",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38cdad62-0d9c-45bc-860e-9e03d107ba58"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82df4052-c480-44a2-9d09-c195d4bc6879",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9c1a8cf-af4e-4bca-a66c-184829c009d8",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "=file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71778507-22f2-4e0f-99d7-fdd87ed1f26b",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        208
      ],
      "id": "87eee86f-8d2d-413d-9e47-091e3d455b87",
      "name": "type message Whatsap"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "={{ $('initData').item.json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        128
      ],
      "id": "6d743b8e-f8f1-4544-8168-c9f4e56c4976",
      "name": "DataText"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -176,
        128
      ],
      "id": "ec453b92-2a2c-4f5a-bbb5-e34ba8a4e453",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "=<audio>{{ $json.content.parts[0].text }}</audio>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -64
      ],
      "id": "06e7ee8f-b0da-424a-b292-e2836408b0dc",
      "name": "DataAudio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1616,
        336
      ],
      "id": "c5a55f02-54ff-4561-bd97-1998857911b9",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7fe6665-ef0d-4ec2-9800-88004951e528",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('setData').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        240
      ],
      "id": "cf57835a-8b8d-4846-b95f-db61eb223a20",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        240
      ],
      "id": "08e56689-f460-4829-8a33-014298414a02",
      "name": "Wait1",
      "webhookId": "c42fd9d6-416c-4950-8662-76e241fbd897"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=chat_id_{{ $json.phone_number }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "8897fbed-5e6c-448b-bf08-18f82b62611d",
      "name": "Push Message1",
      "credentials": {
        "redis": {
          "id": "aOZFOdM8yzoYuvTr",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b89d5418-df60-419b-84f6-5bc7bc0dd09b",
              "name": "message",
              "value": "={{ $('Redis2').item.json.message.join('\\n').replace(/test/gi, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        144
      ],
      "id": "d4ad3e26-dee4-4295-8ce5-a2de31025350",
      "name": "Unir Mensajes1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f69a465-0cc7-43dd-97d7-aaee90bacbe3",
              "name": "nombre",
              "value": "={{ $('chatwoot').item.json.body.conversation.meta.sender.name.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "82031891-32ae-4442-b883-fad57ad08c79",
              "name": "phone_number",
              "value": "={{ $('chatwoot').item.json.body.conversation.messages[0].sender.phone_number.replace('+','') }}",
              "type": "string"
            },
            {
              "id": "8c4da55a-b196-497b-a9ef-c0ce734b8847",
              "name": "mensaje",
              "value": "={{ $('chatwoot').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "01193a9d-40ea-48b1-96f1-592105684644",
              "name": "tipo_mensaje",
              "value": "={{ $('chatwoot').item.json.body.attachments?.[0]?.file_type || $('chatwoot').item.json.body.conversation.messages?.[0]?.content_type }}",
              "type": "string"
            },
            {
              "id": "c6b5261d-a252-4328-af15-9699dfc5ba2b",
              "name": "receptor",
              "value": "={{ $('chatwoot').item.json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "8a4d2988-720e-46c1-9927-90f62d5ddd72",
              "name": "tags",
              "value": "={{ $('chatwoot').item.json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "2189dde7-a49e-4226-be25-22f3e62caf99",
              "name": "conversation_id",
              "value": "={{ $('chatwoot').item.json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "c8242d40-84d3-4c64-adcc-d15b8de57a9a",
              "name": "account_id",
              "value": "={{ $('chatwoot').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "aad140bb-399a-46df-b78b-98aa0a9fd6e8",
              "name": "data_url",
              "value": "={{ $('chatwoot').item.json.body.attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "7d6c4435-2ae7-4716-a211-c8d9898dcd48",
              "name": "api_access_token",
              "value": "={{ $json.api_access_token }}",
              "type": "string"
            },
            {
              "id": "0d13abaf-bcd9-4d8f-b8bb-511b45ee9909",
              "name": "body.conversation.messages[0].inbox_id",
              "value": "={{ $('chatwoot').item.json.body.conversation.messages[0].inbox_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        256
      ],
      "id": "8b601064-37c8-47e5-be1c-8af27f582899",
      "name": "ChatwootData"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test_chatwood_onboarding_estarter",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1392,
        256
      ],
      "id": "19a15f02-ae75-4f84-a4f6-0c20f39fefc3",
      "name": "chatwoot",
      "webhookId": "e5c97b17-19ee-406e-9dcf-3cdcde1945ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5276d674-1b57-4af7-88f3-5f9616e64cc3",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "92d97526-26b7-461c-b7ec-7cd13074512e",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "0605a012-1740-4b13-8e7f-57e156ad2fbe",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "5060779d-87fc-49af-9212-c7972aae9ff0",
              "name": "tipo_mensaje",
              "value": "={{ $json.tipo_mensaje }}",
              "type": "string"
            },
            {
              "id": "358f4697-0d6f-4184-bfbd-31ff4f2e2ac2",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "string"
            },
            {
              "id": "d7bd017f-435b-4c5c-89ba-77b2bdd3d56d",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "5df9085c-2dab-4895-87b6-26f1a70b74c6",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "3b0ab472-eb47-486f-87b8-92fe29a4f764",
              "name": "data_url",
              "value": "={{ $json.data_url }}",
              "type": "string"
            },
            {
              "id": "6843c5fe-3e47-4cfc-9076-dc347074cfba",
              "name": "api_access_token",
              "value": "={{ $('ChatwootData').item.json.api_access_token }}",
              "type": "string"
            },
            {
              "id": "ed3cd62e-2096-4e8e-a455-f7fcadba5130",
              "name": "body.conversation.messages[0].inbox_id",
              "value": "={{ $('ChatwootData').item.json.body.conversation.messages[0].inbox_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        240
      ],
      "id": "a1091076-cb39-4da9-9cff-5707417ec266",
      "name": "initData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4f107ad-f4e3-4616-a1ec-515f7324ba23",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "6f55c6f4-4cb3-4cec-9d31-b956d3fffde0",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "bad14eb8-f005-4d91-bd83-600e6105d974",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "bfd537e2-84c2-4c0b-a01d-7057001c5bd9",
              "name": "Inbox_id",
              "value": "={{ $('ChatwootData').item.json.body.conversation.messages[0].inbox_id }}",
              "type": "number"
            },
            {
              "id": "2f922806-ddf5-48e4-9a34-53ca59af3494",
              "name": "client_id",
              "value": "={{ $('ChatwootData').item.json.account_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        240
      ],
      "id": "626b3c4f-05dd-4af1-98bd-101f720c722c",
      "name": "setData"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Eres un asistente experto en análisis visual y documental. \nTu tarea es:\n\n1. Revisar la imagen que recibas (puede contener texto en cualquier idioma). \n2. Transcribir en español todo el texto que aparezca en la imagen (si ya está en español, mantenlo igual).  \n3. Generar una breve descripción (3–5 líneas) que resuma el contenido principal o el propósito de la imagen.  \n\nNo incluyas notas adicionales ni explicaciones, entrega únicamente la transcripción en español y la breve descripción solicitada.\n",
        "imageUrls": "={{ $json.data_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        544
      ],
      "id": "fa2c2686-555c-4f92-a861-8a81b87fd356",
      "name": "Analyze image1",
      "credentials": {
        "googlePalmApi": {
          "id": "XIMrvFKKXQQFKrhj",
          "name": "LLantas n´ Tires"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-pro-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-pro-latest"
        },
        "text": "Eres un asistente experto en análisis documental. \nTu tarea es:\n\n1. Revisar el documento que recibas (puede estar en cualquier idioma).\n2. Transcribir el contenido completo en español (si ya está en español, mantenlo igual).\n3. Generar una breve descripción (3–5 líneas) que resuma el propósito y contenido principal del documento.\n\nNo incluyas notas adicionales ni explicaciones, entrega únicamente la transcripción en español y la breve descripción solicitada.",
        "documentUrls": "={{ $json.data_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        320
      ],
      "id": "5c81fd03-a21c-4ec0-b6a5-f12abe39b5d7",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "XIMrvFKKXQQFKrhj",
          "name": "LLantas n´ Tires"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat_id_{{ $('setData').item.json.phone_number }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1792,
        -32
      ],
      "id": "e3f9a273-1d77-46e9-a5d3-170b15368513",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "aOZFOdM8yzoYuvTr",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "=chat_id_{{ $json.phone_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        240
      ],
      "id": "a1a9bb22-f159-41b2-8df3-6955c20131c6",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "aOZFOdM8yzoYuvTr",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d6c4435-2ae7-4716-a211-c8d9898dcd48",
              "name": "api_access_token",
              "value": "Z77edxokEbMJdTe1UgtfNr34",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        256
      ],
      "id": "7a7ade36-d9df-4d9f-847a-1d0af5586efb",
      "name": "env"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "audioUrls": "={{ $json.data_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        -64
      ],
      "id": "bf173587-10aa-4e08-8ea2-05fe128862f5",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "XIMrvFKKXQQFKrhj",
          "name": "LLantas n´ Tires"
        }
      }
    },
    {
      "parameters": {
        "content": "# Onboarding Acondicionando",
        "height": 800,
        "width": 3440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        -80
      ],
      "typeVersion": 1,
      "id": "b5efa737-faae-40ec-9aa8-6489d45d9f31",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Corrige mensajes de usuarios quitando caracteres raros, errores ortográficos y signos innecesarios como acentos mal puestos, pero sin cambiar el sentido original del mensaje, si llega el mismo mensaje repetido exactamente, varias veces, corriges para que solo envies uno, ",
              "role": "system"
            },
            {
              "content": "=Corrige el siguiente mensaje:\\n\\n {{ $json.message }}\n\\n\\nDevuelve solo el mensaje corregido"
            }
          ]
        },
        "options": {
          "maxTokens": 200,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2192,
        -32
      ],
      "id": "ac8a7e57-781a-44e2-978f-fd3cc6eaae27",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "LAwCImTGAtZQGBhp",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b89d5418-df60-419b-84f6-5bc7bc0dd09b",
              "name": "message",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "f312aa42-4354-4954-92ff-9549a49c1d5b",
              "name": "user_id",
              "value": "={{ $('setData').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "4e6ed31c-2d8f-4415-bdaf-404a870f1cc2",
              "name": "first_name",
              "value": "={{ $('setData').item.json.nombre.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "75372881-4219-4c13-bb9a-615314982292",
              "name": "name",
              "value": "={{ $('initData').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "9b51ce59-b4c4-434d-baac-793706d93483",
              "name": "WhatsApp",
              "value": "={{ $('initData').item.json.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        -32
      ],
      "id": "4ab87cfb-0bc8-44db-b169-e09665ae4996",
      "name": "Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12c7a801-4ed8-4955-b1fe-06855956424d",
              "name": "user_id",
              "value": "={{ $('Data').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "f311cb58-a0a2-4e34-bdd6-42c2a4df8b52",
              "name": "first_name",
              "value": "={{ $('Data').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "09e31c5b-cc4a-47f3-b290-84d2199f042b",
              "name": "name",
              "value": "={{ $('Data').item.json.name }}",
              "type": "string"
            },
            {
              "id": "6549b826-8a41-4dbf-879f-10463d115265",
              "name": "WhatsApp",
              "value": "={{ $('Data').item.json.WhatsApp }}",
              "type": "string"
            },
            {
              "id": "59b192c0-4470-4334-b3e0-105d4f9c46e8",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "ae18ba3e-84a8-43ec-8b61-4abcc228d7ab",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "b9c722be-ad45-4685-9031-4a019f6b2747",
              "name": "ID whastapp",
              "value": "={{ $json['Numero de whastapp que vas a usar para tu asistente'] }}",
              "type": "number"
            },
            {
              "id": "e43b714c-d5a1-48a8-a06e-1691d8dfd7f5",
              "name": "Nombre del Asistente",
              "value": "={{ $json['Nombre que tendrá tu asistente IA:'] }}",
              "type": "string"
            },
            {
              "id": "8089fcec-621c-4454-9c2b-3f8063767818",
              "name": "Nombre de tu empresa:",
              "value": "={{ $json['Nombre de tu empresa o marca:'] }}",
              "type": "string"
            },
            {
              "id": "4c8a7667-9ac3-4506-af35-06ce98cd444e",
              "name": "¿a que se dedica la empresa?",
              "value": "={{ $json['¿a que se dedica tu empresa?'] }}",
              "type": "string"
            },
            {
              "id": "c4ade1f6-274e-439d-a9c1-6a43c6f3c351",
              "name": "Objetivo principal del agente :",
              "value": "={{ $json['El objetivo principal de tu agente IA sera:'] }}",
              "type": "string"
            },
            {
              "id": "4c5514b5-3000-463e-bbd6-8191eb5dcf1d",
              "name": "tipo de reuniones agendará el agente",
              "value": "={{ $json['  ¿Qué tipo de reuniones desea agendar tu agente?  '] }}",
              "type": "string"
            },
            {
              "id": "03aef901-3c82-4367-8507-77ef391f5017",
              "name": "Rol que debe cumplir el agente",
              "value": "={{ $json['Rol que debe cumplir el agente'] }}",
              "type": "string"
            },
            {
              "id": "1269f201-bd6b-477d-9c1f-cf05da780c7a",
              "name": "¿Qué tono debe tener tu agente al interactuar con los clientes?  ",
              "value": "={{ $json['¿Qué tono debe tener tu agente de IA al interactuar con los clientes?  '] }}",
              "type": "string"
            },
            {
              "id": "8d0b4259-0d08-4c8f-abe0-1f8c19dcc848",
              "name": "  ¿Cuál es el primer criterio que tienes en cuenta  para aceptar un prospecto?  ",
              "value": "={{ $json['  ¿Cuál es el primer criterio que tienes en cuenta  para aceptar un prospecto?  '] }}",
              "type": "string"
            },
            {
              "id": "f41309ba-a5d0-4990-8b06-cfc062c39ae7",
              "name": "¿Cuál es el segundo criterio que tienes en cuenta  para aceptar un prospecto?  ",
              "value": "={{ $json['¿Cuál es el segundo criterio que tienes en cuenta  para aceptar un prospecto?  '] }}",
              "type": "string"
            },
            {
              "id": "51126861-d924-4df1-9029-6f95eb98be13",
              "name": "¿Cuál es el Tercer criterio que tienes en cuenta  para aceptar un prospecto?  ",
              "value": "={{ $json['¿Cuál es el Tercer criterio que tienes en cuenta  para aceptar un prospecto?  '] }}",
              "type": "string"
            },
            {
              "id": "97870856-9f96-4dc3-a21c-a1e5dc94889f",
              "name": "¿Cuál es el cuarto criterio que tienes en cuenta  para aceptar un prospecto?  ",
              "value": "={{ $json['¿Cuál es el cuarto criterio que tienes en cuenta  para aceptar un prospecto?  '] }}",
              "type": "string"
            },
            {
              "id": "0a2b0cbe-0dae-4da6-9a45-03913a4d9bf1",
              "name": "Quinto criterio que tienes en cuenta  para aceptar un prospecto?  ",
              "value": "={{ $json['Quinto criterio que tienes en cuenta  para aceptar un prospecto?  '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        -32
      ],
      "id": "42b1ea2d-a4e3-472e-99e3-4581472b6e5c",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObgWNW-K89NU7WPWoOnPxBaQ_Aj2CBaio7iigAELKyY",
          "mode": "list",
          "cachedResultName": "PERSONALIZACION DE ASISTENTE IA (Respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObgWNW-K89NU7WPWoOnPxBaQ_Aj2CBaio7iigAELKyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428712773,
          "mode": "list",
          "cachedResultName": "PERSONALIZACION DE ASISTENTE IA (Respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObgWNW-K89NU7WPWoOnPxBaQ_Aj2CBaio7iigAELKyY/edit#gid=428712773"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Numero de whastapp que vas a usar para tu asistente",
              "lookupValue": "=573150759897"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2720,
        -32
      ],
      "id": "0b220c70-e845-48e1-89d1-1c564b5577ec",
      "name": "Personalizacion de Agente",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx6GDFFVZXuzpXAL",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptName": "Acondicionando ",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        3312,
        -32
      ],
      "id": "856873db-057f-477d-9f22-dad6daf56938",
      "name": "Get a prompt",
      "credentials": {
        "langfuseApi": {
          "id": "ueBoibsz0D9LIqGe",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "mensaje del Usuario:\nNombre del Usuario: \nWhastapp:\n\n",
        "langfuseMetadata": {},
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "n8n-nodes-ai-agent-langfuse.agentWithLangfuse",
      "typeVersion": 2,
      "position": [
        3504,
        -32
      ],
      "id": "bf6ecd62-7b59-45fa-ba5d-c786160ad046",
      "name": "AI Agent with Langfuse",
      "credentials": {
        "langfuseApi": {
          "id": "iBaUfiTOCXCanQdR",
          "name": "Llantas n´Tires"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3408,
        192
      ],
      "id": "3ed28222-d956-483c-8cd0-75b8d9bccce5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XIMrvFKKXQQFKrhj",
          "name": "LLantas n´ Tires"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        3744,
        176
      ],
      "id": "b844a2e4-5bf2-4837-8fbc-aa9eadfdbae2",
      "name": "Get many rows in NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "PngKKQ0D2nKSCDu8",
          "name": "Tool Acondicionados SAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history_estarter_{{ $('Data').item.json.user_id }}",
        "sessionTTL": 500000,
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3568,
        192
      ],
      "id": "2ed0d326-f100-4333-b590-ddd3be53fe3d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "aOZFOdM8yzoYuvTr",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Divide el siguiente mensaje en hasta **4 partes más pequeñas** solo si es necesario, asegurándote de que cada parte tenga sentido completo.  \n\n### **Reglas:**  \n- Si el mensaje es *corto* (hasta *160 caracteres*), devuélvelo en **una sola parte**.  \n- Si es *mediano* (hasta *400 caracteres*), divídelo en **2 partes**.  \n- Si es *largo* (hasta *600 caracteres*), divídelo en **3 partes**. \n- Si es *muy largo* (más de *600 caracteres*), agrégale una **parte4**.  \n\n- **Evita dividir el mensaje innecesariamente**. Usa la **menor cantidad de partes posible**.  \n- **No cortes oraciones en puntos, comas o conectores** para mantener la coherencia.  \n- **Reemplaza siempre la palabra \"Dosis\" por \"Cantidad\"**.  \n- **No incluyas datos sensibles** en la respuesta, como:  \n  - `user_id: <número>`  \n  - `subscriber_id: <número>`  \n  - `first_name: <nombre>`  \n  - **Elimina estos datos sin dejar rastros.**  \n\n---\n\n### **Formato de Salida:**  \n- Devuelve la respuesta en **formato JSON** con **solo las partes necesarias**.  \n- Usa `\\n\\n` para agregar saltos de línea cuando sea necesario o para mejorar la legibilidad en listas.  \n- **Nunca uses comillas `\"` para resaltar palabras**. En su lugar, usa un solo asterisco: *palabra*.  \n\n#### **Ejemplo de salida:**  \n\n{\n  \"parte1\": \"Texto de la primera parte.\",\n  \"parte2\": \"Texto de la segunda parte.\"\n}\n\n# IMPORTANTE\nJamás generes una salida de este tipo [object Object],[object Object],[object Object] \n\n---\n\n### **Mensaje:**  \n{{ $json.output }}  \n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4272,
        96
      ],
      "id": "fadca20e-3660-4dd9-9b6e-1258b7625dc2",
      "name": "OpenAI1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    }
  ],
  "pinData": {},
  "repo_name": "flujos_n8n",
  "repo_owner": "whitelabel-ai",
  "repo_path": "Automation/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-20T14:08:03.570Z",
      "createdAt": "2025-10-20T14:08:03.570Z",
      "role": "workflow:owner",
      "workflowId": "iOqrbjzccCOcVj7p",
      "projectId": "nfeOgNZ0Q89hgHph"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T15:57:48.917Z",
  "versionId": "1d7a2480-deb8-4e04-b984-5ebb176d9a63"
}